<div class="energy-savings">
<h1>Energy Savings Tips</h1>
<br/>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
      <div class="row">
        <div class="col-xs-12 masonry-brick"> <img src="/assets/control/remodel.jpg" class="img-responsive" /> <i class="fa fa-2x fa-bolt fa-in-circle"></i>
          <h3> 6 Smart Seasonal Energy-Saving Tips</h3>
          <div>Fall is here!  And it’s time to embrace the things that define the season.  For many, that includes football, family outings — and holiday cleaning. </div>
          <br/>
          <div>
            <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"> 1. Vacuum refrigerator coils</a> </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                  <div class="panel-body">Take a minute to see how much dust and debris may have built up on the coils of your refrigerator. Whatever accumulates there can force the unit’s motor to work harder.  Simply vacuuming the coils could reduce refrigerator energy usage which could save you money. </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"> 2. Replace A/C filters</a> </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                  <div class="panel-body">Most manufacturers say you should swap out filters every three months (once a season) to extend the longevity of your air conditioner and achieve the best air quality for your home. </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"> 3. Dust electronics, vents and light bulbs</a> </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                  <div class="panel-body">Did you know dust can prevent electronics, light bulbs and vents from performing at maximum efficiency, which can waste electricity? Next time you have that duster in your hand, take an extra few minutes to clean these areas. </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapse4"> 4. Install a programmable thermostat</a> </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                  <div class="panel-body">Conventional thermostats are designed to keep your home at a constant temperature based on a setting you determine. But with a programmable thermostat you can set your system to automatically heat, cool or turn off at select times of the day based on your lifestyle.  Installing one of these devices could help save you cooling costs. </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapse6"> 6. Seal all cracks</a> </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse">
                  <div class="panel-body">Check the weather stripping and seals around your windows and doors. Sealing gaps can help keep cool air inside the house instead of cooling the outside.  You’ll save energy, and make your home more comfortable, too. </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapse7"> 7. Upgrade to ENERGY STAR® appliances</a> </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse">
                  <div class="panel-body">Older washers, dryers, stoves and refrigerators may still run fine, but could be very energy-inefficient and waste your energy dollars. Consider replacing these and other household appliances with new, more electricity-wise ENERGY STAR® products.  You’ll cut down on your electricity usage.  Every little bit helps! </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 masonry-brick"> <img src="/assets/control/laundry.jpg" class="img-responsive" /> <i class="fa fa-2x fa-bolt fa-in-circle"></i>
          <h3>5 energy-saving hacks for your laundry room</h3>
          <div class="caption"> The average washing machine in Houston costs $0.70 per load to run, which totals $3.50 per week for a family that does five loads of laundry weekly. Over the course of the year, this adds up to $182.
            <p>So what can you do to cut back on these costs?</p>
          </div>
          <div class="panel-group" id="accordion2">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion2" href="#collapse8"> 1. Switch to cold water</a> </h4>
              </div>
              <div id="collapse8" class="panel-collapse collapse">
                <div class="panel-body"> Between 80 and 90 percent of the energy used to wash a load of clothes comes solely from heating up the water. Therefore, washing your clothes in cold water can dramatically cut down on energy costs on laundry day.
                  <p>Many people believe that washing clothes in hot water is more effective in killing bacteria. But oftentimes, the temperature required to kill germs (between 140 and 150 degrees) isn't reached in the average wash cycle. Instead, it's the bleach or peroxide in the detergent that does the trick. Cleaning your machine every once in awhile will accomplish this task, too.</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion2" href="#collapse9"> 2. Opt for Energy Star equipment</a> </h4>
              </div>
              <div id="collapse9" class="panel-collapse collapse">
                <div class="panel-body">Older machines use more energy to run. Upgrading to an Energy Star model can help cut down on energy costs because it was designed specifically for this purpose. In Houston, one load of laundry with an Energy Star machine can cost as little as a quarter to complete. This equals a savings of:
                  <ul>
                    <li> $0.45 per load</li>
                    <li>$2.25 a week</li>
                    <li>$117 a year</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion2" href="#collapse11"> 4. Separate by dry time</a> </h4>
              </div>
              <div id="collapse11" class="panel-collapse collapse">
                <div class="panel-body">If you're still set on sticking with a dryer, know that some clothes dry faster than others. A load of T-shirts, for example, will dry much faster than a load of jeans. Take this into consideration when sorting your clothes and be sure not to mix fast-drying clothes with ones that take a while. This will cut down on the amount of time your dryer is running, and it won't overdry your clothes.</div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion2" href="#collapse12"> 5. Select the right spin cycle</a> </h4>
              </div>
              <div id="collapse12" class="panel-collapse collapse">
                <div class="panel-body"> If your washing machine has options for the spin cycle, choose the fastest one. This will draw more water out of your clothes and require less drying time – simple as that!</div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion2" href="#collapse13"> 6. Clear it out</a> </h4>
              </div>
              <div id="collapse13" class="panel-collapse collapse">
                <div class="panel-body"> There are two places on a dryer that lint will collect and block heat when drying: the lint trap and the ducts. The more buildup in these locations, the more energy it takes to warm up your clothes.
                  <p>Clear the lint trap after every use. This will keep your dryer operating efficiently and remove a potential fire hazard.</p>
                  <p>Ducts collect lint at a much slower rate, so an annual duct cleaning should get the job done.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 masonry-brick"> <img src="/assets/control/cave.jpg" class="img-responsive" /> <i class="fa fa-2x fa-bolt fa-in-circle"></i>
          <h3>4 cool ways to keep the heat out of your garage</h3>
          <div class="caption">Nowadays, garages serve as a homeowner’s central hub for gatherings, whether it be a cook out in the driveway or lounging on the couch to watch a game.</div>
          <div class="panel-group" id="accordion3">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion3" href="#collapse31"> 1. The right R-value </a> </h4>
              </div>
              <div id="collapse31" class="panel-collapse collapse">
                <div class="panel-body">When you transform your garage into a one-stop shop for entertainment, you may notice the temperature isn't what you want it to be. It's easy to compensate using fans or air conditioning. But the real problem may be with the insulation.
                  <p>Insulation is measured with an R-value, which illustrates its ability to decrease the flow of heat. The typical garage door only has an R-value of 5 to 7 percent, but a door with an R-value of 13 to 17.5 percent will give you much better climate retention.</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion3" href="#collapse32"> 2. Don't let the cold air out</a> </h4>
              </div>
              <div id="collapse32" class="panel-collapse collapse">
                <div class="panel-body"> While you're focused on improving the insulation of the garage, take a look around the interior and exterior garage to see if there are cracks or deteriorating caulking on the walls and floor. Patch up holes and replace caulking to keep cool air from escaping.
                  <p> Weather stripping around windows and doors will also keep your cold air inside, where you want it.</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion3" href="#collapse33"> 3. Energy efficiency is key</a> </h4>
              </div>
              <div id="collapse33" class="panel-collapse collapse">
                <div class="panel-body">If you're the type to spend a lot of time in the garage, you likely have a large industrial fan or even a window A/C unit running. These are great for cool temperatures, but your pocketbook may not appreciate the additional cost. Making small changes such as downgrading to a smaller energy-efficient A/C unit can work wonders.
                  <p>Be sure to choose an energy efficient fridge for your garage.Choosing Energy Star appliances, like air conditioning and refrigerators, will help you cut down on your energy bill.</p>
                  <p> Having a refrigerator nearby is common and convenient if you're grilling out, watching the game or just spending time in the garage. Many garage fridges are older models, left over after a kitchen renovation or bought for cheap at a used appliance shop. These likely aren't very energy efficient, so you may consider swapping it out for one with an Energy Star logo on it.It may also be beneficial to only run fans if you intend to be inside the garage for a prolonged period of time. Be sure to unplug and stow away any fans once you're done.</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion3" href="#collapse34"> 4. Choose your fridge wisely </a> </h4>
              </div>
              <div id="collapse34" class="panel-collapse collapse">
                <div class="panel-body"> A compact fridge will serve the same function, but likely won't provide you much in the way of energy savings to run. A compact fridge is very susceptible to the temperature of the room and whether it is surrounded by a cupboard or other structure that will hold heat around it. Be sure to give your fridge room on all sides to cool down, and keep it away from anything that will produce more heat. </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <hr>
      <h3>Quick <i class="fa fa-bolt fa-in-circle"></i> Tips</h3>
      <hr>
            <img src="/assets/control/pets_sm.jpg" class="img-responsive" />

      <h4>Keep your home cool enough for your pets without wasting energy</h4>
      <div>With the dog days of summer upon us, many pet owners are concerned about the health and safety of their pets during high heat and humidity. </div>
      <div class="panel-group" id="accordion7">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5> <a data-toggle="collapse" data-parent="#accordion7" href="#collapse71">The right temperature setting </a> </h5>
          </div>
          <div id="collapse71" class="panel-collapse collapse">
            <div class="panel-body">According to veterinarians with the ASPCA, most pets will be comfortable in homes with thermostats set to 78-80 degrees. That means you can probably kick the temperature up a little when you leave for the day without compromising your pet's safety.
              However, all animals are different. If your pet is older, overweight, has a short muzzle or has heart or lung disease, talk to your veterinarian about these unique needs. </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5 > <a data-toggle="collapse" data-parent="#accordion7" href="#collapse72"> Provide plenty of water </a> </h5>
          </div>
          <div id="collapse72" class="panel-collapse collapse">
            <div class="panel-body"> During the hottest months of the year, you should make sure your pet's water dish is full before you leave the house, and maybe even put out an additional bowl of water. You can also encourage your animals to drink by placing their water bowls near their food or other treats. </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5 > <a data-toggle="collapse" data-parent="#accordion7" href="#collapse73"> Monitor their behavior </a> </h5>
          </div>
          <div id="collapse73" class="panel-collapse collapse">
            <div class="panel-body">If your home is too warm for your pets, their behaviors may let you know. If your dog or cat is mostly inactive and laying down near cooler areas, such as under your bed, next to the refrigerator or in front of a fan or air conditioning vent, this may be an indication that they are uncomfortable and looking for ways to cool off.
              .</div>
          </div>
        </div>
      </div>
      <br>
      <img src="/assets/control/ledcfl_sm.jpg" class="img-responsive" />
      <h4>Upgrading your home lighting? How to choose between LEDs and CFLs</h4>
      <div>Changing the home’s lighting offers an attractive option for homeowners as energy-efficient light bulbs provide excellent energy savings without significant costs. </div>
      <div class="panel-group" id="accordion5">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5> <a data-toggle="collapse" data-parent="#accordion5" href="#collapse51"> Which lasts longer? </a> </h5>
          </div>
          <div id="collapse51" class="panel-collapse collapse">
            <div class="panel-body">LEDs have the longest life span of any type of bulb. The average LED shines for 50,000 hours, while an average CFL will last 8,000 hours. By comparison, an incandescent bulb lasts for 1,200 hours.</div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5 > <a data-toggle="collapse" data-parent="#accordion5" href="#collapse52"> How much energy is used?</a> </h5>
          </div>
          <div id="collapse52" class="panel-collapse collapse">
            <div class="panel-body"> Both CFLs and LEDs use less energy than incandescents, but LEDs use the least. Per lumen, CFLs use 13-15 watts and LEDs use 6-8 watts. </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5 > <a data-toggle="collapse" data-parent="#accordion5" href="#collapse53"> Which costs less?</a> </h5>
          </div>
          <div id="collapse53" class="panel-collapse collapse">
            <div class="panel-body">Though prices are falling, LEDs still cost the most in stores. Per bulb, LEDs average around $8, while CFLs average $2. In total, LEDs will have greater energy savings over their life span, and both options will save more than replacing short-lived incandescents.</div>
          </div>
        </div>
      </div>
      <br>
      <hr>
      <img src="/assets/control/routine_sm.jpg" class="img-responsive" />
      <h4>Wake up and cut the energy use in your morning routine</h4>
      <div>You’ve probably thought about how much of your energy it takes for you to get going in the morning. But do you know how much your morning routine is contributing to your home’s energy use? </div>
      <div class="panel-group" id="accordion6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5> <a data-toggle="collapse" data-parent="#accordion6" href="#collapse61"> Your chargers? </a> </h5>
          </div>
          <div id="collapse61" class="panel-collapse collapse">
            <div class="panel-body">Don't forget to unplug chargers in other rooms as well. If you have an electric toothbrush, be aware that its charging station is using electricity even when the device itself has a full charge. If you don't need a charge, there's no reason to leave it plugged in.</div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5 > <a data-toggle="collapse" data-parent="#accordion6" href="#collapse62"> Your morning shower?</a> </h5>
          </div>
          <div id="collapse62" class="panel-collapse collapse">
            <div class="panel-body"> Did you realize taking a shower uses electricity? In fact, a hot water heater is one of home's biggest electricity hogs, accounting for 17 percent of the total energy use on average. Reducing the amount of time you shower is one of the easiest ways to lower your electricity consumption. </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5 > <a data-toggle="collapse" data-parent="#accordion6" href="#collapse63"> Your coffee pot?</a> </h5>
          </div>
          <div id="collapse63" class="panel-collapse collapse">
            <div class="panel-body">Try keeping all your kitchen energy vampires, such as toaster ovens, blenders and other small devices with digital interfaces, plugged into one power strip that you can easy turn off on your way out the door.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
