
#payment-accounts-container,
#payment-accounts {
  width: 100%;
}

#payment-accounts-container {
  .dropdown-menu {
    width: 50%;

    .text-muted {
      padding: 10px 20px 5px 20px;
    }
    i.fa {
      margin-right: 5px;
    }
  }
}

#payment-accounts {
  text-align: left;

  i.fa,
  i.fa-chevron-down {
    line-height: 20px;
    margin-right: 5px;
  }
  i.fa-chevron-down {
    margin: 0;
  }
}
.btn-round-lg {
  border-radius: 5px;
}
.btn-round-sides {
  border-radius: 0px 5px 5px 0px;
}
.custom {
  width: 315px !important;
}
.linkLabel {
   margin: 15px 5px 5px 5px;
  font-weight: 700;
  text-align: center;
  font-size: 12px;
}
.btn-payment {
  color: #5cb85c !important;
   margin: 5px 5px 5px 5px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 5px;
}
.dropdown-menu.pull-right {
  right: 243px !important;
  left: 363px !important;
}
