
#payment-accounts-container,
#payment-accounts {
  width: 100%;
}

#payment-accounts-container {
  position: static;

  .dropdown-menu {
    width: 80%;
    position: static;

    .dropdown-item {
      position: relative;
      z-index: 3001;
    }

    .text-muted {
      padding: 10px 20px 5px 20px;
    }
    i.fa {
      margin-right: 5px;
    }
  }
}

#payment-accounts {
  text-align: left;

  i.fa,
  i.fa-chevron-down {
    line-height: 20px;
    margin-right: 5px;
  }
  i.fa-chevron-down {
    margin: 0;
  }
}
.btn-round-lg {
  border-radius: 5px;
}
.btn-round-sides {
  border-radius: 0px 5px 5px 0px;
}
.custom {
  width: 315px !important;
}
.btnCustom {
  margin-left: 30px !important;
}

.linkLabel {
  margin: 15px 5px 5px 5px;
  font-weight: 700;
  text-align: center;
  font-size: 12px;
}
.btn-payment {
  color: #5cb85c !important;
  margin: 5px 5px 5px 5px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 5px;
}

hr {
  margin-top:5px;
  margin-bottom:5px;

}

.btn-group.btn-block {
  > .btn {
    width:10%
  }
  > .btn:first-child {
    width:90%
  }

}

@media only screen and (max-width :992px) {
  .open {
    text-align: center;
    .dropdown-menu {
      position: static;
      display: block;
      width: 100%;
    }
  }
}
