<section class="section-container">
  <h2>Make A Payment</h2>
  <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. </p>

  <br/>

  <div class="row">
    <div class="col-md-8">

      <mygexa-current-charges></mygexa-current-charges>

    </div>
    <div class="col-md-4">

      <div class="jumbotron" style="padding:1rem 2rem;">
        Autopay is setup on this account and payment will be taken on 05/30/2017
        <div class="text-right" style="padding-top:2rem;">
          <a routerLink="/payments/payment-options/auto-bill-payment">cancel autopay</a>
        </div>
      </div>

    </div>
  </div>
</section>
