<section class="section-container">
  <h2>Make A Payment</h2>
  <p *ngIf="paymentSubmittedWithoutError == null">Let's get this over quickly.</p>

  <div class="alert alert-success" *ngIf="paymentSubmittedWithoutError === true" >
    <i class="fa fa-fw fa-check"></i> <b>Thanks!</b> your payment was submitted and is now pending!
    <br/><br/>
    <p><a class="btn btn-default" routerLink="/payments/view-my-bill">Back to View My Bill</a></p>
  </div>
  <div class="alert alert-danger" *ngIf="paymentSubmittedWithoutError === false">
    <i class="fa fa-fw fa-exclamation-circle"></i> <b>Sorry</b> an error occurred when submitting your payment!
  </div>

  <br/>

  <ng-container *ngIf="!LatestInvoice" >
    <h4 class="text-muted"><i class="fa fa-fw fa-circle-o-notch fa-spin"></i> Loading your current bill.</h4>
  </ng-container>


  <form
    class="form-horizontal"
    [hidden]="!LatestInvoice"
    [formGroup]="formGroup" novalidate

    >

    <div class="form-group">
      <label for="payment-amount" class="col-md-3 control-label">Current Balance</label>
      <div class="col-md-8 col-lg-6">
        <p class="form-control-static"><b>${{ ActiveServiceAccount?.Current_Due | FloatToMoneyPipe }}</b></p>
      </div>
    </div>

    <div class="form-group">
      <label for="payment-amount" class="col-md-3 control-label">Past Due</label>
      <div class="col-md-8 col-lg-6">
        <p class="form-control-static text-muted">${{ ActiveServiceAccount?.Past_Due | FloatToMoneyPipe }}</p>
      </div>
    </div>

    <div class="form-group">
      <label for="payment-amount" class="col-md-3 control-label">Pay Now</label>
      <div class="col-md-8 col-lg-6">
        <input
          type="text"
          class="form-control"
          id="payment-amount"
          formControlName="payment_now"
          autocomplete="off"
          (keyup)="checkAmount()"
        />
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-3">
      </div>
      <div class="col-md-8 col-lg-6">
        <small class="text-danger" *ngIf="zeroAmountEntered === true"><i class="fa fa-fw fa-asterisk"></i> Choose an amount greater than $0</small>
        <small class="text-danger" *ngIf="formGroup.controls?.payment_now.errors"><i class="fa fa-fw fa-asterisk"></i> required</small>
        <small class="text-success" *ngIf="formGroup.controls?.payment_now.valid && !(zeroAmountEntered === true)"><i class="fa fa-fw fa-check"></i> Ok</small>
      </div>
    </div>

    <div class="form-group">
      <label for="payment-accounts" class="col-md-3 control-label">Payment Account</label>
      <div class="col-md-8 col-lg-6">
        <p class="form-control-static" *ngIf="Paymethods === null"><i class="fa fa-fw fa-circle-o-notch fa-spin"></i> Loading your payment accounts...</p>
        <div class="btn-group" id="payment-accounts-container" [hidden]="Paymethods === null">
          <button
            class="btn btn-default dropdown-toggle"
            type="button"
            data-toggle="dropdown"
            id="payment-accounts"
            [disabled]="paymentLoadingMessage"
          >
            <i class="fa fa-chevron-down pull-right"></i>
            <ng-container *ngIf="paymentOneTimeType === 'eCheck'">e-Check</ng-container>
            <ng-container *ngIf="paymentOneTimeType === 'CreditCard'">Credit Card</ng-container>
            <ng-container *ngIf="!paymentOneTimeType && PaymethodSelected != null">
              <i class="fa fa-fw" [ngClass]="PaymethodSelected.getFontAwesomeTag()"></i>
              {{ PaymethodSelected.getBrand() }} ending in {{ PaymethodSelected.getLast() }}
            </ng-container>
          </button>
          <ul class="dropdown-menu dropdown-menu-right">
            <li class="text-muted" *ngIf="!Paymethods">Payment Accounts (none)</li>
            <ng-container *ngIf="Paymethods">
              <li class="text-muted">Payment Accounts</li>
              <li *ngFor="let Paymethod of Paymethods">
                <a href="#" (click)="paymentSelectMethod($event, Paymethod)"><i class="fa fa-fw" [ngClass]="Paymethod.getFontAwesomeTag()"></i> ending {{ Paymethod.getLast() }}</a>
              </li>
            </ng-container>
            <li role="separator" class="divider"></li>
            <li class="text-muted">One Time Payment</li>
            <li><a href="#" (click)="paymentOneTime($event, 'CreditCard')">Credit Card</a></li>
            <li><a href="#" (click)="paymentOneTime($event, 'eCheck')">e-Check</a></li>
          </ul>
        </div>
      </div>
    </div>

    <ng-container *ngIf="paymentOneTimeType !== null">

      <mygexa-payment-method-add-cc
        *ngIf="paymentOneTimeType === 'CreditCard'"
        (changed)="paymentOneTimeChanged($event)"
        form_horizontal="true"
      ></mygexa-payment-method-add-cc>

      <mygexa-payment-method-add-echeck
        *ngIf="paymentOneTimeType === 'eCheck'"
        (changed)="paymentOneTimeChanged($event)"
        form_horizontal="true"
      ></mygexa-payment-method-add-echeck>

      <div class="form-group">
        <div class="col-md-offset-4 col-md-8 col-lg-offset-3 col-lg-9">
          <div class="checkbox">
            <label>
              <input
                type="checkbox"
                formControlName="payment_save"
              > Save for future payment
            </label>
          </div>
        </div>
      </div>

    </ng-container>

    <div [ngSwitch]="currentView">
      <div class="form-group">
        <div class="col-md-offset-3 col-md-8 col-lg-offset-3 col-lg-6" *ngSwitchCase="'PastDuePayNow'">
          <button class="btn btn-warning exceededDueDatebtn btn-lg btn-block "(click)="checkAmountBeforeSubmit()"  type="button">
            <span *ngIf="processing" class="fa fa-spin fa-circle-o-notch"></span>
            <span class="small">{{processing ? 'Submitting your payment' : 'SUBMIT PAYMENT'}}</span></button>
        </div>
      </div>
      
      <div *ngSwitchCase="'PaymentPending'" class="form-group">
        <div class="col-md-offset-3 col-md-8 col-lg-offset-3 col-lg-6">
          <div class="btn-group btn-block">
            <button type="button" class="btn btn-success btn-lg " data-label-placement>
              <span *ngIf="processing" class="fa fa-spin fa-circle-o-notch"></span>
              <span class="small">{{processing ? 'Submitting your payment' : 'PAYMENT PENDING'}}</span>
            </button>
            <button type="button" class="btn btn-success dropdown-toggle btn-lg active" [disabled]="!paymentReady || paymentLoadingMessage" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
              <li class="linkLabel" *ngIf="!autoPay">
                Your payment of ${{ LatestBillAmount | number: dollarAmountFormatter }} is pending
              </li>
              <hr>
              <li>
                <a (click)="checkAmountBeforeSubmit()" class="btn btn-link btn-small btn-success btn-payment" >
                  SUBMIT PAYMENT
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div *ngSwitchCase="'AutoPay'" class="form-group">
        <div class="col-md-offset-3 col-md-8 col-lg-offset-3 col-lg-6">
          <div class="btn-group btn-block">
            <button  type="button" class="btn btn-success btn-lg " data-label-placement>
              <span *ngIf="!processing" class="fa fa-clock-o"></span>
              <span *ngIf="processing" class="fa fa-spin fa-spinner"></span>
              <span class="small">{{processing ? 'Submitting your payment....' : 'AUTO PAY IS SCHEDULED'}}</span>
            </button>
            <button type="button" class="btn btn-success dropdown-toggle btn-lg active" [disabled]="!paymentReady || paymentLoadingMessage" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right"  role="menu">
              <li class="linkLabel" *ngIf="autoPay">
                Auto Pay is scheduled for {{LatestBillPaymentDate| date:'MM/dd/yyyy'}}
              </li>
              <hr>
              <li>
                <a (click)="checkAmountBeforeSubmit()" class="btn btn-link btn-small btn-success btn-payment" >
                  SUBMIT PAYMENT
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div *ngSwitchCase="'MakePayment'" class="form-group">
        <div class="form-group text-center" *ngIf="paymentSubmittedWithoutError != true">
          <div class="col-md-offset-3 col-md-8 col-lg-offset-3 col-lg-6" >
            <button
              type="submit"
              class="btn btn-lg btn-primary btn-block"
              (click)="checkAmountBeforeSubmit()"
              [disabled]="!paymentReady || paymentLoadingMessage">
              <i class="fa fa-spin fa-spinner" *ngIf="paymentLoadingMessage"></i>
              <span class="small">{{ paymentLoadingMessage ? paymentLoadingMessage : 'SUBMIT PAYMENT' }}</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!--<div class="form-group" *ngIf="paymentSubmittedWithoutError != true">-->
      <!--<div class="col-lg-8">-->
        <!--<button-->
          <!--type="submit"-->
          <!--class="btn  btn-primary"-->
          <!--(click)="paymentSubmit()"-->
          <!--[disabled]="!paymentReady || paymentLoadingMessage">-->
          <!--<i class="fa fa-spin fa-spinner" *ngIf="paymentLoadingMessage"></i>-->
          <!--{{ paymentLoadingMessage ? paymentLoadingMessage : 'Make Payment' }}-->
        <!--</button>-->
      <!--</div>-->
    <!--</div>-->
<br/><br/><br/>
  </form>
</section>
<mygexa-payment-confirmation-modal (onPaymentConfirmationEvent) = "onSelection($event)" #paymentConfirmationModal></mygexa-payment-confirmation-modal>
