.service-enrollment {
	border:1px solid #000000;
	margin:20px 0px;
	.service-type {
		margin:20px 0px;
	}
	li {
		width: 10em;
		// height: 2em;
		text-align: center;
		// line-height: 2em;
		// border-radius: 1em;
		// margin: 0 1em;
		display: inline-block;
		position: relative;
		p{
			// width:18%;
			font-size:12px;
		}
	}
	li::before{
	  content: '';
    position: absolute;
    top: 0.8em;
    left: -5em;
    width: 10em;
    height: 0.1em;
    background: black;
    z-index: -1;
	}
	li:first-child::before {
		display: none;
	}
}
