<hr/>
 <div class="service-enrollment">
  <div class="row service-type">
    <div class="col-md-3 col-xs-3">
      <a (click)="toggleViewTransaction($event)"><i class="fa fa-chevron-{{ isTransactionDisplay ? 'up' : 'down'}}"></i> <strong>Transfer of Service</strong></a>
    </div>
    <div class="col-md-4 col-xs-4">
      <p>20 July 2016</p>
    </div>
    <div class="col-md-4 col-xs-4">
      <p>Confirmation No: 384652389583670</p>
    </div>
  </div>
  <div class="row hidden-xs hidden-sm" style="display: none">
    <div class="col-md-12">
    <ul class="">
      <!-- li tag should be in a for loop. since we dont have mock json, li is repeated so many times
  Once we get the data, use *ngFor -->
      <li><i class="fa fa-check-circle-o fa-2x"></i>
        <p>Submitted</p>
      </li>
      <li><i class="fa fa-check-circle-o fa-2x"></i>
        <p>Processing</p>
      </li>
      <li><i class="fa fa-check-circle-o fa-2x"></i>
        <p>Switching Utility</p>
      </li>
      <li class=""><i class="fa fa-check-circle-o fa-2x"></i>
        <p>Local Utlity Processed</p>
      </li>
      <li><i class="material-icons">lens</i>
        <p>Complete</p>
      </li>
    </ul>
    </div>
  </div>
  <div *ngIf="isTransactionDisplay">
    <mygexa-transfer-service-info></mygexa-transfer-service-info>
  </div>
</div>
