<form
  [formGroup]="formGroup"
  [ngClass]="{ 'form-horizontal': !!form_horizontal }"
  (submit)="formGroupSubmit()"
  novalidate
  autocomplete="off"
>
  <ng-template *ngIf="!!form_horizontal; then FormHorizontal else FormNormal"></ng-template>
  <ng-template #FormHorizontal>
    <div class="form-group">
      <label for="payment-horizontal-cc-name-on-card" class="col-md-3 control-label">Name on Card</label>
      <div class="col-md-8 col-lg-6">
        <input
          type="text"
          class="form-control "
          id="payment-horizontal-cc-name-on-card"
          formControlName="cc_name"
          maxlength="32"
        />
        <small class="text-danger" *ngIf="formGroup.controls?.cc_name.pristine"><i class="fa fa-fw fa-asterisk"></i> required</small>
        <small class="text-danger" *ngIf="formGroup.controls?.cc_name.errors && !formGroup.controls?.cc_name.pristine">
          <i class="fa fa-fw fa-asterisk"></i> requires a valid credit card name</small>
        <small class="text-success" *ngIf="formGroup.controls?.cc_name.valid"><i class="fa fa-fw fa-check"></i> Ok</small> </div>
      <!--<small class="text-danger" *ngIf="formGroup.controls?.cc_name.errors"><i class="fa fa-fw fa-asterisk"></i> required</small> <small class="text-success" *ngIf="formGroup.controls?.cc_name.valid"><i class="fa fa-fw fa-check"></i> Ok</small>-->
      <!--<small class="text-danger" *ngIf="formGroup.controls?.cc_name.hasError('validateCardName')"><i class="fa fa-fw fa-asterisk"></i> Invalid card name</small> <small class="text-success" *ngIf="formGroup.controls?.cc_name.valid"><i class="fa fa-fw fa-check"></i> Ok</small> </div>-->

    </div>
    <div class="form-group">
      <label for="payment-horizontal-cc-number" class="col-md-3 control-label">Number</label>
      <div class="col-md-8 col-lg-6">
        <input
          type="text"
          class="form-control "
          id="payment-horizontal-cc-number"
          formControlName="cc_number"
          maxlength="19"
        />
        <small class="text-danger" *ngIf="formGroup.controls?.cc_number.pristine"><i class="fa fa-fw fa-asterisk"></i> required</small>
        <small class="text-danger" *ngIf="formGroup.controls?.cc_number.errors && !formGroup.controls?.cc_number.pristine"><i class="fa fa-fw fa-asterisk"></i> requires a valid credit card number</small>
        <small class="text-success" *ngIf="formGroup.controls?.cc_number.valid"><i class="fa fa-fw fa-check"></i> Ok</small> </div>
    </div>
    <div class="form-group">
      <label for="payment-horizontal-cc-month" class="col-md-3 control-label">Expiration</label>
      <div class="col-md-3 col-lg-3">
        <select
          class="form-control "
          id="payment-horizontal-cc-month"
          formControlName="cc_month"
        >
          <option *ngFor="let month of months" [value]="month[0]">{{ month[0] }} - {{ month[1] }}</option>
        </select>
        <small class="text-danger" *ngIf="formGroup.controls?.cc_month.errors"><i class="fa fa-fw fa-asterisk"></i> required</small>
        <small class="text-success" *ngIf="formGroup.controls?.cc_month.valid"><i class="fa fa-fw fa-check"></i> Ok</small> </div>
      <div class="col-md-3 col-lg-3">
        <select
          class="form-control "
          id="payment-horizontal-cc-year"
          formControlName="cc_year"
        >
          <option *ngFor="let year of years" [value]="year">{{ year }}</option>
        </select>
        <small class="text-danger" *ngIf="formGroup.controls?.cc_year.errors"><i class="fa fa-fw fa-asterisk"></i> required</small>
        <small class="text-success" *ngIf="formGroup.controls?.cc_year.valid"><i class="fa fa-fw fa-check"></i> Ok</small> </div>
    </div>
    <div class="form-group">
      <label for="payment-horizontal-cc-cvv" class="col-md-3 control-label">CVV</label>
      <div class="col-md-8 col-lg-6">
        <input
          type="text"
          class="form-control"
          id="payment-horizontal-cc-cvv"
          formControlName="cc_ccv"
          maxlength="3"
        />
        <small class="text-danger" *ngIf="formGroup.controls?.cc_ccv.errors"><i class="fa fa-fw fa-asterisk"></i> required</small>
        <small class="text-success" *ngIf="formGroup.controls?.cc_ccv.valid"><i class="fa fa-fw fa-check"></i> Ok</small> </div>
    </div>
  </ng-template>
  <ng-template #FormNormal>
    <div class="row">
      <div class="col-md-6 col-lg-3">
        <div class="form-group">
          <label for="payment-normal-cc-name-on-card">Name on Card</label>
          <input
            type="text"
            class="form-control "
            id="payment-normal-cc-name-on-card"
            formControlName="cc_name"
            maxlength="32"
          />
        <div><small class="text-danger" *ngIf="formGroup.controls?.cc_name.errors?.required"> <i class="fa fa-fw fa-asterisk"></i> required</small></div>
        <!--<small class="text-danger" *ngIf="formGroup.controls?.cc_name.pristine"><i class="fa fa-fw fa-asterisk"></i> required </small>-->
          <div><small class="text-danger" *ngIf="formGroup.get('cc_name').touched  && ( formGroup.controls?.cc_name.errors?.validateName || formGroup.controls?.cc_name.errors?.validateCardName || formGroup.controls?.cc_name.errors?.validateNameOnCard )">
            <i class="fa fa-fw fa-asterisk"></i> requires a valid card name (pattern eg: John Doe)</small></div>
          <div><small class="text-success" *ngIf="formGroup.controls?.cc_name.valid"><i class="fa fa-fw fa-check"></i> Ok</small></div> </div>
          <!--<small class="text-danger" *ngIf="formGroup.controls?.cc_name.errors"><i class="fa fa-fw fa-asterisk"></i> required</small> <small class="text-success" *ngIf="formGroup.controls?.cc_name.valid"><i class="fa fa-fw fa-check"></i> Ok</small> </div>-->
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="form-group">
          <label for="payment-normal-cc-number">Card Number</label>
          <input
            type="text"
            class="form-control "
            id="payment-normal-cc-number"
            formControlName="cc_number"
            maxlength="16"
          />
          <small class="text-danger" *ngIf="formGroup.controls?.cc_number.pristine"><i class="fa fa-fw fa-asterisk"></i> required</small> <small class="text-danger" *ngIf="formGroup.controls?.cc_number.errors && !formGroup.controls?.cc_number.pristine"><i class="fa fa-fw fa-asterisk"></i> requires a valid credit card number</small> <small class="text-success" *ngIf="formGroup.controls?.cc_number.valid"><i class="fa fa-fw fa-check"></i> Ok</small> </div>
      </div>
      <div class="col-xs-6 col-md-2">
        <div class="form-group">
          <label for="payment-normal-cc-month">Expiration</label>
          <select
            class="form-control "
            id="payment-normal-cc-month"
            formControlName="cc_month"
          >
            <option *ngFor="let month of months" [value]="month[0]">{{ month[0] }} - {{ month[1] }}</option>
          </select>
        </div>
      </div>
      <div class="col-xs-6 col-md-2">
        <div class="form-group">
          <label for="payment-normal-cc-year">&nbsp;</label>
          <select
            class="form-control "
            id="payment-normal-cc-year"
            formControlName="cc_year"
          >
            <option *ngFor="let year of years" [value]="year">{{ year }}</option>
          </select>
        </div>
      </div>
      <div class="col-xs-4 col-xs-offset-9 col-sm-4 col-sm-offset-8 col-md-3 col-md-offset-0 col-lg-1">
        <div class="form-group">
          <label for="payment-normal-cc-ccv">CCV</label>
          <input
            type="text"
            class="form-control ccvWidth"
            id="payment-normal-cc-ccv"
            formControlName="cc_ccv"
            maxlength="3"
          />
          <small class="text-danger" *ngIf="formGroup.controls?.cc_ccv.errors"><i class="fa fa-fw fa-asterisk"></i>required</small>
          <small class="text-success" *ngIf="formGroup.controls?.cc_ccv.valid"><i class="fa fa-fw fa-check"></i> Ok</small> </div>
      </div>
    </div>
  </ng-template>
</form>
