<nav class="navbar navbar-inverse">
  <div class="container container-relaxed">
    <ul class="nav navbar-nav navbar-left">
      <li class="col-xs-4 col-sm-12"><a routerLink="/"><small><span class="fa fa-rocket fa-rotate-45 fa-fw"></span> My Gexa {{env}} </small></a></li>
      <li class="col-xs-4 visible-xs pull-right"><a href="#" (click)="logout($event)"><small><span class="fa fa-sign-out fa-white"></span>Logout</small></a></li>

    </ul>
    <ul class="nav navbar-nav navbar-right hidden-xs">
      <!--<li>-->
        <!--<form role="search">-->
          <!--<div class="form-group">-->
            <!--<input type="text" class="form-control" placeholder="Search"/>-->
          <!--</div>-->
        <!--</form>-->
      <!--<li>-->
      <li><a routerLink="/account/profile"><small><span class="fa fa-user-circle fa-white"></span> <span class="hidden-xs">Hi,  {{ customerDetails?.First_Name.charAt(0).toUpperCase() +  customerDetails?.First_Name.slice(1).toLowerCase()  }}!</span></small></a></li>
      <li class="hidden"><a href="#"><small><span class="fa fa-bell fa-white"></span> <span class="hidden-xs">Notifications</span></small></a></li>
      <li><a href="#" (click)="logout($event)"><small><span class="fa fa-sign-out fa-white"></span> <span class="hidden-xs">Logout</span></small></a></li>
      <li><a href="#"><small><span class="fa fa-phone fa-white"></span> <span class="hidden-xs">866-961-9399</span></small></a></li>
    </ul>
  </div>
</nav>
<nav class="navbar custom-nav" id="custom-nav">
  <div class="container container-relaxed">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle pull-left no-hamburger" (click)="toggleAccordion($event)"><small>MENU</small></button>
      <div class="navbar-logo">
        <a [routerLinkActive]="['active']" routerLink="/"><img src="/assets/global/gexa-lq.png" alt="Gexa Energy"/></a>
      </div>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">

       	<li
          class="dropdown-full account-menu"
          [ngClass]="{ open: hoverMenu === 'account' }"
          (mouseenter)="doMouseenter('account')"
          (mouseleave)="doMouseleave()"
        >
    		  <a
            routerLink="/account"
            (click)="doMouseleave()"
            [ngClass]="{ 'active': startsWith(Router.url, '/account') }"
            class="dropdown-toggle"
          >My Account</a>
    		  <div class="dropdown-menu">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 hero no-margin">
              <div class="">
                <h3><a
                  routerLink="/account"
                  (click)="doMouseleave()"
                  [routerLinkActive]="['active']"
                > My Account</a></h3>
                <p>Update your security or Go Paperless! Set your personal preferences with ease.</p>
                <p>And don’t forget check your Referrals for even more savings.</p>
              </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
              <ul class="list-unstyled list-center list-rule">
                <li><a (click)="doMouseleave()" routerLink="/account/profile">Profile and Preferences</a></li>
                <li><a (click)="doMouseleave()" routerLink="/account/message-center">Message Center</a></li>
                <li><a (click)="doMouseleave()" routerLink="/account/refer-a-friend/referral-options">Rewards and Referrals</a></li>
              </ul>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
              <ul class="list-unstyled list-center">
                <li><strong> Other My Account Favorites</strong></li>
                <li>Reset Your Password</li>
                <li>Change Your Security Questions</li>
                <li>Sign up for Email Notifications</li>
                <li>Go Paperless!</li>
              </ul>
            </div>
          </div>
        </li>

        <li role="separator" class="divider"> </li>

        <li
          class="dropdown-full plans-menu"
          [ngClass]="{ open: hoverMenu === 'plans' }"
          (mouseenter)="doMouseenter('plans')"
          (mouseleave)="doMouseleave()"
        >
          <a
            routerLink="/plans-and-services"
            (click)="doMouseleave()"
            [ngClass]="{ 'active': startsWith(Router.url, '/plans-and-services') }"
            class="dropdown-toggle"
          >Plans &amp; Services</a>
          <div class="dropdown-menu plans">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 hero no-margin">
              <div class="">
                <h3><a
                  routerLink="/plans-and-services"
                  (click)="doMouseleave()"
                  [routerLinkActive]="['active']"
                > Plans &amp; Services</a></h3>
                <p>Check often to see the latest incentives in Plans and Services.</p>
                <p> Don’t get caught off guard when you plan expires,  be prepared to save.</p>
              </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
              <ul class="list-unstyled list-center list-rule">
                <li><a (click)="doMouseleave()" routerLink="/plans-and-services/my-services-plans">My Service Plans</a></li>
                <li><a (click)="doMouseleave()" routerLink="/plans-and-services/add-service-location">Add Service Location</a></li>
                <li><a (click)="doMouseleave()" routerLink="/plans-and-services/moving">Moving Center</a></li>
                <li><a (click)="doMouseleave()" routerLink="/plans-and-services/order-status">Order Status</a></li>
              </ul>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
              <ul class="list-unstyled list-center">
                <li><strong>Other Plans and Services Options</strong></li>
                <li>Upgrade Your Plan</li>
                <li>Renew Your Plan</li>
                <li>Add a New Service Location</li>
                <li>Look up your new address</li>
              </ul>
            </div>
          </div>
        </li>

        <li role="separator" class="divider"> </li>

         <li
           class="dropdown-full payment-menu"
           [ngClass]="{ open: hoverMenu === 'payment' }"
           (mouseenter)="doMouseenter('payment')"
           (mouseleave)="doMouseleave()"
         >
          <a
            routerLink="/payments"
            (click)="doMouseleave()"
            [ngClass]="{ 'active': startsWith(Router.url, '/payments/') }"
            class="dropdown-toggle"
          >Payment Center</a>
          <div class="dropdown-menu">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 hero no-margin">
              <div class="">
                <h3><a
                  routerLink="/payments"
                  (click)="doMouseleave()"
                  [routerLinkActive]="['active']"
                >Payment Center</a></h3>
                <p>We make it easy for you to stay on top of and renew your plans.</p>
                <p>You can set up convenient ways to manage your account.</p>
              </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
              <ul class="list-unstyled list-center list-rule">
                <li><a (click)="doMouseleave()" routerLink="/payments/view-my-bill"> View My Bill</a></li>
                <li><a (click)="doMouseleave()" routerLink="/payments/make-payment">Make a Payment</a></li>
                <li><a (click)="doMouseleave()" routerLink="/payments/payment-accounts">Payment Accounts</a></li>
                <li><a (click)="doMouseleave()" routerLink="/payments/payment-options">Payment Options</a></li>
                <li><a (click)="doMouseleave()" routerLink="/payments/payment-history">Payment History</a></li>
              </ul>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
              <ul class="list-unstyled list-center">
                <li><strong>Other Plans and Services Options</strong></li>
                <li>Mange Autopay</li>
                <li>Manage Payment Account</li>
                <li>Need to Update Your Credit Card?</li>
                <li>Apply for a Payment Extension</li>
                <li>Set-Up Budget Billing</li>
               </ul>
            </div>
          </div>
        </li>

        <li role="separator" class="divider"> </li>

        <li
          class="dropdown-full control-menu"
          [ngClass]="{ open: hoverMenu === 'control' }"
          (mouseenter)="doMouseenter('control')"
          (mouseleave)="doMouseleave()"
        >
          <a
            routerLink="/controls-and-insights"
            (click)="doMouseleave()"
            [ngClass]="{ 'active': startsWith(Router.url, '/controls-and-insights') }"
            class="dropdown-toggle"
          >Control &amp; Insights</a>
          <div class="dropdown-menu">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 hero no-margin">
              <div>
                <img src="/assets/global/gexa-menu-lyric.png"/>
                <h3><a
                  routerLink="/controls-and-insights"
                  (click)="doMouseleave()"
                  [routerLinkActive]="['active']"
                >Control &amp; Insights</a></h3>
                <p>Combine the power of Gexa Energy with your smart home.</p>
              </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
              <ul class="list-unstyled list-center list-rule">
                <li><a (click)="doMouseleave()" routerLink="/controls-and-insights/usage-history"> Usage History</a></li>
                <li><a (click)="doMouseleave()" routerLink="/controls-and-insights">Insights</a></li>
                <li><a (click)="doMouseleave()" routerLink="/controls-and-insights">Things</a></li>
                <li><a (click)="doMouseleave()" routerLink="/controls-and-insights">Home Profile</a></li>
             </ul>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
              <ul class="list-unstyled list-center">
                <li><strong>Other Control and Insights Favorites </strong></li>
                <li>Check Your Home Temperature</li>
                <li>Check Your Automation Schedules</li>
                <li>Add a New Honeywell Thermostat</li>
               </ul>
            </div>
          </div>
        </li>

      </ul>
    </div>
  </div>
</nav>
<br class="visible-xs" />
<div class="container-fluid mygexa-responsive-menu visible-xs" *ngIf="accordionVisible">
    <div class="row" style="height: 100%;">
      <mygexa-responsive-hamburger-menu
        (signout)="logout($event)"
        (notify)="onNotify($event)"
      ></mygexa-responsive-hamburger-menu>
    </div>
</div>

<div class="container-fluid">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>

<mygexa-home-multi-accounts-modal
  [ServiceAccounts]="ServiceAccountService.ServiceAccountsObservable | async"
  #homeMultiAccountsModal
></mygexa-home-multi-accounts-modal>
