<div class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" [routerLink]="['/']">My Gexa ({{env}})</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li [routerLinkActive]="['active']"><a [routerLink]="['/account']"><i class="fa fa-user-circle"></i> Account</a></li>
            <li [routerLinkActive]="['active']"><a [routerLink]="['/payments']"><i class="fa fa-credit-card"></i> Payment Center</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href (click)="logout()">Log Out</a></li>
          </ul>
          <p class="nav navbar-text navbar-right">Hello, {{user}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>

