<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="jumbotron">
        <h2>My Gexa</h2>

        <form #f="ngForm" novalidate (ngSubmit)="save(f.value, f.valid)">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
              <input (ngModel)="user.Email_Address" name="Email_Address" type="text" class="form-control" placeholder="Email Address"
                     required  #email="ngModel">
            </div>
            <small [hidden]="email.valid || (email.pristine && !f.submitted)" class="text-danger">Email is required and format should be <i>john@doe.com</i>.</small>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
              <input [(ngModel)]="user.Zip_Code" name="Zip" type="text" class="form-control" placeholder=" Service address Zipcode" required minlength="5" maxlength="5" #zipcode="ngModel">
            </div>
            <small [hidden]="zipcode.valid || (zipcode.pristine && !f.submitted)" class="text-danger">Zip code is required (Must be 5 characters).</small>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-id-card-o"></i></span>
              <input [(ngModel)]="user.Service_Account_Id" name="Service_Account_Id" type="text" class="form-control" placeholder="Service Number" required #em="ngModel">
            </div>
            <small [hidden]="em.valid || (em.pristine && !f.submitted)" class="text-danger">Service number is required.</small>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
              <input [(ngModel)]="user.User_name" name="User_name" type="text" class="form-control" placeholder="Username" required #userName="ngModel">
            </div>
            <small [hidden]="userName.valid || (userName.pristine && !f.submitted)" class="text-danger">Username is required.</small>
          </div>
          <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-key"></i></span>
            <input [(ngModel)]="user.Password" name="Password" type="password" class="form-control" placeholder="Password" required validateEqual="confirmPassword" reverse="true" #password="ngModel">
          </div>
          <small [hidden]="password.valid || (password.pristine && !f.submitted)" class="text-danger">Password is required.</small>
        </div>

          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-key"></i></span>
              <input [(ngModel)]="securityQues.Id" class="form-control" placeholder="Password" required validateEqual="confirmPassword" reverse="true" #password="ngModel">
            </div>
            <small [hidden]="password.valid || (password.pristine && !f.submitted)" class="text-danger">Password is required.</small>
          </div>

          <div class="text-center">
            <button type="submit" [disabled]="!myForm.valid" class="btn btn-primary btn-sx">Sign Up</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>




