<div class="container-fluid plans-profile">
  <br>
  <mygexa-service-account-selector
    [setActiveBillingAccount]="true"
  ></mygexa-service-account-selector>
<section *ngIf="!IsInRenewalTimeFrame">
  <div class="row">
    <div class="col-md-8">
      <h1>
        My Current Plan
      </h1>
      <div *ngIf="ActiveBillingAccountDetails">
        <div>
          <p>Account No: {{ActiveBillingAccountDetails.Id}} </p>
        
        <!-- this is all redundant with the account selector above, or do we want the redundancy   
          <h5>Service Address</h5>
          <h4>{{ActiveBillingAccountDetails.Service_Address.Line1 + ','}}</h4>
          <h4>{{ActiveBillingAccountDetails.Service_Address.City}}</h4>
          <h4>{{ActiveBillingAccountDetails.Service_Address.State +' - '+ ActiveBillingAccountDetails.Service_Address.Zip}}</h4>
          
          -->
          <div class="row">
            <div class=" col-sm-12 col-md-8 col-md-offset-2">
              <mygexa-my-current-plan></mygexa-my-current-plan>
            </div>
          </div>
       
      </div>
      </div>
    </div>
    <div class="col-md-4" *ngIf="ActiveBillingAccountDetails">
          <div>
              <img src="/assets/global/plan-donut-10.png" class="img-responsive"/>
          </div>
          <div class="account-info col-md-offset-1">
             <mygexa-documents></mygexa-documents>
          </div>
    </div>
  </div>
</section>
  <section id="renewPlan" *ngIf="IsInRenewalTimeFrame" >
    <div class="row">
      <div class="col-md-8">
      <h1>
          Renew your plan
        </h1>
          <p>
          Your plan is ready to be renewed! Based on your product history, we've found the renewal plan that's best for your home:
        </p>
          <div class="account-info">
        <mygexa-my-current-plan></mygexa-my-current-plan>
      </div>
      </div>
      <div class="col-md-4" *ngIf="ActiveBillingAccountDetails">
          <div>
              <img src="/assets/global/plan-donut-75.png" class="img-responsive"/>
          </div>
          <div class="account-info col-md-offset-1">
             <mygexa-documents></mygexa-documents>
          </div>
      </div>
    </div>
  </section>
</div>
