<div class="container-fluid plans-profile">
  <br/>
  <mygexa-service-account-selector
    [setActiveServiceAccount]="true"
  ></mygexa-service-account-selector>
  <section id="renewPlan" [hidden]="!ActiveServiceAccount">
    <div class="row">
      <div class="col-md-8">

        <ng-template *ngIf="IsUpForRenewal && !ActiveServiceAccount?.Current_Offer?.IsHoldOverRate; then ShowRenewal else ShowCurrentPlan"></ng-template>
        <ng-template #ShowRenewal>
          <h1>Renew your plan</h1>
          <p>Account No: {{ ActiveServiceAccount?.Id }}</p>
          <p>Your plan is ready to be renewed! Based on your product history, we've found the renewal plan that's best for your home:</p>
        </ng-template>
        <ng-template #ShowCurrentPlan>
          <h1>My Current Plan</h1>
          <p>Account No: {{ ActiveServiceAccount?.Id }}</p>
        </ng-template>

        <div class="row">
          <div class="col-md-9 col-md-offset-1">
            <mygexa-my-current-plan [ActiveServiceAccount]="ActiveServiceAccount"></mygexa-my-current-plan>
          </div>
        </div>

      </div>
      <div class="col-xs-8 col-xs-push-2 col-md-4">
        <mygexa-renewal-gauge [hidden]="hideGauge"></mygexa-renewal-gauge>
        <mygexa-documents
          [ActiveServiceAccount]="ActiveServiceAccount"
        ></mygexa-documents>
      </div>
    </div>
  </section>

</div>
