<div *ngIf="ActiveServiceAccount">
  <div [ngSwitch]="currentView">
    <div *ngSwitchCase="'PendingRenewalPlan'">
      <section>
        <div layout-align="center">
          <md-card class="current-plan-card" *ngIf="RenewalAccount">
            <md-card-title>
              <h2>{{RenewalAccount?.Existing_Renewal?.Offer?.Product_Name}}*
                <small><i class="fa fa-info-circle" (click)="isRenewalPlan=true;"></i></small>
              </h2>
              <!--<div #pop="bs-popover" [popover]="options" placement="top">-->
                <!--<ng-template #options>-->
                  <!--<button type="button" class="close text-right" aria-label="Close" (click)="pop.hide()">-->
                    <!--<span class="close-btn" aria-hidden="true"><i class="fa fa-remove"></i></span></button>-->
                  <!--<mygexa-offer-details-popover [RenewalAccountDetails]="RenewalAccount"></mygexa-offer-details-popover>-->
                <!--</ng-template>-->
              <!--</div>-->
              <div *ngIf="isRenewalPlan === true;">
                {{pop.show()}}
                <div #pop="bs-popover" [popover]="options" placement="bottom" outsideClick="true">
                  <ng-template #options>
                    <button type="button" class="close text-right" aria-label="Close" (click)="isRenewalPlan = null; pop.hide()">
                      <span class="close-btn" aria-hidden="true"><i class="fa fa-remove"></i></span></button>
                    <div *ngIf="isRenewalPlan">
                      <mygexa-offer-details-popover [RenewalAccountDetails]="RenewalAccount"></mygexa-offer-details-popover>
                    </div>
                  </ng-template>
                </div>
              </div>

            </md-card-title>
            <md-card-content>
              <h2>{{Price_atFeatured_Usage_Level_Renewal | DollarToCentsPipe | number: '1.1-1'}}<sup
                class="sup-text">&cent;</sup>
                <small class="sub-text">per kWh</small>
              </h2>
              <p class="bg-default">TERM: {{RenewalAccount?.Existing_Renewal?.Offer?.Term}} Months</p>
              <p style="color:orange"><i class="fa fa-chevron-right" style="color:orange"></i> START: {{RenewalAccount?.Existing_Renewal?.Start_Date | date: 'MM/dd/yyyy'}}</p>
              <p class="bg-default">END: {{RenewalAccount.Existing_Renewal.End_Date | date:'MM/dd/yyyy'}}</p>
              <p><br/><a (click)="isRenewalPlan=false;" style="color:orange"> *Plan Pending: View Your Current Plan</a></p>
              <br>
              <div *ngIf="isRenewalPlan ===false;">
                {{ pop.show()}}
                <div #pop="bs-popover" [popover]="options" placement="bottom" outsideClick="true">
                  <ng-template #options>
                    <button type="button" class="close text-right" aria-label="Close" (click)="isRenewalPlan = null; pop.hide()">
                      <span class="close-btn" aria-hidden="true"><i class="fa fa-remove"></i></span></button>
                    <div *ngIf="!isRenewalPlan">
                      <mygexa-offer-details-popover [ActiveOfferDetails]="ActiveServiceAccount"
                                                    [IsCurrentPlanPopOver]="true"></mygexa-offer-details-popover>
                    </div>
                  </ng-template>
                </div>
              </div>

              <!--<div #pop="bs-popover" [popover]="options" placement="bottom" outsideClick="true">-->
                <!--<ng-template #options>-->
                  <!--<button type="button" class="close text-right" aria-label="Close" (click)="pop.hide()">-->
                    <!--<span class="close-btn" aria-hidden="true"><i class="fa fa-remove"></i></span></button>-->
                  <!--<div *ngIf="isRenewalPlan">-->
                    <!--<mygexa-offer-details-popover [RenewalAccountDetails]="RenewalAccount"></mygexa-offer-details-popover>-->
                  <!--</div>-->
                  <!--<div *ngIf="!isRenewalPlan">-->
                    <!--<mygexa-offer-details-popover [ActiveOfferDetails]="ActiveServiceAccount"-->
                                                  <!--[IsCurrentPlanPopOver]="true"></mygexa-offer-details-popover>-->
                  <!--</div>-->
                <!--</ng-template>-->
              <!--</div>-->
            </md-card-content>
          </md-card>
        </div>
      </section>
    </div>
    <div *ngSwitchCase="'RenewalPlan'">
      <section id="Renewal">
        <ng-template
          *ngIf="isOffersReady && RenewalOffers ; then ShowRenewalOffer else ShowLoadingScreen"></ng-template>
        <ng-template #ShowRenewalOffer>
          <div class="col-md-10">
            <div class="pd-bt-0  current-plan-card plan-card-container mat-card">
              <div class="card-content">
                <div class="mg-bt-0 alert alert-warning"> Recommended for your home </div>
              </div>
            </div>
            <br>
            <mygexa-play-card [offer]="RenewalOffers" [offerSelectionType]="offerSelectionType.Renewal"
                              (onOfferSelectedEvent)="onOfferSelected($event)"></mygexa-play-card>
            <div *ngIf="showViewMoreRenewals" class="visible-xs row">
              <div class="text-center"><button (click)="scroll2renewalSection()" class="btn-link view-more">View More Plans<i class="fa fa-chevron-down"></i></button></div>
            </div>
          </div>
        </ng-template>
        <ng-template #ShowLoadingScreen>
          <div *ngIf="RenewalOffers != null; then showLoading else showNothing"></div>
          <ng-template #showNothing>
            No Offers available.
          </ng-template>
          <ng-template #showLoading>
            <div class="text-center">
              <h1><i class="fa fa-spin fa-circle-o-notch"></i></h1>
              <h2>
                <small class="text-muted">Loading renewal offer best for your home...</small>
              </h2>
            </div>
          </ng-template>
        </ng-template>
      </section>
    </div>
    <div *ngSwitchCase="'HoldOverPlan'">
      <section id="HoldOver">
        <div layout-align="center">
          <md-card class="current-plan-card" *ngIf="ActiveServiceAccount.Current_Offer.IsHoldOverRate">
            <md-card-title>
              <h2>{{ActiveServiceAccount.Current_Offer.Product_Name}}
                <small><i class="fa fa-info-circle" (click)="pop.show()"></i></small>
              </h2>
              <div #pop="bs-popover" [popover]="options" placement="bottom" outsideClick="true">
                <ng-template #options>
                  <button type="button" class="close text-right" aria-label="Close" (click)="pop.hide()">
                    <span class="close-btn" aria-hidden="true"><i class="fa fa-remove"></i></span></button>
                  <mygexa-offer-details-popover
                    [ActiveOfferDetails]="ActiveServiceAccount"></mygexa-offer-details-popover>
                </ng-template>
              </div>
            </md-card-title>
            <md-card-content>
              <p class="bg-default">TERM: Month to month</p>
              <p>START: {{ActiveServiceAccount.Contract_Start_Date | date: 'MM/dd/yyyy'}}</p>
            </md-card-content>
          </md-card>
        </div>
      </section>
    </div>
    <div *ngSwitchCase="'CurrentPlan'">
      <section>
        <div layout-align="center">
          <md-card class="current-plan-card" *ngIf="ActiveServiceAccount">
            <md-card-title>
              <h2>{{ActiveServiceAccount.Current_Offer.Product_Name}}
                <small><i class="fa fa-info-circle" (click)="pop.show()"></i></small>
              </h2>
              <div #pop="bs-popover" [popover]="options" placement="bottom" outsideClick="true">
                <ng-template #options>
                  <button type="button" class="close text-right" aria-label="Close" (click)="pop.hide()">
                    <span class="close-btn" aria-hidden="true"><i class="fa fa-remove"></i></span></button>
                  <mygexa-offer-details-popover
                    [ActiveOfferDetails]="ActiveServiceAccount"></mygexa-offer-details-popover>
                </ng-template>
              </div>
            </md-card-title>
            <md-card-content> {{checkCurrentFeaturedUsageLevel(ActiveServiceAccount?.Current_Offer)}}
              <h2>{{Price_atFeatured_Usage_Level_Current | DollarToCentsPipe | number: '1.1-1'}}<sup
                class="sup-text">&cent;</sup>
                <small class="sub-text">per kWh</small>
              </h2>
              <p class="bg-default">TERM: {{ActiveServiceAccount.Current_Offer.Term}} Months</p>
              <p>START: {{ActiveServiceAccount.Contract_Start_Date | date: 'MM/dd/yyyy'}}</p>
              <p class="bg-default">END: {{ActiveServiceAccount.Calculated_Contract_End_Date | date:'MM/dd/yyyy'}}</p>
            </md-card-content>
          </md-card>
        </div>
      </section>
    </div>
    <mygexa-plan-confirmation-modal #planConfirmationModal></mygexa-plan-confirmation-modal>

    <!--<mygexa-plan-confirmation-popover #planPopModal [IsInRenewalTimeFrame]="isUpForRenewal"-->
                                      <!--[IsOnHoldOver]="isOnHoldOver"></mygexa-plan-confirmation-popover>-->
  </div>
</div>
<mygexa-error-modal #errorModal></mygexa-error-modal>
