<div *ngIf="ActiveServiceAccount">
  <div *ngIf="!IsUpForRenewal && !ActiveServiceAccount?.Current_Offer?.IsHoldOverRate && !IsRenewalPending; then CurrentPlan"></div>
  <div *ngIf="IsUpForRenewal && !ActiveServiceAccount?.Current_Offer?.IsHoldOverRate && !IsRenewalPending; then RenewalPlan"></div>
  <div *ngIf="IsRenewalPending && !IsUpForRenewal && !ActiveServiceAccount?.Current_Offer?.IsHoldOverRate; then PendingRenewalPlan"></div>
  <div *ngIf="ActiveServiceAccount?.Current_Offer?.IsHoldOverRate && !IsRenewalPending; then HoldOverPlan"></div>
</div>
<ng-template #CurrentPlan>
  <section>
    <div layout-align="center">
      <md-card class="current-plan-card" *ngIf="ActiveServiceAccount">
        <md-card-title>
          <h2>{{ActiveServiceAccount.Current_Offer.Product_Name}} <small><i class="fa fa-info-circle" (click)="pop.show()" ></i></small></h2>
          <div #pop="bs-popover" [popover]="options" placement="bottom" outsideClick="true">
            <ng-template #options>
              <button type="button" class="close text-right" aria-label="Close" (click)="pop.hide()">
                <span class="close-btn" aria-hidden="true"><i class="fa fa-remove"></i></span></button>
              <mygexa-offer-details-popover [ActiveOfferDetails]="ActiveServiceAccount" ></mygexa-offer-details-popover>
            </ng-template>
          </div>
        </md-card-title>
        <md-card-content>
          <h2>{{ActiveServiceAccount.Current_Offer.RateAt2000kwh | DollarToCentsPipe | number: '1.1-1'}}<sup class="sup-text">&cent;</sup><small>per kwh</small></h2>
          <p class="bg-default">TERM: {{ActiveServiceAccount.Current_Offer.Term}} Months</p>
          <p>START: {{ActiveServiceAccount.Contract_Start_Date | date: 'MM/dd/yyyy'}}</p>
          <p  class="bg-default">END: {{ActiveServiceAccount.Calculated_Contract_End_Date | date:'MM/dd/yyyy'}}</p>
        </md-card-content>
      </md-card>
    </div>
  </section>
</ng-template>

<ng-template #PendingRenewalPlan>
  <section>
    <div layout-align="center">
      <md-card class="current-plan-card" *ngIf="RenewalAccount">
        <md-card-title>
          <h2>{{RenewalAccount?.Existing_Renewal?.Offer?.Plan?.Name}} <small><i class="fa fa-info-circle" (click)="pop.show()" ></i></small></h2>
          <div #pop="bs-popover" [popover]="options" placement="bottom">
            <ng-template #options>
              <button type="button" class="close text-right" aria-label="Close" (click)="pop.hide()">
                <span class="close-btn" aria-hidden="true"><i class="fa fa-remove"></i></span></button>
              <mygexa-offer-details-popover [RenewalAccountDetails]="RenewalAccount" ></mygexa-offer-details-popover>
            </ng-template>
          </div>
        </md-card-title>
        <md-card-content>
          <h2>{{RenewalAccount?.Existing_Renewal?.Offer?.Price_At_2000_kwh | DollarToCentsPipe | number: '1.1-1'}}<sup class="sup-text">&cent;</sup><small>per kwh</small></h2>
          <p class="bg-default">TERM: {{RenewalAccount?.Existing_Renewal?.Offer?.Plan?.Term}} Months</p>
          <p>START: {{RenewalAccount?.Existing_Renewal?.Start_Date | date: 'MM/dd/yyyy'}}</p>
          <p  class="bg-default">END: {{RenewalAccount?.Contract_EndDate | date:'MM/dd/yyyy'}}</p>
          <b style="color:orange">Pending</b><li (click)="pop.show()">(view current rate)</li>
          <br>
          <div #pop="bs-popover" [popover]="options" placement="bottom" outsideClick="true">
            <ng-template #options>
              <button type="button" class="close text-right" aria-label="Close" (click)="pop.hide()">
                <span class="close-btn" aria-hidden="true"><i class="fa fa-remove"></i></span></button>
              <mygexa-offer-details-popover [ActiveOfferDetails]="ActiveServiceAccount" [IsCurrentPlanPopOver] = "true"></mygexa-offer-details-popover>
            </ng-template>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </section>
</ng-template>

<ng-template #RenewalPlan>
  <section id="Renewal">
    <ng-template
      *ngIf="IsOffersReady && RenewalOffers ; then ShowRenewalOffer else ShowLoadingScreen"></ng-template>
    <ng-template #ShowRenewalOffer>
      <div class="current-plan-card plan-card-container mat-card">
        <div class="card-content">
          <div class="alert alert-warning">Best for your home</div>
          <div class="mat-card-title">
            <h2>{{RenewalOffers.Plan.Name}}
              <small><i class="fa fa-info-circle" (click)="pop.show()" aria-hidden="true"></i></small>
            </h2>
            <div #pop="bs-popover" [popover]="options" placement="bottom" outsideClick="true">
              <ng-template #options>
                <button type="button" class="close text-right" aria-label="Close" (click)="pop.hide()">
                  <span class="close-btn" aria-hidden="true"><i class="fa fa-remove"></i></span></button>
                <mygexa-offer-details-popover [OfferDetails]="RenewalOffers"></mygexa-offer-details-popover>
              </ng-template>
          </div>
          </div>
          <div class="mat-card-content">
            <h2>{{ Price_atFeatured_Usage_Level | DollarToCentsPipe | number: '1.1-1'}}<sup
              class="sup-text">&cent;</sup>
              <small>per kwh</small>
            </h2>
            <p class="bg-default">at {{RenewalOffers.Plan.Product.Featured_Usage_Level}}</p>
            <p>TERM:{{RenewalOffers.Plan.Term}} months</p>
            <p class="bg-default">{{RenewalOffers.Promotion?.Name}} </p>
          </div>
        </div>
        <div #plan_pop="bs-popover" [popover]="showpop" placement="bottom" outsideClick="true">
          <ng-template #showpop>
            <button type="button" class="close text-right" aria-label="Close" (click)="plan_pop.hide()">
              <span class="close-btn" aria-hidden="true"><i class="fa fa-remove"></i></span></button>
          </ng-template>
        </div>
        <div *ngIf="selectCheckBox" class="agreement-section">
          <div class="checkbox">
            <label>
              <input type="checkbox" value="" (click)="toggleButton()">
              <span class="cr"><i class="cr-icon fa fa-check"></i></span>
              <p class="text-left">By checking this box, I agree to this service plan and rate shown above with Gexa
                energy, LP.<br/><br/>View your Terms Of Service, Electricity Facts Label(EFL) and Your Rights As a
                Customer prior to enrollment.</p>
            </label>
          </div>
          <div class="row">
            <div style="text-align:center">
              <button class="btn btn-primary" [disabled]="selectCheckBox && !enableSelect"
                      (click)="showConfirmationPop()">Submit
              </button>
              <button class="btn btn-link" (click)="closeCheckBox()" aria-hidden="true">Cancel </button>
            </div>
          </div>
        </div>
        <br/>
        <div *ngIf="!selectCheckBox">
          <div class="row">
            <div style="text-align:center">
              <button class="btn btn-primary" [disabled]="selectCheckBox && !enableSelect" (click)='onSelect($event)'>
                Select <i class="fa fa-chevron-right fa-wh" style="color: white" aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template #ShowLoadingScreen>
      <div *ngIf="RenewalOffers != null; then showLoading else showNothing"></div>
      <ng-template #showNothing>
        No Offers available.
      </ng-template>
      <ng-template #showLoading>
        <div class="text-center">
          <h1><i class="fa fa-spin fa-circle-o-notch"></i></h1>
          <h2>
            <small class="text-muted">Loading renewal offer best for your home...</small>
          </h2>
        </div>
      </ng-template>
    </ng-template>
  </section>
</ng-template>

<ng-template #HoldOverPlan>
  <section id="HoldOver">
    <div layout-align="center">
      <md-card class="current-plan-card" *ngIf="ActiveServiceAccount.Current_Offer.IsHoldOverRate">
        <md-card-title>
          <h2>{{ActiveServiceAccount.Current_Offer.Product_Name}} <small><i class="fa fa-info-circle" (click)="pop.show()" ></i></small></h2>
          <div #pop="bs-popover" [popover]="options" placement="bottom" outsideClick="true">
            <ng-template #options>
              <button type="button" class="close text-right" aria-label="Close" (click)="pop.hide()">
                <span class="close-btn" aria-hidden="true"><i class="fa fa-remove"></i></span></button>
              <mygexa-offer-details-popover [ActiveOfferDetails]="ActiveServiceAccount" ></mygexa-offer-details-popover>
            </ng-template>
          </div>
        </md-card-title>
        <md-card-content>
          <p class="bg-default">TERM: Month to month</p>
          <p>START: {{ActiveServiceAccount.Current_Offer.Start_Date | date: 'MM/dd/yyyy'}}</p>
        </md-card-content>
      </md-card>
    </div>
  </section>
</ng-template>
<mygexa-plan-confirmation-popover #planPopModal [IsInRenewalTimeFrame] ="IsUpForRenewal" [IsOnHoldOver]="IsOnHoldOver"></mygexa-plan-confirmation-popover>


