<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="row">
      <ul class="nav navbar-nav navbar-left">
        <li class="col-xs-4 col-sm-12"><a routerLink="/"><small><span class="fa fa-rocket fa-rotate-45 fa-fw"></span> My Gexa {{env}} </small></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right hidden-xs">
        <li><a href="#"><small><span class="fa fa-phone fa-white"></span> <span class="hidden-xs">866-961-9399</span></small></a></li>
      </ul>
    </div>
  </div>
</nav>
<nav class="navbar custom-nav" id="custom-nav">
  <div class="container container-relaxed">
    <div class="navbar-header">
      <div class="navbar-logo"> <a [routerLinkActive]="['active']" routerLink="/"><img src="/assets/global/gexa-lq.png" alt="Gexa Energy"/></a> </div>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div id="ResetUsername" class="form-group formPadding">
        <h2><b>Recover Username</b></h2>
        <form  id="Recover_username" novalidate [formGroup]="recoverUsernameForm"  (ngSubmit)="recoverUsername(recoverUsernameForm.get('Email_Address').value, recoverUsernameForm.valid)">
          <h5 style="color: #595959; width: 250px">Send the email address you used to register for MyGexa and we will send your username to that address.</h5>
          <div class="form-group">
            <label for="Email_Address" class="col-xs-12 cols-sm-2 control-label">Email Address</label>
            <div class="col-xs-10 input-group">
              <input type="text" class="form-control" name="Email_Address" id="Email_Address"  [formControl]="recoverUsernameForm.controls['Email_Address']"
                       placeholder="Type your Email Address"/>
            </div>
          </div>

          <div class="has-error" *ngIf="recoverUsernameForm.controls['Email_Address'].hasError('validateEmail') && formSubmitted">
            <div class="help-block">
              <span *ngIf="recoverUsernameForm.controls['Email_Address'].hasError('validateEmail') && formSubmitted"> Enter a valid email. Email format should be <i>john@doe.com</i>. </span>
            </div>
          </div>

          <!--<div class="help-block" *ngIf="recoverUsernameForm.controls['Email_Address'].hasError('validateEmail') && formSubmitted"> Enter a valid email. Email format should be <i>john@doe.com</i>. </div>-->
          <div class="alert alert-success" *ngIf="IsValidEmail && recoverUsernameForm.valid && formSubmitted"> User name has been sent to your email address!! </div>
          <div class="alert alert-danger" *ngIf="!IsValidEmail && recoverUsernameForm.valid && formSubmitted"> No user is registered with the given email address. </div>
          <br>
          <div class="btn-toolbar">
            <button type="submit" class="btn btn-primary" [disabled] = "!recoverUsernameForm.get('Email_Address').value" *ngIf = "!IsValidEmail">Continue</button>
            <button class="btn btn-primary"  *ngIf="!IsValidEmail && !recoverUsernameForm.valid" routerLink="/login">Cancel</button>
          </div>
          <button class="btn btn-primary pull-left"  *ngIf="IsValidEmail" routerLink="/login">Back to Sign In</button>
        </form>
      </div>
    </div>
  </div>
</div>
