section {
    .change-plans-grid {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;
        flex-wrap: wrap;
    }
    .plan-card{
        margin-bottom:30px;
    }
  .fa-2x {
    vertical-align: middle;
  }
}
.btn-default:hover, .btn-default:active, .btn-default:focus{
  background-color:white;
  .close-btn {
    font-size: 14px;
    color:black;
  }
}

.close-btn {
  font-size: 14px;
  color:#cccccc;
}
