section {
    .change-plans-grid {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;
        flex-wrap: wrap;
    }
    .plan-card{
        margin-bottom:30px;
    }
  .fa-2x {
    vertical-align: middle;
  }
}