<div *ngIf="ActiveServiceAccountDetails && Renewaldetails; then Offers else ShowLoadingScreen"></div>

<ng-template #Offers>
  <ng-template #ShowRenewalOrUpgrade *ngIf="IsUpForRenewal && !IsRenewalPending && !ActiveServiceAccountDetails?.Current_Offer?.IsHoldOverRate; then RenewalSection else UpgradeSection"></ng-template>
  <ng-template #RenewalSection>
    <div class="row">
      <div class="col-sm-2">
        <h2> View more renewal plans </h2>
        <a  (click)="showPromoCodeInput($event)"> <p> Have a promo code?</p></a>
        <form #promoCodeForm="ngForm"  *ngIf="havePromoCode">
          <input type="text" class="form-control" id="promoCode"
                 [(ngModel)]="promoCode" name="promoCode"><br>
          <a class="boxed btn btn-primary" [class.disabled]="!promoCodeForm.form.valid" (click)="onPromoCodeSubmit()">Submit</a></form></div>
      <div class="col-sm-9">
        <div class="row change-plans-grid">
          <mygexa-change-your-plan-card></mygexa-change-your-plan-card>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #UpgradeSection>
    <div class="row">
      <div class="col-sm-2">
        <h2> Want to Upgrade your Plan? </h2>
      </div>
      <div class="col-sm-9">
        <div class="row change-plans-grid">
          <mygexa-change-your-plan-card></mygexa-change-your-plan-card>
        </div>
      </div>
    </div>
  </ng-template>
</ng-template>
<ng-template #ShowLoadingScreen>
    <div class="text-center">
      <h1><i class="fa fa-spin fa-circle-o-notch"></i></h1>
      <h2>
        <small class="text-muted">Loading more offers...</small>
      </h2>
    </div>
</ng-template>








