<div *ngIf="isDataAvailable === false" >
  <p class="text-center"><i class='fa fa-circle-o-notch fa-spin'></i> Loading...</p>
</div>

<div class="current-trends">
  <h1 *ngIf="usageThisCycle != 0">
    Current Trends 
    <span *ngIf="usageComparison" [style.color]="getPercentStyle(percentageIncrease)">
      <i *ngIf="percentageIncrease > 0" class="fa fa-arrow-up"></i><i *ngIf="percentageIncrease < 0" class="fa fa-arrow-down"></i>{{ absolutePercentage | number:'1.0-0' }}%
    </span> <small>Compared to Previous Cycle</small>
  </h1>
  <h1 *ngIf="usageThisCycle == 0">
    <span style="color: #2eb134;">Sorry!</span>
    <small class="no_usage_data">We haven't received any electricity usage data for your current cycle.</small>
  </h1>
  <p *ngIf="usageThisCycle == 0">We'll have your current trend and usage estimate as soon as your usage data is available, typically within a few days.</p>
</div>
<br />
<div class="row current-cycle-usage">
  <div class="col-s-12 col-md-3">
    <h3>
      So Far This Cycle
    </h3>

  </div>
  <div class="col-sm-12 col-md-9 progress">
    <div *ngIf="usageComparison && usageThisCycle != 0" class="bar current progress-bar progress-bar-striped progress-bar-animated">
      <h4>
        {{ usageThisCycle | number:'1.0-0' }} kWh <small>in {{ usageComparison.Days_InTo_Current_Cycle }} days</small>
      </h4>
    </div>
    <div *ngIf="usageThisCycle == 0" class="bar current progress-bar progress-bar-striped progress-bar-animated" style="width: auto;">
      <h4>
        ?
      </h4>
    </div>
    <div *ngIf="usageComparison && usageThisCycle != 0" class="bar progress-bar progress-bar-striped progress-bar-animated remaining-days"  [style.width]="getRemainingDaysWidth()">
      <h4>&nbsp;</h4>
    </div>
  </div>
  <h4 class="days_remaining">
    <small *ngIf="usageThisCycle !=0">{{ remainingCycleDays | number:'1.0-0' }} day{{ remainingCycleDays === 1 ? '' : 's' }} remaining</small>
    <span *ngIf="usageThisCycle == 0">&nbsp;</span>
  </h4>
</div>

<div class="row previous-cycle-usage">
 
  <div class="col-sm-12 col-md-push-3 col-md-9">
    <div *ngIf="usageComparison" class="bar previous">
      <h4>
        {{ usageComparison.Meter_Read_Cycles[0].Usage | number:'1.0-0' }} kWh <small>in {{ daysInLastCycle | number:'1.0-0' }} days</small>
      </h4>
    </div>
  </div>
   <div class="col-sm-12  col-md-pull-9 col-md-3">
    <h3>
      Previous Cycle
    </h3>

  </div>
</div>
<br />
<div class="row ">
  <div class="col-sm-12 text-center">
    <div class="gexstimate">

      <h2 *ngIf="usageThisCycle != 0" class="text-center ">

        <span *ngIf="usageComparison">{{ usageComparison.Meter_Read_Cycles[1].Usage_Month | date:'LLLL' }}</span> <span>Usage Estimate</span> <span *ngIf="usageComparison" [style.color]="getKwhStyle()">{{ usageComparison.Meter_Read_Cycles[1].Usage | number:'1.0-0' }} kWh</span> </h2>

      <h2 *ngIf="usageThisCycle == 0" class="text-center">
        Check Back Soon<span style="color: #2eb134;">...</span>
      </h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="disclaimer">
    <br />
    <p><em>Based on usage data available as of <span *ngIf="usageComparison">{{ lastReadDate | date:'MM/dd/yyyy'}}</span> from Smart Meter Texas and <span *ngIf="TDU_Name">{{ TDU_Name }}</span>. Your monthly bill is the official record of your actual usage.</em></p>
  </div>
</div>
<br />
<div class="row">
  <div class="col-sm-8 col-sm-offset-2 col-xs-12">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"> How is my current usage trend calculated?</a> </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
          <div class="panel-body">Your current usage trend is based on your electricity usage for the number of days in your current cycle compared with the same number of days in your previous cycle. </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"> Where does my usage estimate come from? </a></h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
          <div class="panel-body">We multiply your average daily usage by the number of days in your current cycle. This estimate can change if there are changes in your average daily usage, or if <span *ngIf="TDU_Name">{{ TDU_Name }}</span> changes the date on which your meter is read. </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br /><br />
