<div *ngIf="isDataAvailable === false" >
  <p class="text-center"><i class='fa fa-circle-o-notch fa-spin'></i> Loading...</p>
</div>

<div class="current-trends">
  <h1>
    Current Trends <span *ngIf="usagePrediction" [style.color]="getPercentStyle(percentageIncrease)">{{ percentageIncrease >= 0 ? '+' : '' }}{{ percentageIncrease | number:'1.0-0' }}%</span> <small>Compared to Previous Cycle*</small>
  </h1>
</div>
<br />
<div class="row current-cycle-usage">
  <div class="col-sm-3">
    <h3>
      So Far This Cycle
    </h3>

  </div>
  <div class="col-sm-9 progress">
    <div *ngIf="usageComparison" class="bar current progress-bar progress-bar-striped progress-bar-animated">
      <h4>
        {{ usageComparison.Meter_Read_Cycles[1].Usage | number:'1.0-0' }} kWh <small>in {{ usageComparison.Days_InTo_Current_Cycle }} days</small>
      </h4>
    </div>
    <div *ngIf="usagePrediction" class="bar progress-bar progress-bar-striped progress-bar-animated remaining-days" style="width: 30%;" [style.width]="getRemainingDaysWidth()">
      <h4 class="pull-right">
        <small>{{ remainingCycleDays }} day{{ remainingCycleDays === 1 ? '' : 's' }} remaining</small>
      </h4>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <h3>
      Previous Cycle
    </h3>

  </div>
  <div class="col-sm-9">
    <div *ngIf="usageComparison" class="bar previous">
      <h4>
        {{ usageComparison.Meter_Read_Cycles[0].Usage | number:'1.0-0' }} kWh <small>in {{ daysInLastCycle }} days</small>
      </h4>
    </div>
  </div>
</div>
<br />
<div class="row ">
  <div class="col-sm-12 text-center">
    <div class="gexstimate">

      <h2 class="text-center ">

        <span *ngIf="usageComparison">{{ usageComparison.Meter_Read_Cycles[1].Usage_Month | date:'LLLL' }}</span> Usage Gexstimate ** <span *ngIf="usagePrediction" [style.color]="getKwhStyle()">{{ usagePrediction.Meter_Read_Cycles[0].Usage | number:'1.0-0' }} kWh</span> </h2>

    </div>
  </div>
</div>
<br />
<div class="row">
  <div class="col-sm-12"></div>
  <div *ngIf="usageComparison" class="text-center">

    * Percentage Comparison to Previous Cycle {{ usageComparison.Meter_Read_Cycles[0].Start_Date | date:'shortDate' }} thru {{ comparisonEndDate | date:'shortDate' }}</div>
  
  <div *ngIf="usagePrediction" class="text-center">

    ** Average daily usage of {{ usagePrediction.Meter_Read_Cycles[0].Usage / usagePrediction.Days_InTo_Current_Cycle | number:'1.0-0' }} kWh times the number of days in your cycle.</div>
</div>
<br /><br />
