<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="row">
      <ul class="nav navbar-nav navbar-left">
        <li class="col-xs-8 col-sm-12"><a routerLink="/"><small><span class="fa fa-rocket fa-rotate-45 fa-fw"></span> My Gexa </small></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right hidden-xs">
        <li><a href="#"><small><span class="fa fa-phone fa-white"></span> <span class="hidden-xs">866-961-9399</span></small></a></li>
      </ul>
    </div>
  </div>
</nav>
<nav class="navbar custom-nav" id="custom-nav">
  <div class="container container-relaxed">
    <div class="navbar-header">
      <div class="navbar-logo"> <a [routerLinkActive]="['active']" routerLink="/"><img src="/assets/global/gexa-lq.png" alt="Gexa Energy"/></a> </div>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div id="ResetPassword" class="form-group formPadding">
        <h2><b>Reset Password</b></h2>
        <form  id="Reset_password" novalidate [formGroup]="resetPassForm">
          <div id = UserName_Reset_Password *ngIf="!IsUserNameValid && !IsSecurityQuestionValid ">
            <h5>First, provide your Username.</h5>
            <br/>
            <div class="form-group">
              <label for="User_Name" class="col-xs-12 col-sm-4 control-label">Username</label>
              <div class="col-xs-10 input-group">
                <input type="text" class="form-control" name="User_Name" id="User_Name" [formControl]="resetPassForm.controls['User_Name']" placeholder="Type your Username"/>
              </div>
              <div *ngIf="IsResNull" class="has-error"> <span class="help-block">Username doesn't exist.</span> </div>
            </div>
            <br>
            <div class="btn-toolbar">
              <button type="button" *ngIf="!processing"  class="btn btn-primary pull-left" [disabled]="!resetPassForm.get('User_Name').value" (click)="validateUsername(resetPassForm.get('User_Name').value)">Continue</button>
              
              <button *ngIf="processing"  type="submit" class="btn btn-primary pull-left" disabled="disabled">
                <i class="fa fa-spin fa-circle-o-notch"></i>  Continue
              </button>
              
              <button type="button" class="btn btn-primary"  routerLink="/login">Cancel</button>
            </div>
          </div>
          <div id = Security_Question_Reset_Password *ngIf="!IsSecurityQuestionValid && IsUserNameValid && question !== null">
            <h5>Answer the questions below.</h5>
            <br/>
            <div class="form-group">
              <label for="SecQues_Answer" class="col-xs-12 col-sm-4 control-label">{{ question}}</label>
              <div class="col-xs-10 input-group">
                <input type="text" class="form-control" name="SecQues_Answer" id="SecQues_Answer"  [formControl]="resetPassForm.controls['SecQues_Answer']" placeholder="Type your Answer"/>
              </div>
              <div *ngIf="IsResNull1" class="has-error"> <span class="help-block">Answer doesn't match the records.</span> </div>
            </div>
            <br>
            <div class="btn-toolbar">
              <button type="button"  *ngIf="!processing"  class="btn btn-primary pull-left" [disabled]="!resetPassForm.get('SecQues_Answer').value" (click)="validateSecurityQuestion(resetPassForm.get('User_Name').value, resetPassForm.get('SecQues_Answer').value)">Continue</button>
              
              <button *ngIf="processing"  type="submit" class="btn btn-primary pull-left" disabled="disabled">
                <i class="fa fa-spin fa-circle-o-notch"></i>  Continue
              </button>
              
              <button type="button" class="btn btn-primary"  routerLink="/login">Cancel</button>
            </div>
          </div>
          <div id = _Reset_Password *ngIf="IsSecurityQuestionValid && IsUserNameValid ">
            <div class="form-group">
              <label for="New_Password" class="col-xs-12 col-sm-4 control-label">New strong Password</label>
              <div class="col-xs-10 input-group">
                <input type="password" class="form-control" name="New_Password" id="New_password" [formControl]="resetPassForm.controls['New_Password']" placeholder="New password"/>
              </div>

              <div class="has-error" *ngIf="( resetPassForm.controls['New_Password'].hasError('required') && resetPassForm.controls['New_Password'].touched )||
              ( resetPassForm.controls['New_Password'].hasError('validatePassword') && resetPassForm.controls['New_Password'].touched ) ||
              ( resetPassForm.controls['New_Password'].hasError('minlength') && resetPassForm.controls['New_Password'].touched ) ||
              ( resetPassForm.controls['New_Password'].hasError('maxlength') && resetPassForm.controls['New_Password'].touched )">
                <div class="help-block">
                  <span *ngIf="resetPassForm.controls['New_Password'].hasError('required')"> Password is required. </span>
                  <span  *ngIf="resetPassForm.controls['New_Password'].hasError('validatePassword') && resetPassForm.controls['New_Password'].touched">Password must have at least one uppercase letter, one lowercase letter, one number. </span>
                  <span *ngIf="resetPassForm.controls['New_Password'].hasError('minlength')
                    && resetPassForm.controls['New_Password'].touched">Password must be at least 8 characters long. </span>
                </div>
              </div>

              <br>
              <label for="Confirm_New_Password" class="col-xs-12 col-sm-4 control-label">Repeat strong Password</label>
              <div class="col-xs-12 input-group">
                <input type="password" class="form-control" name="Confirm_New_Password" id="Confirm_New_Password" [formControl]="resetPassForm.controls['Confirm_New_Password']" placeholder="Re-Type New password"/>
              </div>

              <div class="has-error" *ngIf="resetPassForm.controls['Confirm_New_Password'].touched  && resetPassForm.controls['Confirm_New_Password'].hasError('required') ||
              ( !(resetPassForm.controls['Confirm_New_Password'].value == resetPassForm.controls['New_Password'].value) && resetPassForm.controls['Confirm_New_Password'].touched )">
                <div class="help-block">
                  <span *ngIf="resetPassForm.controls['Confirm_New_Password'].hasError('required')"> Confirm Password is required. </span>
                  <span  *ngIf=" !(resetPassForm.controls['Confirm_New_Password'].value == resetPassForm.controls['New_Password'].value) && resetPassForm.controls['Confirm_New_Password'].touched"> Passwords mismatch. </span>
                </div>
              </div>

              <div class="alert alert-success" *ngIf="IsResetSucessfull"> Password reset successfull!! </div>
            </div>
            <br>
            <div class="btn-toolbar">
              <span *ngIf="!IsResetSucessfull">
              <button type="button"  *ngIf="!processing"  class="btn btn-primary" [disabled]="!resetPassForm.valid"   (click)="resetPassword(resetPassForm.get('User_Name').value, resetPassForm.get('New_Password').value)">Submit</button>
              
              <button *ngIf="processing"  type="submit" class="btn btn-primary pull-left" disabled="disabled">
                <i class="fa fa-spin fa-circle-o-notch"></i>  Submit
              </button>
              </span>
              <button type="button" class="btn btn-primary"  *ngIf="!IsResetSucessfull" routerLink="/login">Cancel</button>
            </div>
            <button type="button" class="btn btn-primary pull-left" *ngIf="IsResetSucessfull" routerLink="/login">Return to Login</button>
          </div>

          <br>
          <div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div  class="row">
    <div class="col-xs-12 col-md-6">
        <div class="note">
            <b>Note: </b> If you do not remember your username or password, and you have not accessed your account since the launch of our redesigned website on March 29th, you will need to <a (click)="showRegisterModal()">register</a> for online account access.
        </div>
    </div>
  </div>
  <br/>
  <br/>
</div>
<mygexa-login-register-modal #loginRegisterModal></mygexa-login-register-modal>
