<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div id="ResetPassword" class="form-group formPadding">
        <h1>Gexa Energy</h1><br><br>
        <h2><b>Reset Password</b></h2>
        <form  id="Reset_password">
          <div id = UserName_Reset_Password *ngIf="!IsUserNameValid && !IsSecurityQuestionValid">
            <h5 style="color: #cccccc">First, provide your Username.</h5>
            <div class="form-group">
              <label for="name" class="cols-sm-2 control-label">Username</label>
              <div class="input-group">
                <input type="text" class="form-control" name="name" id="name"  placeholder="Type your Username"/>
              </div>
            </div>
            <button class="btn btn-primary pull-left" (click)="validateUsername()">Continue</button>
          </div>
          <div id = Security_Question_Reset_Password *ngIf="IsUserNameValid && !IsSecurityQuestionValid">
            <h5 style="color: #cccccc">Answer the questions below.</h5>
            <div class="form-group">
              <label for="name" class="cols-sm-2 control-label">{{'Question here?'}}</label>
              <div class="input-group">
                <input type="text" class="form-control" name="name" id="name"  placeholder="Type your Answer"/>
              </div>

            </div>
            <button class="btn btn-primary pull-left" (click)="validateSecurityQuestion()">Continue</button>
          </div>
          <div id = _Reset_Password *ngIf="IsSecurityQuestionValid && IsUserNameValid ">
            <div class="form-group">
              <label for="name" class="cols-sm-2 control-label">New strong Password</label>
              <div class="input-group">
                <input type="text" class="form-control" name="name" id="name"  placeholder="But be 6 characters long"/>
              </div>
              <br>
              <label for="name" class="cols-sm-2 control-label">Repeat strong Password</label>
              <div class="input-group">
                <input type="text" class="form-control" name="name" id="name"  placeholder="Re-Type New password"/>
              </div>

            </div>
            <button class="btn btn-primary pull-left" routerLink="/login">Return to Login</button>
          </div>
          <br>

        </form>
      </div>
    </div>
  </div>
</div>
