<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div id="ResetPassword" class="form-group formPadding">
        <h1>Gexa Energy</h1><br><br>
        <h2><b>Reset Password</b></h2>
        <form  id="Reset_password" novalidate [formGroup]="resetPassForm">


          <div id = UserName_Reset_Password *ngIf="!IsUserNameValid && !IsSecurityQuestionValid">
            <h5 style="color: #cccccc">First, provide your Username.</h5>
            <div class="form-group">
              <label for="User_Name" class="cols-sm-2 control-label">Username</label>
              <div class="input-group">
                <input type="text" class="form-control" name="User_Name" id="User_Name" [formControl]="resetPassForm.controls['User_Name']" placeholder="Type your Username"/>
              </div>
            </div><br><br>
            <button type="button" class="btn btn-primary pull-left" (click)="validateUsername(resetPassForm.get('User_Name').value)">Continue</button>
          </div>




          <div id = Security_Question_Reset_Password *ngIf="!IsSecurityQuestionValid && IsUserNameValid">
            <h5 style="color: #cccccc">Answer the questions below.</h5>
            <div class="form-group">
              <label for="SecQues_Answer" class="cols-sm-2 control-label">{{ question}}</label>
              <div class="input-group">
                <input type="text" class="form-control" name="SecQues_Answer" id="SecQues_Answer"  [formControl]="resetPassForm.controls['SecQues_Answer']" placeholder="Type your Answer"/>
              </div>

            </div><br><br>
            <button type="button" class="btn btn-primary pull-left" (click)="validateSecurityQuestion()">Continue</button>
          </div>




          <div id = _Reset_Password *ngIf="IsSecurityQuestionValid && IsUserNameValid ">
            <div class="form-group">
              <label for="New_Password" class="cols-sm-2 control-label">New strong Password</label>
              <div class="input-group">
                <input type="text" class="form-control" name="New_Password" id="New_password" [formControl]="resetPassForm.controls['New_Password']" placeholder="But be 6 characters long"/>
              </div>
              <br>
              <label for="Confirm_New_Password" class="cols-sm-2 control-label">Repeat strong Password</label>
              <div class="input-group">
                <input type="text" class="form-control" name="Confirm_New_Password" id="Confirm_New_Password" [formControl]="resetPassForm.controls['Confirm_New_Password']" placeholder="Re-Type New password"/>
              </div>

            </div><br><br>
            <button type="button" class="btn btn-primary pull-left" routerLink="/login">Return to Login</button>
          </div>





          <br>

        </form>
      </div>
    </div>
  </div>
</div>
