<div id="plan_{{offer.Id}}" class="plan" [ngClass]="{'plan-background': isMoving}">
      <div class="content">
        <div class="planFront">
          <div class="planConfirm" style="display:none">
            <h4>
        Pending
        </h4>
          </div>{{checkFeaturedUsageLevel(offer)}}
          <h2>{{offer.Plan.Name}}</h2>
          <div class="rate">
              {{priceAtFeaturedUsageLevel | DollarToCentsPipe | number: '1.1-1'}}<sup>&cent;</sup> <small>per kWh</small>
          </div>
          <div class="details">
            <p class="usage">
              at {{offer.Plan.Product.Featured_Usage_Level}}
              <br/>
              <i class="fa fa-lock"></i> For {{offer.Plan.Term}} Months
            </p>
            <p *ngIf="offer.Promotion?.Name">{{offer.Promotion?.Name}}</p>
          </div>
          <h4 class="plan-info" (click)="applyFlip()">
          WHAT'S IN THE PLAN ?
          </h4>
          <div class="row buttons">
            <div class="">
              <button (click)='onSelectOffer($event)' type="button" class="btn btn-success btn-select">
                SELECT PLAN <i class="fa fa-chevron-right"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="planMore">
            <mygexa-offer-details-popover (revertBackEvent)="revertToPlan($event)" [OfferDetails]="offer"></mygexa-offer-details-popover>
        </div>

        <div class="planSelect">
          <div id="planSelect_confirm_{{offer.Id}}" class="planSelect_confirm slide-up-fade-in" style="display:none">
            <h3>
    Confirm Selection
    </h3>

            <h2>{{offer.Plan.Name}}</h2>

            <div *ngIf="isOfferSelected">
            <form novalidate [formGroup]="renewalUpgradeFormGroup" class="form-horizontal">
            <div *ngIf="offer.Has_Partner">
              <div class="form-group form-group-sm">
               <label for="accountNameId" class="control-label col-xs-3">Name<sup>*</sup></label>
              <div class="col-xs-9">
              <input type="text" class="form-control form-xs" placeholder="Name on Account" id="accountNameId" formControlName="accountName"
              required
              autocomplete="off"/>
              <ng-container *ngIf="(renewalUpgradeFormGroup.get('accountName').touched ||
              renewalUpgradeFormGroup.get('accountName').dirty) &&
              renewalUpgradeFormGroup.get('accountName').errors">
              <span class="help-block">
                 <small class="text-danger">
                    <i class="fa fa-fw fa-asterisk"></i>
                    <ng-container
                      *ngIf="renewalUpgradeFormGroup.get('accountName').errors.required">Account Name is required.</ng-container>
                 </small>
              </span>
              </ng-container>
              </div>
            </div>
            <div class="form-group form-group-sm">
              <label for="rewardsNumberId" class="col-xs-3 control-label">Number<sup>*</sup></label>
              <div class="col-xs-9">
              <input type="text" class="form-control form-xs" placeholder="Rewards Numbers" id="rewardsNumberId" formControlName="rewardsNumber"
              required
              autocomplete="off"/>
              <ng-container *ngIf="(renewalUpgradeFormGroup.get('rewardsNumber').touched ||
              renewalUpgradeFormGroup.get('rewardsNumber').dirty) &&
              renewalUpgradeFormGroup.get('rewardsNumber').errors">
              <span class="help-block">
                 <small class="text-danger">
                    <i class="fa fa-fw fa-asterisk"></i>
                    <ng-container
                      *ngIf="renewalUpgradeFormGroup.get('rewardsNumber').errors.required">Rewards Number is required.</ng-container>
                 </small>
              </span>
              </ng-container>
              </div>
            </div>
            </div>
            <div class="row">
              <div class="col-xs-1 col-xs-offset-1">
              <div class="checkbox">
              <label>
                <input type="checkbox" class="checkbox" [checked]="isOfferAgreed" (click)="toggleButton()" name="isOfferAgreedBox" id="isOfferAgreed_{{offer.Id}}"  />
                 <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                 </label>
                 </div>
              </div>
              <div class="col-xs-9 agreement-text" [ngClass]="offer.Has_Partner ? 'has-partner' : 'no-partner'">
                <p>By checking this box, I agree to this service plan and rate shown above with Gexa energy, LP.
                </p>
                <p>

                  View your <a href="{{tosLink}}" target="_blank">Terms Of Service</a>, <a href="{{eflLink}}" target="_blank">Electricity Facts Label(EFL)</a> and <a href="{{yraacLink}}" target="_blank">Your Rights As a Customer</a> prior to enrollment.</p>
              </div>

            </div>
            <div class="row buttons">
              <span *ngIf="!isMoving"> 
              <button *ngIf="!processing" type="submit" (click)="btnSubmit()" class="btn btn-success btn-final" [disabled]='isCreateOfferEnabled()'>
                SUBMIT
              </button>
                <button *ngIf="processing" type="submit"  class="btn btn-success btn-final" disabled="disabled">
                  <i class="fa fa-spin fa-circle-o-notch"></i> SUBMIT
                </button>
              </span>
              <span *ngIf="isMoving"> 
                <button *ngIf="!processing"  type="submit" (click)="btnSubmit()" class="btn btn-success btn-final" [disabled]='isCreateOfferEnabled()'>
                  OK
                </button>
                <button *ngIf="processing" type="submit"  class="btn btn-success btn-final" disabled="disabled">
                  <i class="fa fa-spin fa-circle-o-notch"></i> OK
                </button>
              </span>   
              <button (click)="onCloseSelectOffer($event)" aria-hidden="true" class="btn btn-link btn-cancel">
                CANCEL
              </button>
            </div></form>
          </div>
          </div>
        </div>
      </div>
    </div>
