<section class="security-info">
  <h2>Security Information</h2>
  <br/>

  <div class="row">
    <div class="col-md-4">
      <label class="control-label">Username</label>
    </div>
    <div class="col-md-6">
      <div class="form-control">{{userName}}</div>
      <a class="btn btn-primary btn-link" (click)="toggleUserNameEdit($event)">
        <i class="fa" [ngClass]="'fa-' + (userNameEditing ? 'remove' : 'pencil')"></i>
      </a>
    </div>
  </div>

  <div *ngIf="userNameEditing">
    <mygexa-change-user-name (onCancel)="toggleUserNameEdit()"></mygexa-change-user-name>
  </div>

  <br/>

  <div class="row">
    <div class="col-md-4">
      <label class="control-label">Password</label>
    </div>
    <div class="col-md-6">
      <div class="form-control">***************</div>
      <a class="btn btn-primary btn-link" (click)="togglePasswordEdit($event)">
        <i class="fa" [ngClass]="'fa-' + (passwordEditing ? 'remove' : 'pencil')"></i>
      </a>
    </div>
  </div>

  <div *ngIf="passwordEditing">
    <mygexa-change-password (onCancel)="togglePasswordEdit()"></mygexa-change-password>
  </div>

  <br/>

  <mygexa-security-question></mygexa-security-question>

</section>
