<section class="security-info">
  <h3>Security Information</h3>
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <p>Username</p>
      <div class="profile-inline">
        <h4>{{userName}}</h4>
        <a (click)="toggleUserNameEdit($event)">{{ userNameEditing ? 'Close' : 'Edit'}}</a>
      </div>
    </div>
    <div class="col-md-6 hidden-xs">
      <p>Password</p>
      <div class="profile-inline">
        <h4>***************</h4>
        <a (click)="togglePasswordEdit($event)">{{ passwordEditing ? 'Close' : 'Edit'}}</a>
      </div>
    </div>
  </div>

  <div *ngIf="userNameEditing">
    <mygexa-change-user-name></mygexa-change-user-name>
  </div>
  <br>

  <div class="row  hidden-md hidden-lg">
    <div class="col-xs-12">
      <p>Password</p>
      <div class="profile-inline">
        <h4>***************</h4>
        <a (click)="togglePasswordEdit($event)">{{ editing ? 'Close' : 'Edit'}}</a>
    </div>
  </div></div>

  <div *ngIf="passwordEditing">
    <mygexa-change-password></mygexa-change-password>
  </div>


  <mygexa-security-question></mygexa-security-question>

</section>