<section class="security-info">
  <h3>Security Information</h3>
  <div class="row">
  <div class="col-md-6 col-xs-12">
    <p>Username</p>
    <div class="profile-inline">
      <h4>cbrown_2371</h4>
      <a href="">edit</a></div>
  </div>
  <div class="col-md-6 col-xs-12">
    <p>Password</p>
    <div class="profile-inline">
      <h4>***************</h4>
      <a href="">edit</a></div>
  </div>
</div>
<div class="security-question">
  <p>Security Question 1</p>
  <h4>whats your mothers maiden name ? </h4>
  <a href="">edit</a>
</div>
<div class="security-question">
  <p>Security Question 2</p>
  <h4>whats your favourite movie title ? </h4>
  <a href="">edit</a>
</div>
</section>