.home-multi-accounts-modal {
  .loading {
    
    p, .fa {
      color:#fff;
    }
  }
  
  h3 {
    margin-top: 0;
    color: #fff;
    font-size: 24px;
  }
  .modal-body {
    overflow: hidden;
    background: rgba(46, 177, 52, 0.8);
  }
  .modal-content {
    border-radius: 0;
    box-shadow: none;
    border:none;
  }
  .account-header {
    .account-title{
      color:white;
      padding: 10px;
      text-align: center;
      font-size: 18px;
      margin-bottom: 0;
    }
    .close-btn {
      font-size: 40px;
    }
  }

  h1,h2,h3,h4,h5 {
    font-weight:400;
  }
  /*Style the DIV*/
  .select-account-container {
    margin: 10px 0;
    //padding: 5px;
    border: 1px solid #fff;
    text-align: center;
    background-color: rgba(255,255,255,.1);
    border-radius: 5px;   
    padding: 10px;
  }


  /*Fade out the particular DIV when user hover on that DIV*/
  .select-account-container:hover {
    background: rgba( 255,255,1255,.9);
    cursor: pointer;
    color:green !important;
    /*Opacity*/
    zoom: 1;
    opacity: 1;

    h3 {
      color:#fff;
    }
    
     .account-title{
      color: rgba(46, 177, 52, 1);
    }
    
  }

  .continue-button{
    margin: 15px 25px 0 0;
  }

}
