<section class="home-multi-accounts-modal">
  <div
    [config]="{ backdrop: 'static', keyboard: false }"
    bsModal
    #homeMultiAccountsModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="mySmallModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">

          <ng-template *ngIf="ServiceAccounts === null; then ShowLoadingScreen else ShowServiceAccounts;"></ng-template>
          <ng-template #ShowLoadingScreen>
            <div class="text-center">
              <h1><i class="fa fa-spin fa-circle-o-notch"></i></h1>
              <h2>
                <small class="text-muted">Loading your service accounts...</small>
              </h2>
            </div>
          </ng-template>
          <ng-template #ShowServiceAccounts>

            <!--<button type="button" class="close text-right" aria-label="Close" (click)="hideMovingServiceModal()">-->
            <h3>Select Account</h3>
            <!--Plan information -->
            <div class="row">
              <div class="col-md-4 col-xs-12" *ngFor="let acct of ServiceAccounts">
                <div class="select-account-container" [ngClass]="{ 'select-account-container-active': active_service_account_id === acct.Id }" (click)="setActBillAcct(acct.Id)" >
                  <div class="box">
                    <div class="account-header">
                      <p class="account-title">Account No: {{acct.Id}} </p>
                      <h4>Service Address</h4>
                      <h5>{{ acct.Service_Address.Line1 + ',' }}</h5>
                      <h5>{{ acct.Service_Address.City }}</h5>
                      <h5>{{ acct.Service_Address.State + ' - '+ acct.Service_Address.Zip }} </h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="text-right">
              <button
                type="button"
                class="btn btn-primary pull-right continue-button"
                [disabled]='!active_service_account_id'
                (click)="onContinue()"
              >Continue</button>
            </div>

          </ng-template>

        </div>
      </div>
    </div>
  </div>
</section>
