<div *ngIf="!isLoading; then referrals else showLoadingScreen"></div>
<ng-template #referrals>
  <br/>
  <br/>
  <section class="details">
    <div class="row">
      <div class="col-md-4 col-xs-6">
        <label>{{referral.RefereeList ? referral.RefereeList.length : 0 }}</label>
        <h5>Total Current Referrals</h5>
      </div>
      <div class="col-md-4 col-xs-6">
        <label>${{totalSavingsToDate | number : dollarAmountFormatter}}</label>
        <h5>Total Savings to Date</h5>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-success text-center">
          <b>Your Referred Customers </b>
        </div>
      </div>
    </div>
    <br>

    <ng-container *ngIf="referral.RefereeList; else norefees">

        <div class="row">
          <div class="col-md-4">
            <b>Referee Name</b>
          </div>
          <div class="col-md-4">
            <b>Months Credited</b>
          </div>
          <div class="col-md-4">
            <b>Total Amount Credited</b>
          </div>
        </div>
        <hr/>

      <div *ngFor="let referee of referral.RefereeList; let i = index">
        <div class="row">
          <div class="col-md-4">
            <b>{{referee.FirstName}} {{referee.LastName}}</b>
          </div>
          <div class="col-md-4">
            <b>{{referee.MonthsCredited}}</b>
          </div>
          <div class="col-md-4">
            <b>{{referee.Total_Amount_Credited}}</b>
          </div>
        </div>
        <hr/>
      </div>

    </ng-container>

    <ng-template #norefees><div>No Referred Customers</div></ng-template>

    <br>
    <br>
    <br>
  </section>
</ng-template>


<ng-template #showLoadingScreen>
  <div class="text-center">
    <h1><i class="fa fa-spin fa-circle-o-notch"></i></h1>
    <h2>
      <small class="text-muted">Loading your Rewards...</small>
    </h2>
  </div>
</ng-template>
