@import '../../../../../basecolors';


.account-profile{
  .account-info {
    p {
      background-color : #000000;
      color:#ffffff;
      //padding:10px;
      display: inline-block;
    }
  }
  .profile-inline{
    h4{
      display:inline;
    }
  }
}
label{
    display: inline-block;
    text-align: center;
    border: 10px solid $account-base;
    border-radius: 280px;
    min-width: 140px;
    min-height: 140px;
    padding-top: 20%;
}

.addressPanel{
  padding:30px 50px 30px 50px;
}

.note{
  background-color:#eeeeee;
  display: inline-block;
  height:100px;
  padding: 15px 5px 5px 5px;
}
section.details {
  div {
    text-align: center
  }

  h5 {
    text-align: center;
  }
}
h3 {
  margin-top: 0
  
}