<section class="account-profile">
  <div class="row" style="padding: 45px 0 0 0;">
    <div class="col-md-12 col-xs-6">
        <mygexa-service-account-selector
          [selectedServiceAccount]="editingServiceAccount"
          (changedServiceAccount)="serviceChanged($event)"
        ></mygexa-service-account-selector>
    </div>
  </div>
</section>
<section class="details">
  <div class="row">
    <div class="col-md-4 col-xs-6">
      <label>0</label>
      <h5>Total Current referrals</h5>
    </div>
    <div class="col-md-4 col-xs-6">
      <label>0</label>
      <h5>Total Share & Save bill credits this month</h5>
    </div>
    <div class="col-md-4 col-xs-6">
      <label>0</label>
      <h5>Total referrals till date</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-success text-center">
        <b>TOTAL SAVINGS TO DATE : 0 </b>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
</section>
