<section class="account-profile">

  <div class="row" style="padding:45px 0px 0px 0px;">
    <div class="col-md-3 col-xs-6">
      <h5>Your service Referral ID#</h5>
      <h4>695074</h4>
    </div>
    <div class="col-md-9 col-xs-6" *ngIf="selectedBillingAccount">
      <h5>Address to which your bill</h5>
      <div *ngIf="editingAddress">
        <mygexa-service-account-selector
          [selectedBillingAccount]="editingBillingAccount"
          (changedBillingAccount)="serviceChanged($event)"
        ></mygexa-service-account-selector>
        <button class="btn btn-wireframe" (click)="serviceUse()">Use This Address</button>
        <button class="btn btn-wireframe" (click)="toggleAddressEdit()">Cancel</button>
      </div>
      <div *ngIf="!editingAddress">
        <h4>{{selectedBillingAccount.Service_Address.Line1}} {{selectedBillingAccount.Service_Address.Line2}}</h4>
        <h4>{{selectedBillingAccount.Service_Address.City}}, {{selectedBillingAccount.Service_Address.State}} {{selectedBillingAccount.Service_Address.Zip}}</h4>
        <button class="btn btn-wireframe" [hidden]="BillingAccountService.BillingAccounts.length < 2" (click)="toggleAddressEdit()">Change Account</button>
      </div>
    </div>
  </div>
</section>

<hr style="color: #cccccc; width:70%">

<section class="details">

  <div class="row">
  <div class="col-md-3 col-xs-6">
    <h5>Total Current referrals</h5>
  </div>
  <div class="col-md-3 col-xs-6" >
    <label>0</label>
  </div>
</div>

  <div class="row">
    <div class="col-md-3 col-xs-6">
      <h5><b>Names of all current referrals</b></h5>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 col-xs-6">
      <h5>Total Current referrals</h5>
    </div>
    <div class="col-md-3 col-xs-6" >
      <label>0</label>
    </div>

  </div>  <div class="row">
  <div class="col-md-3 col-xs-6">
    <h5>Total Share & Save bill credits this month</h5>
  </div>
  <div class="col-md-3 col-xs-6" >
    <label>0</label>
  </div>

</div>  <div class="row">
  <div class="col-md-3 col-xs-6">
    <h5>Total referrals till date</h5>
  </div>
  <div class="col-md-3 col-xs-6" >
    <label>0</label>
  </div>

</div>  <div class="row">
  <div class="col-md-3 col-xs-6">
    <h4><b>TOTAL SAVINGS TO DATE</b></h4>
  </div>
  <div class="col-md-3 col-xs-6" >
    <label>0</label>
  </div>
</div>
<br>
  <div style="padding: 0px 50px 0px 50px">
  <div class="row note text-center">
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
        eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
  </div>
  </div>
</section>
