  <div class="plan-card-container">
    <h5>Gexa Prime 1000 12</h5>
    <div class="card-content">
    <h2>3.9<sup class="sup-text">c</sup><sub class="sub-text">pkw/hr</sub>
     <i class="fa fa-info-circle" (click)="showServiceUpgradeModal()" aria-hidden="true"></i></h2>
     <mygexa-service-plan-upgrade-modal #serviceUpgradeModal></mygexa-service-plan-upgrade-modal>
      <p>at 1000kwh</p>
      <p>TERM:12 months</p>
      <p>No Sign Up Bonus</p>
      <button class="btn btn-default btn-wireframe">Sign Up</button>
  </div>
  </div>