@import '../../../../../../basecolors';

.plan-card {
      border-right:1px solid #fff;

}

.plan-card-container{
    border: none;
    border-radius: 0;
    padding: 10px 0;
    margin-bottom: 5px;

    .card-included {
      margin-right: 2px;
      padding: 8px;

      h4{
        font-size: 14px !important;
      }
          }

    .card-title {

      h2 {
        font-size:36px;
      }

      h4 {
        color:  rgba(46,177,52,1.0);
        margin-top: 1px;
      }

      .fa {
        color: #fea220;
      }

    }

    .card-content{
        text-align: center;
        .sup-text {
            font-weight: 200;
            font-size: 20px;
            top: -0.9em;
        }
        .sub-text {
            font-size:12px;
            right:0.5em;
        }
      h2 {
        Font-weight: 800;
        color: #000;
      }
      small, sup {
        font-weight: 100;
        font-size: 12px;
      }
      p {
        margin-bottom:0;
        line-height: 25px;

        &:nth-child(odd){
          display: inline-block;
          background-color: rgba(255,255,255,0.3);
          width: 70%;
        }
      }
    }
    .btn-sm {
          margin-top: 30px;
        }

   .agreement-section {
     
      position: absolute;
      top: 45px;
      background-color: rgba(255,255,255,1);
      padding: 20px;
      border-radius: 5px;
      left: 0;
      z-index: 1;

     
       label {
           p {
               font-size:0.9em;
           }
       }

   }
  .fa-2x {
    vertical-align: middle;
  }


.checkbox label:after {
  content: '';
  display: table;
  clear: both;
}

.checkbox .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #a9a9a9;
  border-radius: .25em;
  width: 1.5em;
  height: 1.5em;
  float: left;
  margin-left: -1.8em;
 // background:#000;
}
.checkbox .cr .cr-icon {
  position: absolute;
  font-size: 1em;
  line-height: 0;
  top: 50%;
  left: 20%;
  //color:#fff;
}

.checkbox label input[type="checkbox"] {
  display: none;
  padding-left:1.4em;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon {
  transform: scale(3) rotateZ(-20deg);
  opacity: 0;
  transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon {
  transform: scale(1) rotateZ(0deg);
  opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr{
  opacity: .5;
}


}

.fa-in-circle {

  background:  rgba(254,162,32,1.0);
    color: #fff;
    border-radius: 30px;
    display: inline-block;
    padding: 8px 0;
    width: 30px;
    height: 30px;

}
.card-included {

  .form-control {
    background: transparent;
    border: none;
    box-shadow: none;
  }

  .col-sm-10 {
    text-align: left;
    line-height: 1em;
    margin-bottom: 10px;
  }
}

 .close-btn {
    font-size: 20px;
    .fa{
          color:#000 !important;
    }
}


