<section *ngIf="!IsInRenewalTimeFrame && Offer">

<div class="plan-card-container">
  <div class="card-content">
    <div class="card-title">
    <h4>{{Offer.Plan.Name }}<small><i class="fa fa-info-circle" (click)="showServiceUpgradeModal()" aria-hidden="true"></i></small></h4>
      <!--//<h2>{{Offer.Price_At_1000_kwh | DollarToCentsPipe | number: '1.2-2'}}<sup class="sup-text">c</sup><sub class="sub-text">pkw/hr</sub></h2>-->

    <h2>{{Offer.Price_At_1000_kwh | DollarToCentsPipe | number: '1.1-1'}}<sup class="sup-text">c</sup><sub class="sub-text">per kwh</sub>
      </h2>
      </div>
    <mygexa-service-plan-upgrade-modal #serviceUpgradeModal></mygexa-service-plan-upgrade-modal>
    <p>at 1000kwh</p>
    <p>TERM:{{Offer.Plan.Term}} months</p>
    <p>{{Offer.Promotion?.Name}}</p>
    <br/>
  </div>
  <div *ngIf= "selectCheckBox" class="agreement-section">
    <hr>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="" (click) = "toggleButton()">
        <span class="cr"><i class="cr-icon fa fa-check"></i></span>
        <p class="text-left">By checking this box, I agree to this service plan and rate shown above with Gexa energy, LP(Gexa energy).<br/><br/>View your Terms Of Service, Electricity Facts Label(EFL) and Your Rights As a Customer prior to enrollment.</p>
      </label>
    </div>
    <hr>
    <div class="row">
      <div style="text-align:center">
        <button class="btn btn-primary" [disabled]="selectCheckBox && !enableSelect">Submit</button>
        <i class="fa fa-times fa-2x" style="margin-left:.5em" (click)="closeCheckBox()" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <br/>
  <div *ngIf="!selectCheckBox">
  <div class="row">
    <div style="text-align:center">
      <button class="btn btn-sm btn-success" [disabled]="selectCheckBox && !enableSelect" (click)='onSelect($event)'> <i class="fa fa-chevron-right"  aria-hidden="true"></i> SIGN UP</button>
    </div>
  </div>
  </div>
</div>
</section>

<section id = renewPlan *ngIf="IsInRenewalTimeFrame && Offer" >
  <div class="plan-card-container">
    <div class="card-content">
      <div class="card-title">
      <h4>{{Offer.Plan.Name }} <i class="fa fa-info-circle" (click)="showServiceUpgradeModal()" aria-hidden="true"></i></h4>
      <h2>{{Offer.Price_At_1000_kwh | DollarToCentsPipe | number: '1.1-1'}}<sup class="sup-text">c</sup><sub class="sub-text">per kwh</sub></h2>
      </div>
      <mygexa-service-plan-upgrade-modal #serviceUpgradeModal></mygexa-service-plan-upgrade-modal>
      <p>at 1000kwh</p>
      <p>TERM:{{Offer.Plan.Term}} months</p>
      <p>{{Offer.Promotion?.Name}}</p>

    </div>
    <div *ngIf= "selectCheckBox" class="agreement-section">
      <div class="checkbox">
        <label>
          <input type="checkbox" value="" (click) = "toggleButton()">
          <span class="cr"><i class="cr-icon fa fa-check"></i></span>
          <p class="text-left">By checking this box, I agree to this service plan and rate shown above with Gexa energy, LP(Gexa energy).<br/><br/>View your Terms Of Service, Electricity Facts Label(EFL) and Your Rights As a Customer prior to enrollment.</p>
        </label>
      </div>
      <div class="row">
        <div style="text-align:center">
          <button class="btn btn-primary" [disabled]="selectCheckBox && !enableSelect">Submit</button>
          <i class="fa fa-times fa-2x" style="margin-left:.5em" (click)="closeCheckBox()" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <br/>
    <div *ngIf="!selectCheckBox">
    <div class="row">
      <div style="text-align:center">
        <button class="btn btn-default btn-primary" [disabled]="selectCheckBox && !enableSelect" (click)='onSelect($event)'> Select  <i class="fa fa-chevron-right fa-wh" aria-hidden="true"></i></button>
      </div>
    </div>
    </div>
    <div class="row card-included">
     <div class="col-md-12">
      <h4 class="text-center form-control ">What's included <i class="fa fa-chevron-down" (click)="ChevClicked()" [ngClass] ="chev_clicked ?  'fa-chevron-down':  'fa-chevron-up'"></i>
        <div class="card-included pull-left" *ngIf="chev_clicked">
              <div class="row">
                <div class="col-sm-2">
                  <i class="fa fa-lightbulb-o fa-fw fa-in-circle"></i>
                </div>
                <div class="col-sm-10">
                  Best plan for homes that a moderate amount of electricity
                </div>
              </div>
                  <div class="row">
                <div class="col-sm-2">
                        <i class="fa fa-handshake-o fa-fw  fa-in-circle"></i>

                </div>
                <div class="col-sm-10">
                  Eligible for bill credits with Share &amp; Save
                </div>
              </div>
                  <div class="row">
                <div class="col-sm-2">
                        <i class="fa fa-calendar-o fa-fw  fa-in-circle"></i>


                </div>
                <div class="col-sm-10">
                  Price is fixed <br> for 12 months
                </div>
              </div>
        </div>
      </h4>
      </div>
    </div>
  </div>

</section>

