.change-plan-card{
    box-shadow: none;
    border: 1px solid #000000;
    text-align: center;
    .sup-text {
        font-size: 12px;
        top: -1.5em;
    }
    .sub-text {
        font-size:12px;
        right:0.5em;
    }

}