<div class="container">
  <div class="row">
    <div class="col-sm-3 hidden-xs payment-side-panel">
      <mygexa-left-nav-panel [sideNavData] = "{
        'panelTitle':'Payment Center',
        'items':[
          { 'title':'View My Bill', 'navUrl':'view-my-bill' },
          { 'title':'Make a Payment', 'navUrl':'make-payment' },
          { 'title':'Payment Accounts', 'navUrl':'payment-accounts' },
          { 'title':'Payment Options', 'navUrl':'payment-options' },
          { 'title':'Payment History', 'navUrl':'payment-history' }
        ]
      }" ></mygexa-left-nav-panel>
    </div>
     <div class="col-sm-9 payment-profile">
      <mygexa-status-bar></mygexa-status-bar>
      <mygexa-service-account-selector [setActiveServiceAccount]="true" ></mygexa-service-account-selector>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<div [hidden]="!startsWith(Router.url, '/payments/view-my-bill')">
  <br/>
  <div class="container-fluid container-breakout bg-success">
    <div class="container">
        <mygexa-view-bill></mygexa-view-bill>
    </div>
  </div>
</div>
