<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-3 hidden-xs payment-side-panel">
      <mygexa-left-nav-panel [sideNavData] = "{
        'panelTitle':'Payment Center',
        'items':[
          { 'title':'View My Bill', 'navUrl':'view-my-bill' },
          { 'title':'Make a Payment', 'navUrl':'make-payment' },
          { 'title':'Payment Accounts', 'navUrl':'payment-accounts' },
          { 'title':'Payment Options', 'navUrl':'payment-options' },
          { 'title':'Payment History', 'navUrl':'payment-history' }
        ]
      }" ></mygexa-left-nav-panel>
    </div>
     <div class="col-md-9 col-sm-9 col-xs-12 payment-profile">
      <mygexa-status-bar></mygexa-status-bar>
      <mygexa-service-account-selector [setActiveServiceAccount]="true" ></mygexa-service-account-selector>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
