<br/>
<div class="row bg-info">
  <div class="col-xs-12">
    <hr/>
  </div>
  <div class="col-md-4">
    <label class="form-control-label">Change Phone Number</label>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label class="phoneNumSmallLabel">
        By providing your phone number you agree that Gexa may contact you at the number with account–related information and alerts, including via automated and/or prerecorded calls or texts.
      </label>
    </div>
    <form
      id="changePhoneNumberForm"
      novalidate
      [formGroup]="changePhoneNumberForm"
      (ngSubmit)="submitForm()"
      align="center"
    >
      <div class="form-group" [ngClass]="{'has-error':!changePhoneNumberForm.controls['phone'].valid && submitAttempt}">
        <input
          type="text"
          name="phone"
          class="form-control"
          [formControl]="changePhoneNumberForm.controls['phone']"
          placeholder="Enter new Phone Number"
        />
        <div class="has-error" *ngIf="changePhoneNumberForm.controls['phone'].hasError('required') && submitAttempt">
          <span class="help-block">Required</span>
        </div>
        <div class="has-error" *ngIf="!changePhoneNumberForm.controls['phone'].hasError('required') && changePhoneNumberForm.controls['phone'].hasError('validatePhone') && submitAttempt">
          <span class="help-block">Enter a valid phone number</span>
        </div>
      </div>
      <div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="radioGroup" value="mobile"  [formControl]="changePhoneNumberForm.controls['mobileRadio']"
                 (change)="radioButtonSelected(changePhoneNumberForm.controls['mobileRadio'].value)"> Mobile
        </label>
        <label class="radio-inline">
          <input type="radio" name="radioGroup" value="landline" [formControl]="changePhoneNumberForm.controls['landlineRadio']"
                 (change)="radioButtonSelected(changePhoneNumberForm.controls['landlineRadio'].value)">Landline
        </label>
      </div>
      <div class="has-error" *ngIf="IsNoSelected">
        <span class="help-block">Type is required.</span>
      </div>
      <div class="form-group" [ngClass]="{'has-error':!changePhoneNumberForm.controls['confirmPhone'].valid && submitAttempt}">
        <input
          type="text"
          name="confirmPhone"
          class="form-control"
          validateEqual="phone"
          [formControl]="changePhoneNumberForm.controls['confirmPhone']"
          placeholder="Confirm Phone Number"
        />
        <div class="has-error" *ngIf="changePhoneNumberForm.controls['confirmPhone'].hasError('required') && submitAttempt">
          <span class="help-block">Required</span>
        </div>
        <div class="has-error" *ngIf="!changePhoneNumberForm.controls['confirmPhone'].hasError('required') && changePhoneNumberForm.controls['confirmPhone'].hasError('validatePhone') && submitAttempt">
          <span class="help-block">Enter a valid phone Number</span>
        </div>
        <div class="has-error" *ngIf="!changePhoneNumberForm.controls['confirmPhone'].hasError('required') && !changePhoneNumberForm.controls['confirmPhone'].hasError('validatePhone') && submitAttempt && !(changePhoneNumberForm.controls['confirmPhone'].value == changePhoneNumberForm.controls['phone'].value)">
          <span class="help-block">Phone Number mismatch</span>
        </div>
      </div>

      <div class="form-group" *ngIf="IsMobileSelected">
        <label class="checkbox-inline" style="float:left"><input type="checkbox" (change)="mobileCheckBoxChecked($event)" id="mobileCheckbox" [formControl]="changePhoneNumberForm.controls['mobileCheckbox']">Yes, Allow Offer Notifications</label><br>
        <label class="phoneNumLabel">
          For your convenience, we would like to reach out to your mobile number regarding special product or service offers from Gexa Energy using automated texts and/or phone calls.  Message and data rates may apply, and your consent is not required to make a purchase. To agree to this service please select the Allow Offer Notifications box.
        </label><br>
        <!--<label class="phoneNumSmallLabel">-->
          <!--Standard message and data rates may apply. This is not required to purchase goods and services from Gexa Energy.-->
        <!--</label>-->
      </div>

      <div class="text-right">
        <button class="btn btn-primary" type="submit" [disabled]="">Save</button>
        <button class="btn btn-default" type="button" (click)="emitCancel()">Cancel</button>
      </div>
      <!--<div #phone_pop="bs-popover" [popover]="showpop" placement="bottom" outsideClick="true">-->
        <!--<ng-template #showpop>-->
          <!--<button type="button" class="close text-right" aria-label="Close" (click)="phone_pop.hide()">-->
            <!--<span class="close-btn" aria-hidden="true"><i class="fa fa-remove"></i></span></button>-->
        <!--</ng-template>-->
      <!--</div>-->
    </form>
    <hr/>
  </div>
</div>
<mygexa-phone-number-confirmation-modal #phonePopModal (action)="onNotify($event)"></mygexa-phone-number-confirmation-modal>
