.phoneNumberPanel {
background-color: #eeeeee;
    padding-bottom:20px;
    margin:0 -4rem;
}

.phoneNumLabel {
  font-weight: normal !important;
  font-style: normal !important;
  text-align: left;
  margin-left: 20px !important;
  font-size: 10px !important;
}
.phoneNumSmallLabel {
  font-size: 10px !important;
  font-weight: normal !important;
  font-style: normal !important;
  text-align: left;
  margin-left: 20px !important;
}
