<div class="container-fluid plans-profile">
<form [formGroup]="addServiceForm" novalidate>
  <div class="row add-services">
    <div class="col-md-12">
      <h2>Add Service Location</h2>    
    </div>
  </div>
 

  <!-- Enter New Service Address -->
  <div class="row">
    <div class="col-md-6 new-service-address">
      <h3>
        Enter New Service Address
      </h3>
      <!-- <input type="text" class="form-control" placeholder="Enter New Address"> -->
     <mygexa-address-search (onSelectedServiceAddress)="getSelectedAddress($event)" ></mygexa-address-search>
    </div>
  </div>

  <!-- start service -->
  <div class="row">
    <div class="col-md-6">
      <h3>When would you like start service?</h3>
       <my-date-picker name="New_Service_Start_Date" [options]="ServiceStartDate" formControlName="Service_Start_Date"></my-date-picker>
    </div>
  </div>
  <!-- Service Type Selection -->
  <div class="row">
    <div class="col-md-6  new-service-address">
      <h3>Service Type</h3>   
        <div class="row">
          <div class="col-xs-6 col-md-5">
            <div class="form-control">
              <label class="radio-inline">
                <input type="radio" formControlName="serviceType" value="moving" (click)="getFeaturedOffers()">I'm Moving
              </label>
            </div>
          </div>
          <div class="col-xs-6 col-md-5 col-md-offset-1">
            <div class="form-control">
              <label class="radio-inline">
                <input type="radio" formControlName="serviceType" value="switching" (click)="getFeaturedOffers()">I'm Switching
              </label>
            </div>
          </div>
        </div>      
    </div>
  </div>

  <!-- Select Plan -->
  <h2>Select a Plan</h2>
  <div class="row" *ngIf="availableOffers" class="featured-offers">
    <div class="col-md-4" *ngFor="let featuredOffer of availableOffers.Items">
      <mygexa-select-plan [featuredOffer]="featuredOffer"></mygexa-select-plan>
    </div>
  </div>

  <!-- Credit Check -->
  <!--<h4>Credit Check</h4>
  <mygexa-credit-check></mygexa-credit-check>-->

  <div class="add-services-verify-info">
    <div class="alert alert-info clearfix">
      <div class="row">
        <div class="col-md-9">
          Please review all your information and make it is accurate before submitting
        </div>
        <div class="col-md-3">
          <i class="fa fa-arrow-up pull-right" aria-hidden="true" (click)="scrollTop()"></i>
        </div>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-12 col-xs-12 text-center">
        <button class="btn btn-primary btn-lg ">Add New Service Location</button>
      </div>
    </div>
  </div>
</form>
</div>

<br/>
<br/>
