.add-services {
    .progress {
        margin-top:2em;
        border : 2px solid #000;
        .progress-bar {
            background-color:#ccc;
        }
    }

}
.current-service-address {
    p {
        font-weight:bold;
        margin:0;
        font-size: 1.3em;
    }

}
.new-service-address {
    //margin:3em 0;
}
.start-service-text{
    margin-left:15px;
}

.add-services-verify-info {
    .divider-line {
        border-top: 2px solid #000;
    }

}
.featured-offers{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  background-color: rgba(239,238,202,1.0);
  padding-top: 10px;

  
}
.start-date-tooltip {
    .fa {
        margin-top : 1em;
    }
}

.content {
    background-color: rgba(239,238,202,1.0)
  }