<div class="container-fluid plans-profile">
  <form [hidden]="enrolled" [formGroup]="addServiceForm" novalidate>
    <div class="row add-services">
      <div class="col-md-12">
        <h2>Add Service Location</h2>
      </div>
    </div>


    <!-- Enter New Service Address -->
    <div class="row">
      <div class="col-md-6 new-service-address">
        <h3>
          Enter New Service Address
        </h3>
        <!-- <input type="text" class="form-control" placeholder="Enter New Address"> -->
        <mygexa-address-search (onSelectedServiceAddress)="getSelectedAddress($event)" (onServiceAddressChanged) = "disableFields($event)"></mygexa-address-search>
      </div>
    </div>

    <!-- start service -->
    <div class="row">
      <h3 class="start-service-text">When would you like start service?</h3>
      <div class="col-md-6">
        <my-date-picker name="Service_Start_Date" [selDate]="selDate" [options]="ServiceStartDate" formControlName="Service_Start_Date" [disabled]="!enableDates"
          (dateChanged)="onStartDateChanged($event)"></my-date-picker>
          <small class="text-danger" *ngIf="addServiceForm.controls?.Service_Start_Date.errors?.checkIfJuly4th">Select business day</small>
          <small class="text-danger" *ngIf="addServiceForm.controls?.Service_Start_Date.errors?.checkIfNewYear">New Year day is not a valid start date</small>
          <small class="text-danger" *ngIf="addServiceForm.controls?.Service_Start_Date.errors?.checkIfChristmasEve">Christmas Eve is not a valid start date</small>
          <small class="text-danger" *ngIf="addServiceForm.controls?.Service_Start_Date.errors?.checkIfChristmasDay">Christmas Day is not a valid start date</small>
          <small class="text-danger" *ngIf="!selectedServiceAddress && addServiceForm.controls?.Service_Start_Date.touched">Please Enter New Service Address</small>
      </div>
      <small class="start-date-tooltip"><i aria-hidden="true" class="fa fa-info-circle" tooltip="If you require service before 3 business days then call 855-639-8118."></i></small>
    </div>
    <!-- Service Type Selection -->
    <div class="row">
      <div class="col-md-6  new-service-address">
        <h3>Service Type</h3>
        <div class="row">
          <div class="col-xs-6 col-md-5">
            <div class="form-control">
              <label class="radio-inline">
                <input type="radio" formControlName="serviceType" (change)="onChangeServiceType()" [(ngModel)]="serviceType" value="MoveIn">I'm Moving
              </label>
            </div>
          </div>
          <div class="col-xs-6 col-md-5 col-md-offset-1">
            <div class="form-control">
              <label class="radio-inline">
                <input type="radio" formControlName="serviceType" (change)="onChangeServiceType()" [(ngModel)]="serviceType" value="Switch">I'm Switching
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Select Plan -->
    <div *ngIf="this.featuredOffers">
      <div *ngIf="showPlansFlag">
        <h2>Select a Plan</h2>
        <div class="row" class="featured-offers">
          <div class="col-md-4" *ngFor="let featuredOffer of this.featuredOffers">
            <!-- <mygexa-select-plan (selectedOffer)="onNotify($event)" [featuredOffer]="featuredOffer"></mygexa-select-plan> -->
            <mygexa-plan-card [offer]="featuredOffer" [offerSelectionType]="offerSelectionType.Moving"
            (onOfferSelectedEvent)="onNotify($event)"></mygexa-plan-card>
          </div>
        </div>
      </div>
      <div *ngIf="this.featuredOffers && this.featuredOffers.length <= 0" >
          <h2> No available offers for this service account. </h2>
      </div>
      <div *ngIf="!isTokenError && !showPlansFlag && this.featuredOffers && this.featuredOffers.length > 0">
        <div *ngIf="tokenRes && tokenRes.Enrollment_Deposit_Amount > 0">
        <h2>Deposit Required</h2>
        <div class="alert alert-info clearfix">
          <div class="row">
            <div class="col-md-12">
              A deposit of {{tokenRes.Enrollment_Deposit_Amount | currency}} is required. An email will be sent to you with payment instructions. Press View Plans to continue
            </div>
          </div>
        </div>
      </div>
      </div>
      <div *ngIf="isTokenError && !showPlansFlag && this.featuredOffers && this.featuredOffers.length > 0">
          <div class="alert alert-info clearfix">
            <div class="row">
              <div class="col-md-12">
                {{tokenMsg}}
              </div>
            </div>
          </div>
        </div>
    </div>

    <h2 *ngIf="enrollErrorMsg && enrollErrorMsg.length > 0">{{enrollErrorMsg}}</h2>


    <!-- Credit Check -->
    <!--<h4>Credit Check</h4>
  <mygexa-credit-check></mygexa-credit-check>-->

    <div class="add-services-verify-info">
      <!-- <div class="alert alert-info clearfix">
        <div class="row">
          <div class="col-md-9">
            Please review all your information and make it is accurate before submitting
          </div>
          <div class="col-md-3">
            <i class="fa fa-arrow-up pull-right" aria-hidden="true" (click)="scrollTop()"></i>
          </div>
        </div>
      </div>
      <br/> -->
      <div class="row" *ngIf="this.featuredOffers && this.featuredOffers.length > 0 && !showPlansFlag">
        <div class="col-md-12 col-xs-12 text-right">
          <button class="btn btn-primary btn-lg" (click)="showPlans()">View Plans
            <i class="fa fa-chevron-right fa-wh" style="color: white" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </form>

 <!--Enrollment Services Confirmation Screen -->
 <div [hidden]="!enrolled" class="col-md-8">
    <h2>Success!</h2>
    <br/>
    <div>Your order has been submitted. A confirmation email will be sent to the email address we have on your account.
      <br/><br/>Thank you for choosing Gexa Energy!
    </div>
  </div>

</div>

<br/>
<br/>
