<nav class="navbar navbar-inverse">
  <div class="container container-relaxed">
    <ul class="nav navbar-nav navbar-left">
      <li><small><span class="fa fa-rocket fa-rotate-45 fa-fw"></span> My Gexa {{env}} </small></li>
    </ul>
    <ul class="nav navbar-nav navbar-right hidden-xs">
      <li><a href="#"><small><span class="fa fa-sign-out fa-white"></span> <span class="hidden-xs">Log in Or Sign Up for Great GEXA Energy Rates</span></small></a></li>
    </ul>
  </div>
</nav>
<nav class="navbar custom-nav">
  <div class="container container-relaxed">
    <div class="navbar-header">
      <div class="navbar-logo"> <img src="/assets/global/gexa-lq.png" alt="Gexa Energy"/> </div>
    </div>
  </div>
</nav>
<div class="homepage-hero-wrapper">
  <div class="homepage-hero-module">
     <div class="video-container">
      <div class="filter"></div>
      <video autoplay loop class="fillWidth" id="login-video-player">
        <source src="/assets/home/MP4/aerial_houston_xs.mp4" type="video/mp4" />
        Your browser does not support the video tag. I suggest you upgrade your browser.
        <source src="/assets/home/WEBM/aerial_houston_xs.webm" type="video/webm" />
        Your browser does not support the video tag. I suggest you upgrade your browser. </video>
      <div class="poster hidden"> <img src="/assets/home/Snapshots/aerial_houston_xs.jpg" alt=""> </div>
    </div>
  </div>
</div>
<div class="container login-container">
  <div class="row">
    <div class="col-md-6 col-xs-12 ui-light">
      <div class="my-gexa-login-form">
        <h2><b>Sign in to MyGexa!</b></h2>
        <br>
        <br>
        <form (ngSubmit)="login()" #myGexaLoginForm="ngForm">
          <div class="form-group" [ngClass]="{ 'has-error': !username.valid && !username.pristine && !processing }">
            <label class="cols-sm-2 control-label">Username</label>
            <input
                  [(ngModel)]="user_name"
                  [disabled]="processing"
                  name="user_name"
                  type="text"
                  class="form-control"
                  style="border-radius: 5px; cursor: pointer"
                  placeholder="Username"
                  required
                  #username="ngModel"
                />
            <small [hidden]="username.valid || username.pristine || processing" class="text-danger">Username is
            required </small> </div>
          <div class="form-group" [ngClass]="{ 'has-error': !em.valid && !em.pristine && !processing }">
            <label class="cols-sm-2 control-label">Password</label>
            <input
                  [(ngModel)]="password"
                  [disabled]="processing"
                  name="password"
                  type="password"
                  class="form-control"
                  style="border-radius: 5px; cursor: pointer"
                  placeholder="Type your Password"
                  required
                  #em="ngModel"
                />
            <small [hidden]="em.valid || em.pristine || processing" class="text-danger">Password is required</small> </div>
          <div class="text-danger" *ngIf="invalidCreds && !error">Either username or password is wrong </div>
          <div class="text-danger" *ngIf="error">{{error}}</div>
          <br>
          <div class="row">
            <div class="col-md-6">
              <button
                type="submit"
                class="btn btn-block btn-success"
                *ngIf="!processing"
              >Login </button>
              <button
                type="button"
                class="btn btn-block btn-primary"
                *ngIf="processing"
                disabled
              ><i class="fa fa-spin fa-cog"></i> Logging in... </button>
              <br/>
            </div>
            <div class="col-md-6">
              <button
                type="button"
                class="btn btn-block btn-default"
                [disabled]="processing"
                (click)="showRegisterModal()"
              > Register <i class="fa fa-chevron-right"></i></button>
              <br/>
            </div>
          </div>
          <p>Forgot your <a routerLink="/login/recover-password">Password</a> or <a routerLink="/login/recover-username">Username</a>?</p>
        </form>
      </div>
    </div>
    <div class="ui-dark col-md-6 hidden-xs">
      <h1>Enroll in our Share &amp; Save Referral Program</h1>
      <p>You'll earn a $5 bill credit every month for each friend or family member who signs up for a new Gexa Energy Plan!</p>
      <hr/>
      <div class="media">
        <div class="media-left"><i class="fa fa-gear fa-3x"></i></div>
        <div class="media-body">
          <h4 class="media-heading">Set Up Auto Pay!</h4>
          <p>Don’t stress about payment due dates. Never miss a payment with auto bill pay.</p>
        </div>
      </div>
        <hr/>
      <div class="media">
        <div class="media-left"><i class="fa fa-leaf fa-3x"></i></div>
        <div class="media-body">
          <h4 class="media-heading">Go Paperless</h4>
          <p>Enjoy the convenience of electronic communications! Select email for both billing and plan documents.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Register Modal -->
<mygexa-login-register-modal #loginRegisterModal></mygexa-login-register-modal>
<mygexa-login-add-claims-modal #loginAddClaimModal></mygexa-login-add-claims-modal>
