 <md-card class="change-plan-card">
    <md-card-header>
      <md-card-title>
        <span class="md-headline">Gexa Prime 1000 12</span>
      </md-card-title>      
    </md-card-header>
    <md-card-content>
      <h4>$0.082<sup>c</sup><sub>pkw/hr</sub><i class="material-icons pull-right">info</i></h4>
      <p>at 1000kwh</p>
      <p>Term:12 months</p>
      <p>No Sign Up Bonus</p>
    </md-card-content>
    <md-card-actions>
      <button md-button>Sign Up</button>
    </md-card-actions>    
  </md-card>