.error-modal {
  .modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .modal-content {
    text-align: center;
  }
  .error-header {
    padding-top: 20px;
    border-bottom: 0px white;
  }
  .modal-body {
    padding-top: 20px;
    border-bottom: 0px white;
    .modal-title {
      padding: 2px 0px 5px 75px;
      font-weight: bold;
      background-color: green;
      color: white;
      .close-btn {
        padding: 10px 10px 10px 10px;
        color: black;
      }
    }
  }
  h1, h2, h3, h4, h5 {
    font-weight: bold;
  }
}
