<form
  class="form-horizontal"
  [formGroup]="budgetBillingFormGroup"
  (ngSubmit)="save()"
  novalidate>

  <div class="form-group" [ngClass]="{'has-error': (budgetBillingFormGroup.get('amount').touched ||
                                                                  budgetBillingFormGroup.get('amount').dirty) &&
                                                                  !budgetBillingFormGroup.get('amount').valid}">

    <label for="budgetBillingAmountId" class="col-md-4 col-lg-2 control-label">Budget Payment Amount</label>
    <div class="col-md-8 col-lg-6">
      <input
        type="number"
        class="form-control form-control-wireframe"
        id="budgetBillingAmountId"
        placeholder="Amount (required)"
        formControlName="amount"
        autocomplete="off"
        maxlength="19"/>

      <small class="text-success" *ngIf="budgetBillingFormGroup.controls?.amount.valid"><i
        class="fa fa-fw fa-check"></i> Ok
      </small>

      <ng-container *ngIf="(budgetBillingFormGroup.get('amount').touched ||
                                                         budgetBillingFormGroup.get('amount').dirty) &&
                                                         budgetBillingFormGroup.get('amount').errors">
        <span class="help-block">
        <small class="text-danger"><i class="fa fa-fw fa-asterisk"></i>
          <ng-container *ngIf="budgetBillingFormGroup.get('amount').errors.required">Please enter your amount for budget billing.</ng-container>
          <ng-container *ngIf="budgetBillingFormGroup.get('amount').errors.minimumValue">Amount for budget billing should be a minimum of {{ minimumAmount }}.</ng-container>
        </small>
        </span>
      </ng-container>
    </div>
  </div>

  <div class="form-group" [ngClass]="{'has-error': (budgetBillingFormGroup.get('agree').touched ||
                                                                  budgetBillingFormGroup.get('agree').dirty) &&
                                                                  !budgetBillingFormGroup.get('agree').valid}">
    <div class="col-md-offset-4 col-md-8 col-lg-offset-2 col-lg-10">
      <div class="checkbox">
        <label>
          <input
            type="checkbox"
            id="agreeId"
            formControlName="agree"> I Agree to Terms and Conditions
        </label>

        <ng-container *ngIf="(budgetBillingFormGroup.get('agree').touched ||
                                                         budgetBillingFormGroup.get('agree').dirty) &&
                                                         budgetBillingFormGroup.get('agree').errors">
          <span class="help-block">
          <ng-container
            *ngIf="budgetBillingFormGroup.get('agree').errors.pattern">Please agree to Terms and Conditions.</ng-container>
            </span>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-4 col-md-8 col-lg-offset-2 col-lg-10">
      <button type="submit" class="btn btn-primary" [disabled]="!budgetBillingFormGroup.valid">Start Now</button>
      <button type="button" class="btn btn-link " (click)="cancel()">Back
      </button>
    </div>
  </div>

</form>
