
img.payment-options-budget-billing-how-it-works {
  max-width: 345px;
  width: 100%;
}

h1.start-at {
  font-size: 4rem;
  margin-top: 5rem;
}

h1.active-budget {
  font-weight: bold;
  margin: 4rem 0 2rem 0;
}

div.active-options {
  margin-top: 4rem;
}

.budget-summary {
  font-size: 16px;
}

.section-container-highlight h2 {
  margin-top:0; 
}