<form
  class="form-horizontal"
  [formGroup]="budgetBillingFormGroup"
  (ngSubmit)="save()"
  novalidate>
<div class="row">
  <div class="form-group" [ngClass]="{'has-error': (budgetBillingFormGroup.get('amount').touched ||
                                                                  budgetBillingFormGroup.get('amount').dirty) &&
                                                                  !budgetBillingFormGroup.get('amount').valid}">

    <label for="budgetBillingAmountId" class="col-sm-4  control-label">Budget Payment Amount</label>
    <div class="col-sm-6">
      <input
        type="number"
        class="form-control form-control-wireframe"
        id="budgetBillingAmountId"
        placeholder="Amount (required)"
        formControlName="amount"
        autocomplete="off"
        maxlength="19"/>
    </div>

     
      <div class="text-success col-sm-2" *ngIf="budgetBillingFormGroup.controls?.amount.valid"><i
        class="fa fa-fw fa-check"></i> Ok
      </div>
      <ng-container *ngIf="(budgetBillingFormGroup.get('amount').touched ||
                                                         budgetBillingFormGroup.get('amount').dirty) &&
                                                         budgetBillingFormGroup.get('amount').errors">
        <span class="help-block">
        <small class="text-danger"><i class="fa fa-fw fa-asterisk"></i>
          <ng-container *ngIf="budgetBillingFormGroup.get('amount').errors.required">Please enter your amount for budget billing.</ng-container>
          <ng-container *ngIf="budgetBillingFormGroup.get('amount').errors.minimumValue">Amount for budget billing should be a minimum of {{ minimumAmount }}.</ng-container>
        </small>
        </span>
      </ng-container>
    </div>
  </div>

  <div class="form-group" [ngClass]="{'has-error': (budgetBillingFormGroup.get('agree').touched ||
                                                                  budgetBillingFormGroup.get('agree').dirty) &&
                                                                  !budgetBillingFormGroup.get('agree').valid}">
    <div class="col-sm-offset-4 col-md-8">
      <div class="checkbox">
        <label>
          <input
            type="checkbox"
            id="agreeId"
            formControlName="agree"> I Agree to <a href="/assets/payments/BB.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Terms and Conditions.</a>
        </label>

        <ng-container *ngIf="(budgetBillingFormGroup.get('agree').touched ||
                                                         budgetBillingFormGroup.get('agree').dirty) &&
                                                         budgetBillingFormGroup.get('agree').errors">
          <span class="help-block">
          <ng-container
                        *ngIf="budgetBillingFormGroup.get('agree').errors.pattern">Please agree to <a href="/assets/payments/BB.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Terms and Conditions.</a></ng-container>
            </span>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-8">
      <button type="submit" class="btn btn-primary" [disabled]="!budgetBillingFormGroup.valid">Start Now</button>
      <button type="button" class="btn btn-link " (click)="cancel()">Cancel
      </button>
    </div>
  </div>
<br/>
<br/>
</form>
