<section class="section-container-highlight">
  <ng-template *ngIf="signedUpToBudgetBilling; then SignedUpToBudgetBilling else NotSignedUpToBudgetBilling;"></ng-template>
  <ng-template #NotSignedUpToBudgetBilling>
    <ng-template *ngIf="signingUpToBudgetBilling; then SigningUpToBudgetBilling else NotSigningUpToBudgetBilling;"></ng-template>
    <ng-template #NotSigningUpToBudgetBilling>
      <div class="row text-center">
        <div class="col-md-4 col-md-push-8">
          <a href="#" (click)="$event.preventDefault();">
            <img class="payment-options-budget-billing-how-it-works" src="/assets/payments/payment-options-budget-billing-how-it-works.jpg"/>
          </a>
        </div>
        <div class="col-md-8 col-md-pull-4">
          <h1>Start Up Budget Billing<br/><small>for as little as</small></h1>
          <h1 class="start-at">${{ amountMinimum | NumberToMoneyPipe }} Per Month *</h1>
          <button class="btn btn-lg btn-primary" (click)="signingUpToBudgetBilling = true">Sign Up Now!</button>
        </div>
      </div>
    </ng-template>
    <ng-template #SigningUpToBudgetBilling>
      <mygexa-budget-billing-selector
        [editing]="signedUpToBudgetBillingEditing"
        [onCancel]="cancelSubmit"
        [onSubmit]="startSubmit"
        [amountInitial]="amountInitial"
        [amountMinimum]="amountMinimum"
      ></mygexa-budget-billing-selector>
    </ng-template>
  </ng-template>
  <ng-template #SignedUpToBudgetBilling>
    <div class="text-center">
      <h1>{{ signedUpToBudgetBillingRecently ? 'Thanks! ' : '' }}Your Budget Billing is Active</h1>
      <h1 class="active-budget">{{ temporary_budget_billing }} Per Month</h1>
      <h4>Next Schedule Payment {{ nextPaymentDate | date:'yMd' }}</h4>
    </div>
    <div class="row active-options">
      <div class="col-md-4 col-md-offset-2">
        <button class="btn btn-lg btn-block btn-primary" (click)="budgetBillingEdit()">Edit Budget Billing</button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-lg btn-block btn-primary" (click)="budgetBillingCancel()">Cancel Budget Billing</button>
      </div>
    </div>
  </ng-template>
</section>

<div #confirmation_modal class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Confirmation</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to cancel Budget Billing?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Dismiss</button>
        <button type="button" class="btn btn-primary" (click)="budgetBillingCancel(true)">Stop Budget Billing</button>
      </div>
    </div>
  </div>
</div>
