<section class="section-container-highlight">
  <ng-container *ngIf="budgetBillingInfo$ | async; else loading; let budgetBillingInfo;">
    <ng-container *ngIf="budgetBillingInfo.Indicator; else VerifySignUpBudgetBilling">
    </ng-container>
    <ng-template #VerifySignUpBudgetBilling>
      <ng-container *ngIf="budgetBillingEstimate$ | async; else loading let budgetBillingEstimate; ">

        <ng-container *ngIf="!getBudgetBillingEligibility(budgetBillingEstimate); else SignUpBudgetBilling">
          <ng-container *ngIf=" budgetBillingEstimate.Check_Past_Due">

            Unfortunately we are unable to process your request to enroll in Budget Billing because you have a past due
            amount of <b>$ {{ budgetBillingEstimate.Past_Due }} </b>
            We have several options by which you can pay your bill: A payment can be made online by selecting <b>Make a
            Payment</b>.
            You may also visit any MoneyGram location where a processing fee will be applied.
            Once your balance has been paid in full, you may enroll in Budget Billing.

          </ng-container>
          <ng-container *ngIf="budgetBillingEstimate.Variance > 0">

            Unfortunately we are unable to process your request to enroll in Budget Billing until you have paid your
            variance bill amount of
            <b>$ {{ budgetBillingEstimate.Variance }} </b>.
            We have several options by which you can pay your bill: A payment can be made online by selecting <b>Make a
            Payment</b>.
            You may also visit any MoneyGram location where a processing fee will be applied.
            Once your balance has been paid in full, you may enroll in Budget Billing.

          </ng-container>
          <ng-container *ngIf="!budgetBillingEstimate.IsVarianceBillGenerated > 0">
            "Unfortunately we are unable to process your request to enroll in Budget Billing until your variance bill is
            generated.
          </ng-container>
        </ng-container>
        <ng-template #SignUpBudgetBilling>

          <div class="row text-center">
            <div class="col-md-4 col-md-push-8">
              <a><img class="payment-options-budget-billing-how-it-works"
                      src="/assets/payments/payment-options-budget-billing-how-it-works.jpg"/></a>
            </div>
            <ng-template #loading>loading...</ng-template>

          </div>
        </ng-template>
      </ng-container>
    </ng-template>
  </ng-container>
</section>


