@import '../../../../styles.scss';
@import '../../../../basecolors.scss';

.my-bill-grid {
  table {
    margin-bottom: 15px;
  }
  tr.bg-success > td {
    border-top: 1px solid $payment-base;
    border-bottom: 1px solid $payment-base;
    
    h4 {
    color: $payment-base;
      }
  }
  .text-left {
    text-align: left;
  }
  .text-center
  {
    text-align: center;
  }
  .disconnected {
    color: red !important;
  }
  .exceededDueDatebtn {
    background-color: orange !important;
  }
  .exceededDueDate{
    color: orange !important;
  }
  .paymentMade {
    color: #5cb85c !important;
  }
}
