@import '../../../../styles.scss';

.my-bill-grid {
  table {
    margin-bottom: 15px;
  }
  .disconnected {
    color: red !important;
  }
  .exceededDueDatebtn {
    background-color: orange !important;
  }
  .exceededDueDate{
    color: orange !important;
  }
  .paymentMade {
    color: #5cb85c !important;
  }
}
