<div *ngIf="billingAccounts" class="my-bill-grid card-container card-container-height">
  <table class="" border="0" width="100%">    
    <tbody>
      <tr>
        <td><h4>My Bill</h4></td>
        <td class="text-right">Due Date: {{billingAccounts.Due_Date | date:'d/M/yy'  }}</td>
      </tr>
      <tr>
        <td><h5>Amount Due:</h5></td>
        <td><h4>${{billingAccounts.Due_Amount | NumberToMoneyPipe }}</h4></td>
      </tr>
      <tr>
        <td><h5>Current Bill</h5></td>
        <td><h4>${{billingAccounts.Current_Due | NumberToMoneyPipe }}</h4></td>
      </tr>
      <tr>
        <td><h5>Past Due</h5></td>
        <td><h4>${{billingAccounts.Past_Due | NumberToMoneyPipe }}</h4></td>
      </tr>
      <tr><br/></tr>
      <tr>
        <td>
          <div class="">
            <button class="btn btn-wireframe" routerLink="/payments/view-my-bill">View Bill</button>
          </div>
        </td>
        <td>
          <div class="pull-right">
            <button class="btn btn-wireframe"  routerLink="/payments/make-payment">Make a Payment</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

</div>