<div *ngIf="activeServiceAccount" class="my-bill-grid thumbnail">
  <!--<div class="alert pull-right bg-danger" *ngIf="!noCurrentDue">Due Date: {{ latestInvoice?.Due_Date | date:'MM/dd/yyyy' }}</div>-->
  <h1 [ngClass]="{'paymentMade': noCurrentDue, 'exceededDueDate': exceededDueDate}">My Bill</h1>

  <table class="table table-condensed table-striped" border="0" width="100%">
    <tbody>
    <tr>
      <td><h5>Total Amount Due</h5></td>
      <td><h4>${{ activeServiceAccount?.Current_Due + activeServiceAccount?.Past_Due | number : dollarAmountFormatter }}</h4></td>
    </tr>
    <tr>
      <td><h5>Current Amount Due</h5></td>
      <td><h4>${{ activeServiceAccount?.Current_Due  | number : dollarAmountFormatter }}</h4></td>
    </tr>
    <tr>
      <td><h5>Past Due</h5></td>
      <td><h4>${{ activeServiceAccount?.Past_Due | number : dollarAmountFormatter }}</h4></td>
    </tr>
    </tbody>
  </table>
  <button class="btn btn-small btn-link pull-right" [ngClass]="{'btn-success': ((noCurrentDue && !exceededDueDate) || (!noCurrentDue && !exceededDueDate )), 'exceededDueDate': exceededDueDate && !noCurrentDue}" routerLink="/payments/view-my-bill" type="button">View Bill</button>
  <button class="btn btn-block btn-success btn-lg" [ngClass]="{'btn-success': ((noCurrentDue && !exceededDueDate) || (!noCurrentDue && !exceededDueDate )), 'exceededDueDatebtn': exceededDueDate && !noCurrentDue}" routerLink="/payments/make-payment" type="button">Make a Payment</button>
</div>
