@import '../../../../basecolors';


.dx-panel-default{
  .dx-panel-heading {
    .accordion-toggle{
      &:after {
        font-family: 'Glyphicons Halflings';
        content: "\e252";
        color: white;
        margin-left: 15px;
        font-size: 15px;
      }
      &.collapsed {
        &:after {
          content: "\e250";
        }
      }
    }
  }
}

#accordion {
      .panel-body { 
     
        > li > a {
          font-size: 12px;
          padding: 30px 20px;
        }
        
        > li.divider {
          display: inline-block;
          width: 1px;
          height: 50px;
          margin-top: 12px;
        }

    }


.account-menu {
  .dx-panel-heading {
      a:not(.collapsed) {
        background-color:  $account-base;
        color:#fff;
                
      }
    }
  
  .list-rule {
      a, a:link, a:visited, a:active {
        border-bottom: 1px solid $account-base;
        display: block;
        padding: 20px 10px;
      }
  }
  
  }
  .payments-menu {
    .dx-panel-heading {
      a:not(.collapsed) {
        background-color: $payment-base;
        color:#fff;
        
      }
    }
      .list-rule {
        a, a:link, a:visited, a:active {
          border-bottom: 1px solid $payment-base;
          display: block;
          padding: 20px 10px;
        }
      }
  }
  .plans-menu {
    .dx-panel-heading {
      a:not(.collapsed) {
        background-color: $plans-base;
        color: #fff;
        
      }
    }
      .list-rule {
        a, a:link, a:visited, a:active {
          border-bottom: 1px solid $plans-base;
          display: block;
          padding: 20px 10px;
        }
      }
    
  }
    
  .control-menu {
        .dx-panel-heading {
      a:not(.collapsed) {
        background-color:  $control-base;
        color:#fff;
      }
    }
      .list-rule {
        a, a:link, a:visited, a:active {
          border-bottom: 1px solid $control-base;
          display: block;
          padding: 20px 10px;
        }
      }
  }
  
    .dx-panel-heading { 
      border-bottom: thin solid #ccc;
      border-width: 0;
      border-radius: 0;
      
      a, a:link a:visited {
          font-size: 16px;
          padding: 30px 20px;
      
            &.collapsed {
              background: url('/assets/global/header-nav.png') repeat-x;
              background-position:  0 1px;
            }

      }
  }
  
  }
  