<div class="panel-group" id="accordion">
  <div class="panel dx-panel-default">
    <div class="dx-panel-heading">
      <h4 class="dx-panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">My Account</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">
        <ul>
          <li>
            <h5><a [routerLink]="['/account/profile']">Profile</a></h5>
          </li>
          <li>
            <h5><a [routerLink]="['/account/plan-information']">Plan Information</a></h5>
          </li>
          <li>
            <h5><a [routerLink]="['/account/refer-a-friend']">Refer a Friend</a></h5>
          </li>
          <li>
            <h5><a [routerLink]="['/account/order-status']">Order Status</a></h5>
          </li>
          <li>
            <h5><a [routerLink]="['/account/transfer-service']">Transfer Service</a></h5>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel dx-panel-default">
    <div class="dx-panel-heading">
      <h4 class="dx-panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Payments Center</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
        <ul>
          <li>
            <h5><a>Payment History</a></h5>
          </li>
          <li>
            <h5><a>view My bilL</a></h5>
          </li>
          <li>
            <h5><a>Services </a></h5>
          </li>
          <li>
            <h5><a>setup Auto Bill Payment</a></h5>
          </li>
          <li>
            <h5><a>Budget Billing</a></h5>
          </li>
          <li>
            <h5><a>Payment Extension</a></h5>
          </li>
           <li>
            <h5><a>Make a Payment</a></h5>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>