.dx-panel-default{
    background:black;
    color:white;
    .dx-panel-heading {
        h4 {
            margin-left:20px;
        }
    }
}

a {
    text-decoration: none;
    color: white;
    display: block;
}