<h4>My Current Plan</h4>
<div layout-align="center center">
  <md-card class="current-plan-card">
    <md-card-header>
      <md-card-title>
        <span class="md-headline">Gexa Classic 12</span>
      </md-card-title>
      <i class="material-icons pull-right">info</i>
    </md-card-header>
    <md-card-content>
      <h4>$0.082<span>pkw/hr</span></h4>
      <p>Term:12Months</p>
      <p>Start:03/01/2017</p>
      <p>End:03/30/2017</p>
    </md-card-content>
    <md-card-actions>
      <button md-button>Renew Plan</button>
    </md-card-actions>
    <i class="material-icons pull-right check-mark">check_circle</i>
  </md-card>
</div>