.current-plan-card {
    background-color:#000000; 
    color:#ffffff;
    text-align: center;
    .mat-button {
        color:black;
    }
    .check-mark{
    margin-top:-15px;
    margin-right:-10px;
}
    
}
