<div class="container">
  <div class="row">
    <div class="col-md-3 hidden-xs  hidden-sm">
    </div>
    <div class="col-sm-12 col-md-9 col-md-offset-3" style="margin-bottom: 10px;">
      <div *ngIf="!isDataAvailable">
        <div class="alert alert-info"> <strong>Thank you for choosing Gexa Energy!</strong> <br />Your daily usage will display here as soon as your usage data is available for this cycle. </div>
      </div>
      <ng-container *ngIf="isDataAvailable && lineChartData">
        <div class="line-chart">
          <br/>
          <h1>
            Daily Usage Tracker 
            <small *ngIf="dailyUsage && currentDailyUsage"> {{ dailyUsage.Meter_Read_Cycles[dailyUsage.Meter_Read_Cycles.length-1].Usage_Month | date:'LLLL' }} cycle 
              <span *ngIf="dailyUsage.Meter_Read_Cycles.length > 1" style="color: #2eb134;"> {{ usageThisCycle | number:'1.0-0' }} kWh</span>
              <span *ngIf="dailyUsage.Meter_Read_Cycles.length == 1" style="color: #2eb134;">
                <span *ngIf="dailyUsage.Meter_Read_Cycles[0].Usage_Month != currentDailyUsage.Meter_Read_Cycles[0].Usage_Month">{{ dailyUsage.Meter_Read_Cycles[0].Usage | number:'1.0-0' }} kWh</span>
                <span *ngIf="dailyUsage.Meter_Read_Cycles[0].Usage_Month == currentDailyUsage.Meter_Read_Cycles[0].Usage_Month">{{ currentDailyUsage.Meter_Read_Cycles[0].Usage | number:'1.0-0' }} kWh</span>
              </span>
            </small>
          </h1><br />
          <div *ngFor='let index of lineChartData'>
            <canvas
              baseChart
              chartType="line"
              height="150px"
              [datasets]="index"
              [labels]="cycleDates"
              [options]="lineChartOptions"
              [colors]="lineChartColors"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"
            ></canvas>
          </div>
        </div>
        <br />
        <div class="chart-controls text-center">
          <div class="btn-group">
            <button (click)="showPrevCycleDailyUsage()" type="button" class="btn btn-info"><i class="fa fa-arrow-left"></i> Prev</button>
            <button (click)="showCurrentDailyUsage()" type="button" class="btn btn-info">Current</button>
            <button (click)="showNextCycleDailyUsage()" type="button" class="btn btn-info">Next <i class="fa fa-arrow-right"></i></button>
          </div>
        </div>
        <br /><br />
      </ng-container>
    </div>
  </div>
</div>