<section class="view-my-bill-modal">
  <div bsModal #viewMyBillModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <div class="plan-header"><h3 class="plan-title">Gexa Prime 1000 12</h3>
            <button type="button" class="close text-right" aria-label="Close" (click)="hideViewMyBillModal()">
              <span class="close-btn" aria-hidden="true">&times;</span></button></div><br>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <h2>3.1 per KWh</h2>

                <button class="btn btn-default btn-wireframe">Sign up Now</button></div>


              <mygexa-view-bill ></mygexa-view-bill>

        </div>

      </div>
    </div>
</section>
