<section class="account-profile-edit">

  <div class="row">
    <ng-template *ngIf="customerDetails; then DoShowCustomerDetails else DoNotShowCustomerDetails"></ng-template>
    <ng-template #DoShowCustomerDetails>
      <div class="col-md-8">
        <h2>Hello, {{customerDetails?.First_Name.charAt(0).toUpperCase() +  customerDetails?.First_Name.slice(1).toLowerCase() + ' ' +
          customerDetails?.Last_Name.charAt(0).toUpperCase() +  customerDetails?.Last_Name.slice(1).toLowerCase()}}</h2>
      </div>
      <div class="col-md-4">
        <div class="alert alert-info pull-right" style="display: none;">Account No: {{accountNumber}}</div>
      </div>
    </ng-template>
    <ng-template #DoNotShowCustomerDetails>
      <div class="col-md-8">
        <h2><i class="fa fa-spin fa-circle-o-notch"></i> Loading your information...</h2>
      </div>
    </ng-template>
  </div>
  <br/>

  <div class="row">
    <div class="col-md-4">
      <label class="control-label">Email Address</label>
    </div>
    <div class="col-md-6">
      <ng-template *ngIf="customerDetails; then DoShowCustomerEmail else DoNotShowCustomerEmail"></ng-template>
      <ng-template #DoShowCustomerEmail>
        <div class="form-control">{{ emailAddress }}</div>
        <a class="btn btn-primary btn-link" (click)="toggleEmailEdit($event)">
          <i class="fa" [ngClass]="'fa-' + (emailEditing ? 'remove' : 'pencil')"></i>
        </a>
      </ng-template>
      <ng-template #DoNotShowCustomerEmail>
        <div class="form-control"><i class="fa fa-fw fa-spin fa-circle-o-notch"></i> Loading...</div>
      </ng-template>
    </div>
  </div>

  <div *ngIf="emailEditing">
    <mygexa-change-email-address (onCancel)="toggleEmailEdit()"></mygexa-change-email-address>
  </div>

  <br/>

  <div class="row">
    <div class="col-md-4">
      <label class="control-label">Phone Number</label>
    </div>
    <div class="col-md-6">
      <ng-template *ngIf="customerDetails; then DoShowCustomerPhoneNumber else DoNotShowCustomerPhoneNumber"></ng-template>
      <ng-template #DoShowCustomerPhoneNumber>
        <div class="form-control">{{ customerDetails.Phone }}</div>
        <a class="btn btn-primary btn-link" (click)="togglePhoneEdit($event)">
          <i class="fa" [ngClass]="'fa-' + (phoneEditing ? 'remove' : 'pencil')"></i>
        </a>
      </ng-template>
      <ng-template #DoNotShowCustomerPhoneNumber>
        <div class="form-control"><i class="fa fa-fw fa-spin fa-circle-o-notch"></i> Loading...</div>
      </ng-template>
    </div>
  </div>

  <div *ngIf="phoneEditing">
    <mygexa-change-phone-number (onCancel)="togglePhoneEdit()"></mygexa-change-phone-number>
  </div>

</section>
