<section class="account-profile" *ngIf="customerDetails">
  <div class="row">
    <div class="col-md-12">
      <h2>
        Personal Information
        <!--<i class="fa fa-user-circle fa-spin"></i>-->
      </h2>
    </div>
  </div>
  <div class="account-info">
    <h3>{{customerDetails.First_Name + ' ' + customerDetails.Last_Name}}</h3>
    <p>Account No: {{accountNumber}}</p>
  </div>

  <div class="row">
    <div class="col-md-6 col-xs-12">
      <h5>Email Address</h5>
      <div class="profile-inline">
        <h4>{{emailAddress}}</h4>
         <a (click)="toggleEmailEdit($event)">{{ emailEditing ? 'Close' : 'Edit'}}</a></div>
    </div>
  </div>

   <div *ngIf="emailEditing">
    <mygexa-change-email-address></mygexa-change-email-address>
  </div>

<br>
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <h5>Phone Number</h5>
      <div class="profile-inline">
        <h4>{{customerDetails.Phone}}</h4>
         <a (click)="togglePhoneEdit($event)">{{ phoneEditing ? 'Close' : 'Edit'}}</a></div>
    </div>
  </div>


   <div *ngIf="phoneEditing">
    <mygexa-change-phone-number></mygexa-change-phone-number>
  </div>


</section>
