@import "../../../../../styles/bootstrap/stylesheets/bootstrap/_variables";

.card-container {
  border-radius: 1rem;
  background: black;
  color: white;
  padding: 5%;
  width:100%;

  .card-number {
    padding: 5% 0;
  }
}
.card-container-inactive {
  background: grey;
}

.card-options {
  text-align: right;
  padding-bottom: 10%;
  padding-top: 5%;

  a {
    margin-left: 1rem;
  }
}

.changing-jumbotron {
  margin-left: -8rem;
  margin-right: -8rem;

  .form-group-lg {
    margin-bottom: 1rem;
  }
}

.changing-storing-container {
  margin-bottom: 1rem;

  .col-md-2 {
    text-align: center;
  }
}

@media (max-width: $screen-xs-max) {
  .changing-storing-container h4 {
    font-size: 12px;
  }
}
