<section class="section-container">

  <div *ngIf="PaymentMessage" [ngClass]="PaymentMessage.classes" [innerHTML]="PaymentMessage.innerHTML"></div>

  <h2>Payment Accounts</h2>

  <br/>
  <ng-template *ngIf="Paymethods === null; then ShowLoadingScreen else ShowPaymethods;"></ng-template>
  <ng-template #ShowLoadingScreen>
    <p class="text-muted"><i class="fa fa-fw fa-circle-o-notch fa-spin"></i> Loading your saved payment methods.</p>
    <br/>
  </ng-template>
  <ng-template #ShowPaymethods>
    <ng-template *ngIf="Paymethods.length < 1; then ShowPaymethodsEmpty else ShowPaymethodsList;"></ng-template>
    <ng-template #ShowPaymethodsEmpty>
      <h4 class="text-muted"><i class="fa fa-fw fa-info-circle"></i> No saved payment methods to show.</h4>
      <br/>
    </ng-template>
    <ng-template #ShowPaymethodsList>
      <table cellpadding="0" cellspacing="0" width="100%">
        <tbody>
        <tr>
          <td width="64%"><h4><span class="hidden-xs">Your Payment</span> Accounts</h4></td>
          <td width="13%"><h4 class="text-center">Exp<span class="hidden-xs">ires</span></h4></td>
          <td width="10%"><h4 class="text-center">Edit</h4></td>
          <td width="13%" *ngIf="!PaymentAbpSelecting"><h4 class="text-center">Remove</h4></td>
          <td width="13%" *ngIf="PaymentAbpSelecting" class="card-abp"><h4 class="text-center">Select</h4></td>
        </tr>
        </tbody>
      </table>
      <div *ngFor="let paymentMethod of Paymethods; let i = index">
        <table class="card-table table" cellpadding="0" cellspacing="0" width="100%" [ngClass]="{ 'card-table-odd': i % 2 !== 0 }">
          <tbody>
          <tr [ngClass]="{ 'text-muted': PaymentAbpSelecting === paymentMethod }">
            <td class="card-brand"><i class="fa fa-fw" [ngClass]="paymentMethod.getFontAwesomeTag()"></i>{{ paymentMethod.getBrand() }}</td>
            <td class="card-ending">ENDING IN <br class="visible-xs"> <b>{{ paymentMethod.getLast() }}</b></td>
            <td class="card-expires">{{ paymentMethod.getExpiration() }}</td>
            <ng-template *ngIf="paymentMethod.PaymethodType === 'CreditCard' then ShowEditButton else HideEditButton"></ng-template>
            <ng-template #ShowEditButton>
              <td class="card-edit" width="10%" [ngClass]="{ 'card-edit-active': PaymethodBeingEdited === paymentMethod }">
                  <button class="btn btn-link" (click)="editPaymethod(paymentMethod)"><i class="fa fa-fw fa-pencil"></i></button>
              </td>
            </ng-template>
            <ng-template #HideEditButton>
              <td class="card-edit" width="10%"></td>
            </ng-template>
            <ng-template *ngIf="PaymentAbpSelecting; then ShowAbpSelection else ShowRemovalButton"></ng-template>
            <ng-template #ShowAbpSelection>
              <td class="card-abp">
                <button class="btn btn-block btn-link" *ngIf="PaymentAbpSelecting !== paymentMethod" (click)="PaymentAbpSelected = paymentMethod">
                  <i class="fa fa-fw" [ngClass]="PaymentAbpSelected === paymentMethod ? 'fa-check-circle-o' : 'fa-circle-o' "></i>
                </button>
              </td>
            </ng-template>
            <ng-template #ShowRemovalButton>
              <td class="card-remove" width="13%" [ngClass]="{ 'card-remove-active': PaymentEditting === paymentMethod }">
                <button class="btn btn-link" (click)="removePaymethod(paymentMethod)"><i class="fa fa-fw fa-trash"></i></button>
              </td>
            </ng-template>
          </tr>
          </tbody>
        </table>
        <div class="card-prompt" *ngIf="PaymethodBeingEdited === paymentMethod">
          <mygexa-payment-method-edit-cc (changed)="editingCreditCardFormChanged($event)"></mygexa-payment-method-edit-cc>
          <br/>
          <div class="text-right">
            <button
              type="button"
              class="btn btn-primary"
              [disabled]="!editingCreditCardFormValid"
              (click)="editingCreditCardSubmit()"
            >Edit Now</button>
            <button
              type="button"
              class="btn btn-link"
              (click)="editingCreditCardToggle()"
            >Cancel</button>
          </div>
        </div>
        <div class="card-prompt" *ngIf="PaymentEditting === paymentMethod">
          <ng-template *ngIf="PaymentEdittingIsUsedForAutoPayment === null; then PreparingToRemove else ReadyToRemove"></ng-template>
          <ng-template #PreparingToRemove>
            <h4>
              <i class="fa fa-spin fa-circle-o-notch"></i> <small>Preparing to remove...</small>
            </h4>
          </ng-template>
          <ng-template #ReadyToRemove>
            <ng-template *ngIf="PaymentEdittingIsUsedForAutoPayment; then IsUsedForAutoPayment else IsNotUsedForAutoPayment"></ng-template>
            <ng-template #IsUsedForAutoPayment>
              <h3>Delete Payment Account</h3>
              <div class="alert alert-warning"><i class="fa fa-fw fa-info-circle"></i> <b>You are about to delete a saved pay method that is set up for Auto Pay.</b></div>
              <div>What Would You Like To Do?</div>
              <div class="row">
                <ng-template *ngIf="Paymethods.length > 1; then AllowToDeleteAndEdit else DoNotAllowToDeleteAndEdit"></ng-template>
                <ng-template #AllowToDeleteAndEdit>
                  <div class="col-sm-5  col-sm-offset-1">
                    <button class="btn btn-block btn-success" (click)="removePaymethodStopAutoPay()">Delete and Stop Auto Pay</button>
                  </div>
                  <div class="col-sm-5  col-sm-offset-1">
                    <button class="btn btn-block btn-success" (click)="removePaymethodEditAutoPay()">Delete and Edit Auto Pay</button>
                  </div>
                </ng-template>
                <ng-template #DoNotAllowToDeleteAndEdit>
                  <div class="col-sm-5 col-sm-offset-1">
                    <button class="btn btn-block btn-success" (click)="removePaymethodStopAutoPay()">Delete and Stop Auto Pay</button>
                  </div>
                </ng-template>
                <div class="col-sm-5 ">
                <button class="btn btn-block btn-link" (click)="removePaymethod()">Cancel</button>
              </div>
                </div>
            </ng-template>
             <ng-template #IsNotUsedForAutoPayment>
               <h3>Confirmation</h3>
                <div>Are you sure you would like to remove this payment method?</div>
              <div class="row">
                <div class="col-sm-5  col-sm-offset-1">
                  <button class="btn btn-block btn-success" (click)="removePaymethodConfirm()">Yes - please delete it</button>
                </div>
                <div class="col-sm-5 ">
                  <button class="btn btn-block btn-link" (click)="removePaymethod()">No - cancel</button>
                </div>
              </div>
            </ng-template>
          </ng-template>
        </div>
      </div>
      <table class="card-table" cellpadding="0" cellspacing="0" width="100%">
      <tbody>
      <tr>
        <td width="74%">&nbsp;</td>
        <ng-template *ngIf="PaymentAbpSelecting; then PaymentAbpSelectingOptions;"></ng-template>
        <ng-template #PaymentAbpSelectingOptions>
          <td width="13%" class="card-abp">
            <button class="btn btn-block btn-link" [disabled]="!PaymentAbpSelected" (click)="removePaymethodEditAutoPayConfirm()">Ok</button>
          </td>
          <td width="13%" class="card-abp">
            <button class="btn btn-block btn-link" (click)="removePaymethodEditAutoPayCancel()">Cancel</button>
          </td>
        </ng-template>
      </tr>
      </tbody>
    </table>
    </ng-template>
  </ng-template>

  <mygexa-add-payment-accounts (onAddPaymentAccountSubmittedEvent)="handleAddPaymentAccountSubmittedEvent($event)"></mygexa-add-payment-accounts>

<br/>
<br/>
</section>

