@import "../../../../../styles/bootstrap/stylesheets/bootstrap/_variables";

table.card-table {
  td {
    vertical-align: middle !important;
  }
  td.card-brand {
    i.fa {
      margin-right: 4px;
    }
  }
  td.card-ending {
    button {
      font-family: monospace;
      font-weight: bold;
      padding: 0;

      i.fa {
        margin-left: 4px;
      }
    }
    button:hover {
      text-decoration: underline;
    }
  }
  td.card-expires {
    text-align: center;
  }
  td.card-remove {
    text-align: center;
  }
}
table.card-table-odd {
  background: #EBEBEB;
}

h4.new-header {
  font-weight: bold;
  padding: 1rem 0;
}
button.new-button {
  i.fa {
    margin-right: 6px;
  }
}
button.new-button:hover {
  text-decoration: underline;
}
