<section class="section-container">

  <h2>Payment Accounts</h2>
  <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. </p>

  <br/>

  <div *ngIf="PaymentMethods">

    <table cellpadding="0" cellspacing="0" width="100%">
      <tbody>
      <tr>
        <td width="74%"><h4>Your Payment Options</h4></td>
        <td width="13%"><h4 class="text-center">Expires</h4></td>
        <td width="13%"><h4 class="text-center">Remove</h4></td>
      </tr>
      </tbody>
    </table>


    <div *ngFor="let paymentMethod of PaymentMethods; let i = index">

      <table class="card-table" cellpadding="0" cellspacing="0" width="100%" [ngClass]="{ 'card-table-odd': i % 2 !== 0 }">
        <tbody>
        <tr>
          <td class="card-brand" width="31%"><i class="fa fa-fw" [ngClass]="paymentMethod.getFontAwesomeTag()"></i>{{ paymentMethod.getBrand() }}</td>
          <td class="card-ending" width="43%">ENDING IN <button class="btn btn-blank">{{ paymentMethod.Card_Last }}<i class="fa fa-fw fa-pencil"></i></button></td>
          <td class="card-expires" width="13%">{{ paymentMethod.Card_Expires }}</td>
          <td class="card-remove" width="13%"><button class="btn btn-blank"><i class="fa fa-fw fa-trash"></i></button></td>
        </tr>
        </tbody>
      </table>

    </div>

    <div style="padding: 2rem;"></div>

    <h4 class="new-header">NEW PAYMENT ACCOUNT</h4>

    <button class="btn btn-lg btn-blank new-button" [disabled]="addingCreditCard" (click)="addingCreditCardToggle()"><i class="fa fa-fw fa-plus-circle"></i>ADD NEW CREDIT CARD</button>
    <form [formGroup]="addingCreditCardForm" [hidden]="!addingCreditCard" (submit)="addingCreditCardSubmit()" novalidate>
      <br/>
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="form-group-lg">
            <label>Name on Card</label>
            <input type="text" class="form-control form-control-wireframe" formControlName="Card_Name" maxlength="32" style="text-transform: uppercase;"/>
            <small class="text-danger" *ngIf="addingCreditCardForm.controls['Card_Name'].errors"><i class="fa fa-fw fa-asterisk"></i> required</small>
            <small class="text-success" *ngIf="addingCreditCardForm.controls['Card_Name'].valid"><i class="fa fa-fw fa-check"></i> Ok</small>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="form-group-lg">
            <label>Card Number</label>
            <input type="text" class="form-control form-control-wireframe" formControlName="Card_Number" maxlength="19"/>
            <small class="text-danger" *ngIf="addingCreditCardForm.controls['Card_Number'].pristine"><i class="fa fa-fw fa-asterisk"></i> required</small>
            <small class="text-danger" *ngIf="addingCreditCardForm.controls['Card_Number'].errors && !addingCreditCardForm.controls['Card_Number'].pristine"><i class="fa fa-fw fa-asterisk"></i> requires a valid credit card number</small>
            <small class="text-success" *ngIf="addingCreditCardForm.controls['Card_Number'].valid"><i class="fa fa-fw fa-check"></i> Ok</small>
          </div>
        </div>
        <div class="col-xs-6 col-md-5 col-lg-3">
          <div class="form-group-lg">
            <label>Expiration</label>
            <select class="form-control form-control-wireframe" formControlName="Card_Expiration_Month">
              <option *ngFor="let month of addingCreditCardMonths" [value]="month[0]">{{ month[0] }} - {{ month[1] }}</option>
            </select>
            <small class="text-success"><i class="fa fa-fw fa-check"></i> Ok</small>
          </div>
        </div>
        <div class="col-xs-6 col-md-4 col-lg-2">
          <div class="form-group-lg">
            <label>&nbsp;</label>
            <select class="form-control form-control-wireframe" formControlName="Card_Expiration_Year">
              <option *ngFor="let year of addingCreditCardYears" [value]="year">{{ year }}</option>
            </select>
            <small class="text-success"><i class="fa fa-fw fa-check"></i> Ok</small>
          </div>
        </div>
        <div class="col-xs-3 col-xs-offset-9 col-sm-4 col-sm-offset-8 col-md-3 col-md-offset-0 col-lg-1">
          <div class="form-group-lg">
            <label>CCV</label>
            <input type="text" class="form-control form-control-wireframe" formControlName="Card_CCV" maxlength="3"/>
            <small class="text-danger" *ngIf="addingCreditCardForm.controls['Card_CCV'].errors"><i class="fa fa-fw fa-asterisk"></i> required</small>
            <small class="text-success" *ngIf="addingCreditCardForm.controls['Card_CCV'].valid"><i class="fa fa-fw fa-check"></i> Ok</small>
          </div>
        </div>
      </div>
      <br/>
      <div class="text-right">
        <button type="button" class="btn btn-lg btn-blank" (click)="addingCreditCardToggle(false)">Cancel</button>
        <button type="submit" class="btn btn-lg btn-primary" [disabled]="addingCreditCardForm.invalid">Add Now</button>
      </div>
      <br/>
    </form>

    <div><!-- This breaks up the buttons --></div>

    <button class="btn btn-lg btn-blank new-button" [disabled]="addingEcheck" (click)="addingEcheckToggle()"><i class="fa fa-fw fa-plus-circle"></i>ADD NEW E-CHECK</button>
    <form [formGroup]="addingEcheckForm" [hidden]="!addingEcheck" (submit)="addingEcheckSubmit()" novalidate>
      <img class="payments-accounts-e-check-numbers" src="/assets/payments/payment-accounts-e-check-numbers.png/"/>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group-lg">
            <label>Name on Account</label>
            <input type="text" class="form-control form-control-wireframe" formControlName="Check_Name" maxlength="32" style="text-transform: uppercase;"/>
            <small class="text-danger" *ngIf="addingEcheckForm.controls['Check_Name'].errors"><i class="fa fa-fw fa-asterisk"></i> required</small>
            <small class="text-success" *ngIf="addingEcheckForm.controls['Check_Name'].valid"><i class="fa fa-fw fa-check"></i> Ok</small>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group-lg">
            <label>Routing Number</label>
            <input type="text" class="form-control form-control-wireframe" formControlName="Check_Routing" maxlength="17"/>
            <small class="text-danger" *ngIf="addingEcheckForm.controls['Check_Routing'].errors"><i class="fa fa-fw fa-asterisk"></i> required</small>
            <small class="text-success" *ngIf="addingEcheckForm.controls['Check_Routing'].valid"><i class="fa fa-fw fa-check"></i> Ok</small>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group-lg">
            <label>Checking Account Number</label>
            <input type="text" class="form-control form-control-wireframe" formControlName="Check_Accounting" maxlength="17"/>
            <small class="text-danger" *ngIf="addingEcheckForm.controls['Check_Accounting'].errors"><i class="fa fa-fw fa-asterisk"></i> required</small>
            <small class="text-success" *ngIf="addingEcheckForm.controls['Check_Accounting'].valid"><i class="fa fa-fw fa-check"></i> Ok</small>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group-lg">
            <label>Other info?</label>
            <input type="text" class="form-control form-control-wireframe" formControlName="Check_Info"/>
            <small class="text-muted">(optional)</small>
          </div>
        </div>
        <div class="col-md-8 text-right">
          <div class="form-group-lg">
            <label>&nbsp;</label><br/>
            <button type="button" class="btn btn-lg btn-blank" (click)="addingEcheckToggle(false)">Cancel</button>
            <button type="submit" class="btn btn-lg btn-primary" [disabled]="addingEcheckForm.invalid">Add Now</button>
          </div>
        </div>
      </div>
      <br/>
    </form>

  </div>

</section>

