.card-container {
  border-radius: 1rem;
  background: black;
  color: white;
  padding: 1rem;

  .card-number {
    padding: 1rem 0;
  }
}

.card-options {
  text-align: right;
  padding-top: 1rem;

  a {
    margin-left: 1rem;
  }
}
