<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="jumbotron">
        <h2>My Gexa</h2>
        <form>
          <div class="form-group" [ngClass]="{ 'has-error': error !== null }">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
              <input [(ngModel)]="user_name" name="user_name" type="text" class="form-control" placeholder="Username" required #em="ngModel">
            </div>
            <small [hidden]="em.valid || em.pristine" class="text-danger">Username is required</small>
          </div>
          <div class="form-group" [ngClass]="{ 'has-error': error !== null }">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-key"></i></span>
              <input [(ngModel)]="password" name="password" type="password" class="form-control" placeholder="Password" required #em="ngModel">
            </div>
            <small [hidden]="em.valid || em.pristine" class="text-danger">Password is required</small>
          </div>
          <div *ngIf="error != null">
            <small class="text-danger">Either username or password is wrong</small>
          </div>
          <div>
              <a href="">Forgot Password?</a>
              <button type="submit" class="btn btn-primary pull-right" (click)="login()">Login</button>
           </div>
          <hr class="line-border  hidden-sm hidden-xs">
          <div class="form-group">
            <button type="button" class="btn btn-default">
              <i class="fa fa-facebook-official"></i>  Login with facebook
            </button>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-default">
              <i class="fa fa-linkedin"></i>  Login with Linkedin
            </button>
          </div>
          <hr class="line-border  hidden-sm hidden-xs">
          <div class="form-group">
            <label>Do you have an account?</label>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary" (click)="register()">Sign Up</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-8">
      <!--placeholder for video and text -->
    </div>
  </div>
</div>
