<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="jumbotron">
        <h2>My Gexa</h2>
        <form id="login">
          <div class="form-group" [ngClass]="{ 'has-error': error !== null }">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
              <input [(ngModel)]="user_name" name="user_name" type="text" class="form-control" placeholder="Username" required #em="ngModel">
            </div>
            <small [hidden]="em.valid || em.pristine" class="text-danger">Username is required</small>
          </div>
          <div class="form-group" [ngClass]="{ 'has-error': error !== null }">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-key"></i></span>
              <input [(ngModel)]="password" name="password" type="password" class="form-control" placeholder="Password" required #em="ngModel">
            </div>
            <small [hidden]="em.valid || em.pristine" class="text-danger">Password is required</small>
          </div>
          <div *ngIf="error != null">
            <small class="text-danger">Either username or password is wrong</small>
          </div>
          <div>
              <a href="" style="font-size: small">Forgot Password?</a>
              <button type="submit" class="btn btn-primary pull-right" (click)="login()">Login</button>
          </div>
          <div>
            <a href="" style="font-size: small">Forgot Username?</a>
          </div>
          <hr class="line-border  hidden-sm hidden-xs">
          <div class="form-group">
            <button type="button" class="btn btn-default">
              <i class="fa fa-facebook-official"></i>  Login with facebook
            </button>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-default">
              <i class="fa fa-linkedin"></i>  Login with Linkedin
            </button>
          </div>
          <hr class="line-border  hidden-sm hidden-xs">
          <div class="form-group">
            <label>Do you have an account?</label>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#register">Sign Up</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-8">
      <!--placeholder for video and text -->
    </div>
  </div>
</div>


<!--Register Modal -->
<div id="register" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Register Modal content-->
    <div class="modal-content" style="width:550px; height: 750px">
      <div class="modal-header">
        <button type="button" class="close fa fa-times fa-2x" style="padding:15px 100px 10px 0px" data-dismiss="modal"></button>
        <h2 class="modal-title">Register</h2>
      </div>
      <div class="modal-body container">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="text-center">
                <form #f="ngForm" novalidate (ngSubmit)="save(f.value, f.valid)">

                  <div class="form-group row inputRow">
                    <div class="inner-addon left-addon ">
                      <span class=""><i class="fa fa-wrench fa-fw"></i></span>
                      <input [(ngModel)]="user.Billing_Account_Id" name="Billing_Account_Id" type="text" class="form-control line-border "
                             placeholder="Enter your Service Account Number" required #Billing_Account_Id="ngModel">
                    </div>
                    <small [hidden]="Billing_Account_Id.valid || (Billing_Account_Id.pristine && !f.submitted)" class="text-danger">Service number is required.</small>
                  </div>

                  <div class="form-group row inputRow">
                    <div class="inner-addon left-addon">
                      <span class=""><i class="fa fa-map-marker fa-fw"></i></span>
                      <input [(ngModel)]="user.Zip" name="Zip" type="text" class="form-control line-border" placeholder=" Enter your Zipcode"
                             required minlength="5" maxlength="5" #Zip="ngModel">
                    </div>
                    <small [hidden]="Zip.valid || (Zip.pristine && !f.submitted)" class="text-danger">Zip code is required.</small>
                  </div>

                  <div class="form-group row inputRow">
                      <div class="inner-addon left-addon">
                        <span class=""><i class="fa fa-user fa-fw"></i></span>
                        <input [(ngModel)]="user.User_name" name="User_name" type="text" class="form-control line-border" placeholder="Enter Username"
                               required #User_name="ngModel">
                      </div>
                    <small [hidden]="User_name.valid || (User_name.pristine && !f.submitted)" class="text-danger">Username is required.</small>
                  </div>

                  <div class="form-group row inputRow">
                    <div class="inner-addon left-addon">
                      <span class=""><i class="fa fa-key fa-fw"></i></span>
                      <input [(ngModel)]="user.Password" name="Password" type="password" class="form-control line-border" placeholder="Enter Password"
                              required #Password="ngModel">

                      <button type="button" styel="background-color:white" class="btn modal-body faRight"
                              tooltip="Passwords must be at least 6 characters."
                              placement="bottom">
                        <span class="faRight"><i class="fa fa-info-circle fa-fw"></i></span>
                      </button>

                    </div>
                    <small [hidden]="Password.valid || (Password.pristine && !f.submitted)" class="text-danger">Password is required.</small>

                  </div>

                  <div class="form-group row inputRow">
                  <div class="inner-addon left-addon">
                  <span class=""><i class="fa fa-key fa-fw"></i></span>
                  <input [(ngModel)]="user.ConfirmPassword" name="ConfirmPassword" class="form-control line-border" placeholder="Confirm Password"
                              required #ConfirmPassword="ngModel">
                    <button type="button" styel="background-color:white" class="btn modal-body faRight"
                            tooltip="Passwords must match."
                            placement="bottom">
                      <span class="faRight"><i class="fa fa-info-circle fa-fw"></i></span>
                    </button>

                  </div>
                    <small [hidden]="ConfirmPassword.valid || (ConfirmPassword.pristine && !f.submitted)" class="text-danger">Confirm Password is required.</small>
                  </div>



                  <div class="form-group row inputRow">
                      <div class="inner-addon left-addon">
                      <span class=""><i class="fa fa-envelope fa-fw" style="color:gray"></i></span>
                      <input [(ngModel)]="user.Email_Address" name="Email_Address" type="text" class="form-control line-border" placeholder="Enter Email"
                             required #Email_Address="ngModel" >
                    </div>
                    <small [hidden]="Email_Address.valid || (Email_Address.pristine && !f.submitted)" class="text-danger">Email is required.</small>
                  </div>


                  <div class="text-right">
                    <button type="submit" [disabled]="!myForm.valid" class="btnreg btn-secondary pull-right text-uppercase">Register</button>
                  </div>



                </form>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!--<div class="modal-footer">-->
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Register</button>-->
      <!--</div>-->
    <!--</div>-->

  </div>
</div>
