
<table width="100%" cellpadding="10px">
  <thead>
  <tr>
    <td class="date">Date</td>
    <td class="ref">Ref</td>
    <td class="charge"><b>Charges ($)</b></td>
    <td class="payment"><b>Payments ($)</b></td>
    <td class="balance">Balance ($)</td>
  </tr>
  </thead>
  <tbody>
  <tr class="payment" *ngFor="let Transaction of currentPageOfTransactions">
    <td class="date">{{ Transaction.date | date:'d/M/y' }}</td>
    <ng-template *ngIf="Transaction.type === 'bill'; then TransactionBill else TransactionPayment"></ng-template>
    <ng-template #TransactionBill>
      <td class="ref">
        <button class="btn btn-blank" (click)="openBill(Transaction)"><i class="fa fa-fw fa-file-pdf-o"></i></button>
      </td>
      <td class="charge">{{ Transaction.amount | NumberToMoneyPipe }}</td>
      <td class="payment"></td>
    </ng-template>
    <ng-template #TransactionPayment>
      <td class="ref"><i class="fa fa-fw fa-cc-visa"></i></td>
      <td class="charge"></td>
      <td class="payment">{{ Transaction.amount | NumberToMoneyPipe }}</td>
    </ng-template>
    <td *ngIf="Transaction.balance === 0"></td>
    <td *ngIf="Transaction.balance < 0" class="balance text-danger">{{ Transaction.balance | NumberToMoneyPipe }}</td>
    <td *ngIf="Transaction.balance > 0" class="balance">{{ Transaction.balance | NumberToMoneyPipe }}</td>
  </tr>
  </tbody>
</table>

<div class="row pagination-container">
  <div class="col-xs-3">
    <button type="button" class="btn btn-lg btn-wireframe" [disabled]="TransactionsPage === 0" (click)="previousPage()">Previous Page</button>
  </div>
  <div class="col-xs-6 text-center">
    <button type="button" class="btn" *ngIf="TransactionsPage > 3" (click)="gotoPage(0)">1...</button>
    <button type="button" class="btn" *ngIf="TransactionsPage > 2" (click)="gotoPage(TransactionsPage - 3)">{{ TransactionsPage - 2 }}</button>
    <button type="button" class="btn" *ngIf="TransactionsPage > 1" (click)="gotoPage(TransactionsPage - 2)">{{ TransactionsPage - 1 }}</button>
    <button type="button" class="btn" *ngIf="TransactionsPage > 0" (click)="gotoPage(TransactionsPage - 1)">{{ TransactionsPage }}</button>
    <button type="button" class="badge" disabled="disabled">{{ currentPageNumber }}</button>
    <button type="button" class="btn" *ngIf="(TransactionsPage + 1) < totalPages" (click)="gotoPage(TransactionsPage + 1)">{{ TransactionsPage + 2 }}</button>
    <button type="button" class="btn" *ngIf="(TransactionsPage + 2) < totalPages" (click)="gotoPage(TransactionsPage + 2)">{{ TransactionsPage + 3 }}</button>
    <button type="button" class="btn" *ngIf="(TransactionsPage + 3) < totalPages" (click)="gotoPage(TransactionsPage + 3)">{{ TransactionsPage + 4 }}</button>
    <button type="button" class="btn" *ngIf="(TransactionsPage + 4) < totalPages" (click)="gotoPage(totalPages - 1)">...{{ totalPages }}</button>
  </div>
  <div class="col-xs-3 text-right">
    <button type="button" class="btn btn-lg btn-wireframe" [disabled]="currentPageNumber === totalPages" (click)="nextPage()">Next Page</button>
  </div>
</div>
