

<table width="100%" class="table table-striped table-condensed">
  <thead>
    <tr class="options">
      <th *ngFor="let columnHeader of columnHeaders">{{ columnHeader.title }}</th>
    </tr>
  </thead>
  <tbody>
    <tr class="ledger" *ngFor="let row of rows | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems }">
      <td class="date">{{ row.date | date:'M/d/y' }}</td>
      <ng-template *ngIf="row.type === 'invoice'; then TransactionInvoice else TransactionPayment"></ng-template>
      <ng-template #TransactionInvoice>
        <td class="ref">
          <button class="btn btn-blank" (click)="openBill(row)"><i class="fa fa-fw fa-file-pdf-o"></i></button>
        </td>
        <td class="charge">{{ row.amount | currency : 'USD' : true }}</td>
        <td class="payment"></td>
      </ng-template>
      <ng-template #TransactionPayment>
        <td class="ref"><i class="fa fa-fw fa-cc-visa"></i></td>
        <td class="charge"></td>
        <td class="payment">{{ row.amount | currency : 'USD' : true  }}</td>
      </ng-template>
      <td class="balance">{{ row.balance*-1 | currency : 'USD' : true }}</td>
    </tr>
  </tbody>
</table>

<br/>
<pagination-controls class="my-pagination pager" (pageChange)="currentPage = $event"></pagination-controls>

<mygexa-view-my-bill-modal #viewMyBillModal></mygexa-view-my-bill-modal>
