
tr.ledger {

  td {
    vertical-align: middle !important;
  }
  button {
    border: 0;
    margin: 0;
    padding: 0;

  }
  i.fa {
    padding: 10px 0;
  }
}

.my-pagination {
  text-align: center;
}

.my-pagination /deep/ .ngx-pagination .current {
  text-align: center;
}

table {
  thead {
    tr {
      border-bottom: 2px solid #DBDADC;
    }
  }
  tbody {
    tr {
      border-top: 1px solid #DBDADC;
    }
  }
  td.date {
    padding-right: 2rem;
  }
  td.charge {
    background: #FCF8E3;
  }
  td.payment {
    background: #DFF0D8;
  }
  td.charge,
  td.payment,
  td.balance {
    text-align: right;
  }
}
