
<section class="section-container-highlight">
  <ng-template *ngIf="pastDueAmount; then PastDueAmount else NoPastDueAmount;"></ng-template>
  <ng-template #NoPastDueAmount>
    <div class="alert alert-info"><b>No Worries!</b> You have no past due amount. Payment Extension is not required at this time.</div>
  </ng-template>
  <ng-template #PastDueAmount>
    <ng-template *ngIf="requestedExtension; then RequestedExtension else NotRequestedExtension;"></ng-template>
    <ng-template #NotRequestedExtension>
      <div class="text-center">
        <h1>Need an Extension?<br/><small>Submit a Payment Extension Request Below.</small></h1>
        <h1 class="pastDueAmount">${{ pastDueAmount | NumberToMoneyPipe }} Past Due</h1>
        <button class="btn btn-lg btn-primary" (click)="requestExtension()">Request Extension</button>
      </div>
    </ng-template>
    <ng-template #RequestedExtension>
      <ng-template *ngIf="requestedExtensionRecently; then RequestedExtensionRecently else NotRequestedExtensionRecently"></ng-template>
      <ng-template #RequestedExtensionRecently>
        <div class="alert alert-success"><b>Thanks!</b> Your payment extension has been submitted.</div>
      </ng-template>
      <ng-template #NotRequestedExtensionRecently>
        <div class="alert alert-info"><b>Stand-by.</b> Your payment extension has already been submitted.</div>
      </ng-template>
      <div class="make-a-payment">
        <a class="btn btn-lg btn-primary" routerLink="/payments/make-payment">Make A Payment</a>
      </div>
    </ng-template>
  </ng-template>
</section>
