<section class="section-container-highlight">
  <div class="row">
    <div class="col-sm-12">
      <a routerLink="/payments/payment-options" class="visible-xs btn btn-sm btn-default btn-block"><i
        class="fa fa-arrow-left"></i> Back to Payment Options</a>
      <br class="visible-xs"/>
      <h3>Payment Extension Details</h3>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-sm-12">

      <ng-container *ngIf="paymentExtensionStatus===null">

        Loading Payment Extension Details

      </ng-container>

      <ng-container *ngIf="paymentExtensionStatus!==null">

        <div class="alert alert-warning">
          <div class="row">
            <div class="col-sm-12">
              <p class="pull-left">{{paymentExtensionScript}}</p>
              <!-- <p class="pull-left">You have a past-due balance of <b>${{pastDueAmount | number :
                dollarAmountFormatter}}</b><br>
                Would you like to request an extension?</p> -->
              <div style="float: right;">
                <button class="btn btn-primary center pull-right" *ngIf="(paymentExtensionEligibilityResult == 'ELIGIBLE' || paymentExtensionEligibilityResult == 'SOFT_STOP') && !extensionSuccessfull" (click)="requestExtension()"><i
                  class="fa fa-handshake-o"></i> Request Extension
                </button>
              </div>
            </div>
          </div>
        </div>

      </ng-container>

      <ng-container *ngIf="paymentExtensionStatus!==null && extensionSuccessfull">

        <div class="alert alert-warning">
          <div class="row">
            <div class="col-sm-12">
              <p class="pull-left">Payment Extension Saved Successfully.</p>
            </div>
          </div>
        </div>

      </ng-container>

    </div>
  </div>
</section>
<br/>
