<section class="paperless-status">
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <div *ngIf= "paperlessSettings" class="status">
        <h3><strong> Congrats!</strong><br/>
          You are <br/>
          Paperless</h3>
      </div>
      <div *ngIf="!paperlessSettings" class="status">
        <h3 class="go">Go Paperless!</h3>
      </div>
    </div>
    <div class="col-xs-12 col-md-8">
      <h2>Set your <strong>Communication Preferences</strong></h2>
      <br/>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <h4>Send  My Bills       &nbsp;<small><i aria-hidden="true" class="fa fa-info-circle" tooltip="You’ll receive a statement each time your utility reads your meter, usually once per month."></i></small></h4>
        </div>
        <form>
          <ng-container *ngFor='let data of billingOptions'>
            <div class="col-xs-6 col-sm-3">
              <div class="input-group"> <span class="input-group-addon">
                <input type="checkbox" [checked]="data.checked" (change)="onCheckSelected(data.option, $event.target.checked, billingOptions, notificationOptionsForBills, notificationType.Bill)" >
                </span>
                <div class="form-control"> {{data.option}} </div>
              </div>
            </div>
          </ng-container>
        </form>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <h4>Send My Plan Docs  &nbsp;<small><i aria-hidden="true" class="fa fa-info-circle" tooltip="Your plan documents include any contracts and disclosures, as well as the contract expiration notice at the end of your plan."></i></small></h4>
        </div>
        <form>
          <ng-container *ngFor='let data of plansOptions'>
            <div class="col-xs-6 col-sm-3">
              <div class="input-group"> <span class="input-group-addon">
                <input type="checkbox"  [checked]="data.checked" (change)="onCheckSelected(data.option, $event.target.checked, plansOptions, notificationOptionsForPlans, notificationType.Contract_Expiration)">
                </span>
                <div class="form-control"> {{data.option}} </div>
              </div>
            </div>
          </ng-container>
        </form>
      </div>
    </div>
  </div>
</section>
