.paperless-status {
    padding-top :40px;
    .profile-inline{
    h4{
        display:inline;
    }
}
.switch-to-paperless {
    background-color: #eeeeee;
    margin-top:20px;
    padding-bottom:20px;
    padding-top:20px;
    .terms {
        background-color:#A9A9A9;
        padding:20px;
    }

}
}