<section class="paperless-status">
   <div class="row">
     <div class="col-xs-12 col-md-3">
       <h4 class="status">
       <br/><br/><div>You are Signed Up for Paperless</div></h4>
     </div>
   <div class="col-xs-12 col-md-8">
      <h3>Paperless Settings</h3>
      <div class="profile-inline">
        <a (click)="togglePaperlessEdit($event)">{{ paperlessEditing ? 'Close' : 'Edit'}}</a></div>

      <div *ngIf="paperlessEditing">
        <div class="row switch-to-paperless">
          <div class="col-md-12">
            <h4>Switch to paperless and Go Green</h4>
            <h5>Benefits</h5>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
              eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            <form>
              <div class="terms">
                <label><input type="checkbox" name="checkbox" value="value"><span> sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</span></label>
              </div> <br>
              <div class="row">
                <div class="col-xs-12 text-right">
                  <button class="btn btn-default">Switch Now</button>
                </div><br>
              </div>
            </form>
          </div>
        </div>
      </div>
   </div>
  </div>
</section>