@import '../../../../../basecolors';


.paperless-status {
  padding: 30px 0;
  .status {
    color:#ffffff;
    display: inline-block;
    border-radius: 100px;
    height: 210px;
    width: 210px;
    text-align: center;
    background-image: url('/assets/profile/circle_tree.png');
    background-repeat:no-repeat;
    
    h3 {
      position: absolute;
      bottom: 55px;
      width: 210px;
      text-shadow: 1px 1px 2px green;
    }
     h3.go {
      bottom: 90px;
    }
    
    small {
      margin-top: 30%;
      font-size: 20px;
      width: 90%;
      margin: 0 auto;
      color:#fff;
    }
  }
    .row.form-control {
   // margin-bottom:20px;
    padding-left:0px;
    background-color: rgba(255,255,255,0.3);
    border: none;
   // height: auto;
  }
    
    h4 small {
        position: relative;
    }
}
.switch-to-paperless {
    background-color: #fff;
    margin-top:20px;
    padding-bottom:20px;
    padding-top:20px;
    .terms {
        background-color:#A9A9A9;
        padding:20px;
    }

}
.input-group-addon, .form-control {
  background-color: $payment-base;
  border-color: $payment-base;
  color:white;
}