ul {
    &.moving-service {
        list-style-type: none;
        li:before {
            content: '-';
            position: absolute;
            margin-left: -20px;
            }
    }
} 
.moving-service-img {
    width: 100%;
    max-width: 575px;
}