.gexa-home-carousel {
    height: 20em;
    margin-bottom:4rem;
    .item{
        img {
            height:20em;
            width:100%
        }
    }
span.icon-prev, span.icon-next {
  font-weight: bold;
  font-size: 60px !important;
  }
}