<div class="container">
  <div class="row">
    <div class="col-sm-3 hidden-xs plans-side-panel">

      <ng-template *ngIf="ActiveServiceAccount?.IsUpForRenewal; then ShowRenewalNav else ShowStandardNav;"></ng-template>
      <ng-template #ShowRenewalNav>
        <mygexa-left-nav-panel [sideNavData] = "
         {
          'panelTitle':'Plans &amp; Services',
          'items':[
            { 'title': 'My Service Plans [Renewal Available]', 'navUrl':'my-services-plans' },
            { 'title':'Add Service Locations', 'navUrl':'add-service-location' },
            { 'title':'Moving Center', 'navUrl':'moving' },
            { 'title':'Order Status', 'navUrl':'order-status' }
          ]
        }" ></mygexa-left-nav-panel>
      </ng-template>
      <ng-template #ShowStandardNav>
        <mygexa-left-nav-panel [sideNavData] = "
         {
          'panelTitle':'Plans &amp; Services',
          'items':[
            { 'title':'My Service Plans', 'navUrl':'my-services-plans' },
            { 'title':'Add Service Locations', 'navUrl':'add-service-location' },
            { 'title':'Moving Center', 'navUrl':'moving' },
            { 'title':'Order Status', 'navUrl':'order-status' }
          ]
        }" ></mygexa-left-nav-panel>
      </ng-template>

    </div>
    <div class="col-sm-9">
      <mygexa-status-bar></mygexa-status-bar>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<ng-container *ngIf="ActiveServiceAccount">

  <div class="container-fluid callout-container plans" *ngIf="startsWith(Router.url, '/plans-and-services/my-services-plans')">
    <div class="container">
      <mygexa-change-your-plan></mygexa-change-your-plan>
    </div>
  </div>

  <div class="container-fluid callout-container plans" *ngIf="startsWith(Router.url, '/plans-and-services/moving')">
    <div class="container">
      <div class="col-md-8 col-md-offset-2">
        <h2>Gexa Connects</h2>
        <p>Let us help you make your move a smooth one with our GexaConnects service. With GexaConnects, you can quickly compare rates and sign up for home service plans for:</p>
        <br/>

        <div class="row">

          <div class="col-md-4 text-center">
            <img src="/assets/global/mouse.png"/>
            <h4>High-Speed Internet</h4>
          </div>

          <div class="col-md-4 text-center">
            <img src="/assets/global/flat_screen.png"/>
            <h4>Digital TV</h4>
          </div>

          <div class="col-md-4 text-center">
            <img src="/assets/global/cordless.png"/>
            <h4>Home Phone</h4>
          </div>

        </div>
        <br/>

        <p><strong>With GexaConnects it's easy to compare rates and connect your internet, TV and home phone service in a few easy steps! <a href="http://gexaconnects.com/" target="_blank">Find out more</a> or call (866) 891-9341 today!
        </strong></p>
        <small>Gexa Energy is not affiliated with the cable, satellite, Internet, phone or other home service providers featured on or hyperlinked from this Gexa Energy website.  Gexa Energy does not warrant or endorse any services these providers offer and is not responsible for the connection of their services, or for their acts, omissions, offers, marketing claims or other communications, including any emails, phone calls or messages you may receive after submitting an order or inquiry. When you leave the Gexa Energy website, our terms and policies no longer apply. Please review the applicable terms and policies of any site to which you navigate from this Gexa Energy website.</small>

      </div>
    </div>
  </div>

</ng-container>

