<div class="container">
  <div class="row">
    <div class="col-sm-3 hidden-xs plans-side-panel">
       <mygexa-left-nav-panel *ngIf="!IsInRenewalTimeFrame" [sideNavData] = "
       {
        'panelTitle':'Plans &amp; Services',
        'items':[
          { 'title':'My Service Plans', 'navUrl':'my-services-plans' },
          { 'title':'Add Service Locations', 'navUrl':'add-service-location' },
          { 'title':'Moving Center', 'navUrl':'moving' },
          { 'title':'Order Status', 'navUrl':'order-status' }
        ]
      }" ></mygexa-left-nav-panel>
      <mygexa-left-nav-panel *ngIf="IsInRenewalTimeFrame" [sideNavData] = "
       {
        'panelTitle':'Plans &amp; Services',
        'items':[
          { 'title': 'My Service Plans' + ' [Renewed]', 'navUrl':'my-services-plans' },
          { 'title':'Add Service Locations', 'navUrl':'add-service-location' },
          { 'title':'Moving Center', 'navUrl':'moving' },
          { 'title':'Order Status', 'navUrl':'order-status' }
        ]
      }" ></mygexa-left-nav-panel>
    </div>
    <div class="col-sm-9">
      <mygexa-status-bar></mygexa-status-bar>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<div class="container-fluid callout-container plans" *ngIf="startsWith(Router.url, '/plans-and-services/my-services-plans')">
  <div class="container">
    <mygexa-change-your-plan></mygexa-change-your-plan>
  </div>
</div>
<div class="container-fluid callout-container plans" *ngIf="startsWith(Router.url, '/plans-and-services/moving')">
  <div class="container">
  <div class="container-fluid">
    <div class="container">
      <div class="jumbotron clearfix">
        <div class="col-md-8">
          <h2>Home Phone Service</h2>
          <p>Talk more and pay less with unlimited calling plans that offer clear connections and convenient calling features. Customize your phone package to call long distance as needed and get the plan that works for you.</p>
                    <div class="text-center"><button class="btn btn-primary">Find Internet Deals!</button></div>

          </div>
        <div class="col-md-4">
                    <img src="/assets/global/bundle-feature-img-4.png" class="img-responsive"/>

        </div>
      </div>
    </div>
  </div>
  </div>
</div>

<div class="container-fluid callout-container plans" *ngIf="startsWith(Router.url, '/plans-and-services/order-status')">
  <div class="container">
  <div class="container-fluid">
    <div class="container">
      <div class="jumbotron clearfix">
           <div class="col-md-4">
                    <img src="/assets/global/bundle-feature-img-2.png" class="img-responsive"/>

        </div>
        <div class="col-md-8">
          <h2>Bundle Home Services &amp; Save </h2><p> Internet, TV and Home Phone deals from top service providers in your area. Choose the services that suit your needs. Enjoy great bundle savings and the convenience of having all your digital services on one monthly bill.</p>
                    <div class="text-center"><button class="btn btn-primary">Find Internet Deals!</button></div>

          </div>
    
      </div>
    </div>
  </div>
  </div>
</div>


