
<table width="100%" class="table table-striped table-condensed">
  <thead>
  <tr class="options">
    <td>
      <button class="btn btn-link" (click)="sortBy('date')">
        Date<i class="fa fa-fw" [ngClass]="PaymentsSortingBy !== 'date' ? '' : PaymentsSortingByDesc ? 'fa-angle-down' : 'fa-angle-up'"></i>
      </button>
    </td>
    <td>
      <button class="btn btn-link" (click)="sortBy('amount')">
        Payment Amount<i class="fa fa-fw" [ngClass]="PaymentsSortingBy !== 'amount' ? '' : PaymentsSortingByDesc ? 'fa-angle-down' : 'fa-angle-up'"></i>
      </button>
    </td>
    <td>
      <button class="btn btn-link" (click)="sortBy('status')">
        Status<i class="fa fa-fw" [ngClass]="PaymentsSortingBy !== 'status' ? '' : PaymentsSortingByDesc ? 'fa-angle-down' : 'fa-angle-up'"></i>
      </button>
    </td>
    <td>
      <button class="btn btn-link" (click)="sortBy('method')">
        Payment Method<i class="fa fa-fw" [ngClass]="PaymentsSortingBy !== 'method' ? '' : PaymentsSortingByDesc ? 'fa-angle-down' : 'fa-angle-up'"></i>
      </button>
    </td>
    <td>
      <button class="btn btn-link" (click)="sortBy('account')">
        Payment Account<i class="fa fa-fw" [ngClass]="PaymentsSortingBy !== 'account' ? '' : PaymentsSortingByDesc ? 'fa-angle-down' : 'fa-angle-up'"></i>
      </button>
    </td>
  </tr>
  </thead>
  <tbody>
  <tr class="payment" *ngFor="let Payment of currentPageOfPayments">
    <td>{{ Payment.date | date:'d MMM y' }}</td>
    <td>${{ Payment.amount | NumberToMoneyPipe }}</td>
    <td>{{ Payment.status }}</td>
    <td>{{ Payment.method }}</td>
    <td>{{ Payment.account }}</td>
  </tr>
  </tbody>
</table>

<br/>

<div class="row pagination-container pager">
  <div class="col-xs-3">
    <button type="button" class="btn" [disabled]="PaymentsPage === 0" (click)="previousPage()">Previous Page</button>
  </div>
  <div class="col-xs-6 text-center">
    <button type="button" class="btn" *ngIf="PaymentsPage > 3" (click)="gotoPage(0)">1...</button>
    <button type="button" class="btn" *ngIf="PaymentsPage > 2" (click)="gotoPage(PaymentsPage - 3)">{{ PaymentsPage - 2 }}</button>
    <button type="button" class="btn" *ngIf="PaymentsPage > 1" (click)="gotoPage(PaymentsPage - 2)">{{ PaymentsPage - 1 }}</button>
    <button type="button" class="btn" *ngIf="PaymentsPage > 0" (click)="gotoPage(PaymentsPage - 1)">{{ PaymentsPage }}</button>
    <button type="button" class="badge" disabled="disabled">{{ currentPageNumber }}</button>
    <button type="button" class="btn" *ngIf="(PaymentsPage + 1) < totalPages" (click)="gotoPage(PaymentsPage + 1)">{{ PaymentsPage + 2 }}</button>
    <button type="button" class="btn" *ngIf="(PaymentsPage + 2) < totalPages" (click)="gotoPage(PaymentsPage + 2)">{{ PaymentsPage + 3 }}</button>
    <button type="button" class="btn" *ngIf="(PaymentsPage + 3) < totalPages" (click)="gotoPage(PaymentsPage + 3)">{{ PaymentsPage + 4 }}</button>
    <button type="button" class="btn" *ngIf="(PaymentsPage + 4) < totalPages" (click)="gotoPage(totalPages - 1)">...{{ totalPages }}</button>
  </div>
  <div class="col-xs-3 text-right">
    <button type="button" class="btn btn-lg btn-wireframe" [disabled]="currentPageNumber === totalPages" (click)="nextPage()">Next Page</button>
  </div>
</div>
