
<table width="100%" class="table table-striped table-condensed">
  <thead>
    <tr class="options">
      <th *ngFor="let columnHeader of columnHeaders">
        <button class="btn btn-link" (click)="sortByColumn(columnHeader)">
          {{columnHeader.title}} <i class="fa fa-sort-{{columnSortWay(columnHeader)}}"></i></button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="payment" *ngFor="let row of rows | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems }" >
      <td *ngFor="let columnHeader of columnHeaders">
        <div>
          {{ getData(row, columnHeader) }}
        </div>
      </td>
    </tr>
  </tbody>
</table>

<br/>
<pagination-controls class="my-pagination pager" (pageChange)="currentPage = $event"></pagination-controls>
