<div class="container">
  <div class="row">
    <div class="col-md-3 hidden-xs  hidden-sm">
    </div>
    <div class="col-sm-12 col-md-9 col-md-offset-3" style="margin-bottom: 10px;">
      <div *ngIf="savingsDetails" class="text-center">
        <div class="row">
          <div class="col-xs-5 col-sm-3">
            <div class="wholesale-price-info">
              <h3 class="blue">Gexa Wholesale</h3>
              <h4 class="text-semibold">{{savingsDetails.kWh}}kW @ {{wholesaleAverageWholeCents}}<sup> .{{wholesaleAverageDecimalCents}}&cent;</sup> kWh</h4>
              <h2 class="text-semibold"><sup>$</sup>{{wholesalePriceWhole}}<sup> .{{wholesalePriceDecimal}}</sup></h2>
            </div>
          </div>
          <div class="col-xs-2">
            <div class="versus">
              vs
            </div>
          </div>
          <div class="col-xs-5 col-sm-3 text-muted">
            <div class="average-price-info">
              <h3>Texas Average*</h3>
              <h4 class="text-semibold">{{savingsDetails.kWh}}kW @ {{txAverageWholeCents}}<sup> .{{txAverageDecimalCents}}&cent;</sup> kWh</h4>
              <h2 class="text-semibold"><sup>$</sup>{{txAveragePriceWhole}}<sup> .{{txAveragePriceDecimal}}</sup></h2>
            </div>
          </div>
          <div class="col-sm-1 hidden-xs">
            <div class="equals">
              =
            </div>
          </div>
          <div class="col-xs-12 col-sm-3">
            <div class="savings-info">
              <h3 class="blue">Your Savings</h3>
              <h2 class="green text-semibold"><sup>$</sup>{{savingsWhole}}<sup> .{{savingsCents}}</sup></h2>
            </div>
          </div>
        </div><br/>
        <small class="text-center text-muted"><em>*Texas average rate is based on {{averagePriceYear}} pricing data from the US Energy Information Administration.</em></small>
      </div>
    </div>
  </div>
</div>