<div class="service-account-selector-container">
  <div class="form-group-lg">
    <label *ngIf="selectorLabel">{{ selectorLabel }}</label>
    <select class="form-control" *ngIf="BillingAccounts === null" disabled="disabled">
      <option>Loading your accounts...</option>
    </select>
    <select class="form-control" *ngIf="BillingAccounts !== null" [(ngModel)]="BillingAccountSelectedId" (change)="changeBillingAccount()">
      <option *ngFor="let BillingAccount of BillingAccounts" [value]="BillingAccount.Id">{{ BillingAccount.serviceAddressString() }}</option>
    </select>
  </div>
</div>
