<div class="service-account-selector-container">
  <div class="form-group has-success">
    <label *ngIf="selectorLabel">{{ selectorLabel }}</label>
    <ng-template *ngIf="ServiceAccounts; then ProvideOptions else HideOptions;"></ng-template>
    <ng-template #HideOptions>
      <select class="form-control" disabled="disabled">
        <option>Loading your accounts...</option>
      </select>
    </ng-template>
    <ng-template #ProvideOptions>
      <select class="form-control" [(ngModel)]="ServiceAccountSelectedId" (change)="changeServiceAccount()" [disabled]="ServiceAccounts.length === 1">
        <option *ngFor="let ServiceAccount of ServiceAccounts" [value]="ServiceAccount.Id">{{ ServiceAccount.serviceAddressString() }}</option>
      </select>
    </ng-template>
  </div>
</div>
