<div class="service-account-selector-container">
  <div class="form-group has-success">
    <label *ngIf="selectorLabel">{{ selectorLabel }}</label>
    <ng-template *ngIf="BillingAccounts; then ProvideOptions else HideOptions;"></ng-template>
    <ng-template #HideOptions>
      <select class="form-control" disabled="disabled">
        <option>Loading your accounts...</option>
      </select>
    </ng-template>
    <ng-template #ProvideOptions>
      <select class="form-control" [(ngModel)]="BillingAccountSelectedId" (change)="changeBillingAccount()">
        <option *ngFor="let BillingAccount of BillingAccounts" [value]="BillingAccount.Id">{{ BillingAccount.serviceAddressString() }}</option>
      </select>
    </ng-template>
  </div>
</div>
