<div class="credit-card-container" *ngIf="Paymethod" [ngClass]="{ 'credit-card-container-inactive': Inactive === true }">
  <!-- <h4>Card<span class="pull-right">{{ Paymethod.Card_Type === 'debit' ? 'Debit' : 'Credit' }}</span></h4> -->
  <h4 class="credit-card-number">&times;&times;&times;&times; &times;&times;&times;&times; &times;&times;&times;&times; {{ Paymethod.CreditCard?.AccountNumber || '????' }}</h4>
  <h4>
    <i class="fa fa-fw pull-right" [ngClass]="Paymethod.getFontAwesomeTag()"></i>
    <div class="credit-card-name">{{ Paymethod.CreditCard?.AccountHolder || 'Your Card' }}</div>
  </h4>
</div>
