<div class="credit-card-container" *ngIf="Paymethod" [ngClass]="{ 'credit-card-container-inactive': Inactive === true }">
  <ng-template *ngIf="Paymethod.PaymethodType === 'CreditCard'; then DisplayCreditCard else DisplayEcheck"></ng-template>
  <ng-template #DisplayCreditCard>
    <h4>Card</h4>
    <h4 class="credit-card-number">&times;&times;&times;&times; &times;&times;&times;&times; &times;&times;&times;&times; {{ Paymethod.getLast() || '????' }}</h4>
    <h4>
      <i class="fa fa-fw pull-right" [ngClass]="Paymethod.getFontAwesomeTag()"></i>
      <div class="credit-card-name">{{ Paymethod.CreditCard?.AccountHolder || 'Your Card' }}</div>
    </h4>
  </ng-template>
  <ng-template #DisplayEcheck>
    <h4>eCheck</h4>
    <h4 class="credit-card-number">Ending in {{ Paymethod.getLast() || '????' }}</h4>
    <h4>
      <i class="fa fa-fw pull-right" [ngClass]="Paymethod.getFontAwesomeTag()"></i>
      <div class="credit-card-name">{{ Paymethod.BankAccount?.AccountHolder || 'Your eCheck' }}</div>
    </h4>
  </ng-template>
</div>
