<div class="container">
  <div class="row">
    <div class="col-md-3 hidden-xs  hidden-sm">
    </div>
    <div class="col-sm-12 col-md-9 col-md-offset-3" style="margin-bottom: 10px;">
      <div class="row">
        <div class="col-xs-1 col-sm-2">
          <div class="ui-graph-controller hidden-xs">
            <button (click)="getMonthlyUsage()" class="btn btn-sm btn-block" [ngClass]="{ 'btn-primary': isMonthlyView, 'btn-default': !isMonthlyView }">Monthly</button>
            <div class="ui-graph-controller-spacer" [ngClass]="{ 'ui-active': isMonthlyView }">
              &nbsp;
            </div>
            <button (click)="getDailyUsage()" class="btn btn-sm btn-block" [ngClass]="{ 'btn-primary': isDailyView || isNonBilledView, 'btn-default': !isDailyView && !isNonBilledView }">Daily</button>
            <div class="ui-graph-controller-spacer" [ngClass]="{ 'ui-active': isMonthlyView || isDailyView || isNonBilledView }">
              &nbsp;
            </div>
            <button (click)="getHourlyUsage()" class="btn btn-sm btn-block" [ngClass]="{ 'btn-primary': isHourlyView, 'btn-default': !isHourlyView }">Hourly
            </button>
          </div>
          <div *ngIf="isDataAvailable" class="y-label">
            Usage (kWh)
          </div>
        </div>
        <div class="col-xs-11 col-sm-10">
          <div class="chart-controls text-center visible-xs">
            <div class="btn-group">
              <button (click)="getMonthlyUsage()" type="button" class="btn" [ngClass]="{ 'btn-info': isMonthlyView, 'btn-link': !isMonthlyView }">Monthly</button>
              <button (click)="getDailyUsage()" type="button" class="btn" [ngClass]="{ 'btn-info': isDailyView || isNonBilledView, 'btn-link': !isDailyView && !isNonBilledView }">Daily</button>
              <button (click)="getHourlyUsage()" type="button" class="btn" [ngClass]="{ 'btn-info': isHourlyView, 'btn-link': !isHourlyView }">Hourly</button>
            </div>
          </div><br class="visible-xs" />
          <h2 class="ui-graph-type">
            <span *ngIf="isMonthlyView">Monthly </span>
            <span *ngIf="isDailyView">Daily </span>
            <span *ngIf="isHourlyView">Hourly </span>
            Energy Usage
            <small class="usage-label">
              {{ usageIntervalLabel }} <span>{{ usageIntervalTotal }} kWh</span>
            </small>
          </h2>
          <div *ngIf="!isDataAvailable">
            <br><br><br><br><br><br><br>
            <p class="text-center"><i class='fa fa-circle-o-notch fa-spin'></i> Loading...</p>
            <br><br><br><br><br><br><br>
          </div>
          <div *ngIf="showNoHourlyUsageMessage">
            <br><div class="alert alert-info">Hourly data will be available as soon as your meter is read.</div>
            <br><br><br><br><br><br><br><br><br><br><br>
          </div>
          <div #chartWrapper id="canvasWrapper">
            <div #chart id="rtp-usage-chart"></div>
          </div>
          <p class="small text-center" [hidden]="!isNonBilledView"><br />
            <em>Pricing information for your current billing cycle will be available after your meter is read.</em>
          </p>
          <div *ngIf="usageInfo" class="ui-pricing-summary">
            <div class="ui-price-inline-block">
              <h1>{{usageInfo.kwh}}</h1>
                <div class="ui-price-caption">
                  kWh
                </div>
            </div>
            <div [hidden]="isNonBilledView" class="ui-price-inline-block">
              <h1><sup>@</sup></h1>
            </div>
            <div [hidden]="isNonBilledView" class="ui-price-inline-block">
              <h1 [hidden]="!isAllInPricing">{{usageInfo.avgPriceAllIn | number:'1.0-1'}}<sup>¢</sup></h1>
              <h1 [hidden]="!isWholesalePricing">{{usageInfo.avgPrice | number:'1.0-1'}}<sup>¢</sup></h1>
            <div class="ui-price-caption">
              Avg Price
            </div>
          </div>
          <div [hidden]="isNonBilledView" class="ui-price-inline-block">
            <h1>=</h1>
          </div>
          <div [hidden]="isNonBilledView" class="ui-price-inline-block">
            <h1 [hidden]="!isWholesalePricing">
              <sup>$</sup>{{ usageInfo.costDollars }}<sup>{{usageInfo.costCents}}</sup>
            </h1>
            <h1 [hidden]="!isAllInPricing">
              <sup>$</sup>{{ usageInfo.allInDollars }}<sup>{{usageInfo.allInCents }}</sup>
            </h1>
            <div class="ui-price-caption">
              Your Cost
            </div>
          </div>
        </div>
        <div class="text-center">
          <div [hidden]="isNonBilledView" class="ui-button-slider">
            <button (click)="showWholesalePricing()" class="btn" [ngClass]="{ 'btn-primary': isWholesalePricing, 'btn-link': !isWholesalePricing }">Wholesale</button>
            <button (click)="showAllInPricing()" class="btn" [ngClass]="{ 'btn-primary': isAllInPricing, 'btn-link': !isAllInPricing }">All-in</button>
          </div>
        </div><br />
        <div class="chart-controls text-center">
          <div class="btn-group">
            <button (click)="showPrevIntervalUsage()" type="button" class="btn btn-info"><i class="fa fa-arrow-left"></i> Prev</button>
            <button (click)="showCurrentIntervalUsage()" type="button" class="btn btn-info">Current</button>
            <button (click)="showNextIntervalUsage()" type="button" class="btn btn-info">Next <i class="fa fa-arrow-right"></i></button>
          </div>
        </div>
        <br *ngIf="isAllInPricing || isNonBilledView" /><br *ngIf="isAllInPricing || isNonBilledView" />
        <p *ngIf="isWholesalePricing && !isNonBilledView" class="text-muted text-center" style="font-size: 12px; margin-top: 15px;">
          <em>The wholesale cost above includes real-time pricing for energy only, and excludes costs from ERCOT for ancillary services.</em>
        </p>
      </div>
    </div>
  </div>
</div>