<div class="energy-saving-tips thumbnail-container-height">
  <div class="thumbnail">
    <img src = "/assets/home/ux-energy-savings-bulbs.png" alt = "bulbs image">
    <div class="caption clearfix">
      <h4>Lots of ways to save</h4>
      <p>Keep your energy usage low!
        <br/> View energy savings tips.</p>
      <p>
        <button class="btn btn-warning col-md-offset-2 col-md-8" (click)="handleClick()"  routerLink="/controls-and-insights/energy-savings-tips">CHECK THEM OUT</button>
      </p>
    </div>
  </div>
</div>
