<br/>
<div class="row bg-info">
  <div class="col-xs-12">
    <hr/>
  </div>
  <div class="col-md-4">
    <label class="form-control-label">Change Username</label>
  </div>
  <div class="col-md-6">
    <form
      id="changeForm"
      novalidate
      [formGroup]="changeUserNameForm"
      (ngSubmit)="submitForm()"
      align="center"
    >
      <div class="form-group" [ngClass]="{'has-error':!changeUserNameForm.controls['userName'].valid && submitAttempt}">
        <input
          type="text"
          name="userName"
          class="form-control"
          [formControl]="changeUserNameForm.controls['userName']"
          placeholder="Enter new Username"
        />

        <div class="has-error" *ngIf="changeUserNameForm.controls['userName'].hasError('required') && submitAttempt">
          <span class="help-block">Required</span>
        </div>
        <div class="has-error" *ngIf="changeUserNameForm.controls['userName'].touched && changeUserNameForm.controls['userName'].hasError('minlength')">
          <span class="help-block">Username must be at least 8 characters long.</span>
        </div>
      </div>

      <div class="form-group" [ngClass]="{'has-error':!changeUserNameForm.controls['confirmUserName'].valid && submitAttempt}">
        <input
          type="text"
          name="confirmUserName"
          class="form-control"
          validateEqual="userName"
          [formControl]="changeUserNameForm.controls['confirmUserName']"
          placeholder="Confirm Username"
        />
        <div class="has-error" *ngIf="changeUserNameForm.controls['confirmUserName'].hasError('required') && submitAttempt">
          <span class="help-block">Required</span>
        </div>
        <div class="has-error" *ngIf="!changeUserNameForm.controls['confirmUserName'].hasError('required') && submitAttempt && !(changeUserNameForm.controls['confirmUserName'].value == changeUserNameForm.controls['userName'].value)">
          <span class="help-block">Username mismatch</span>
        </div>
      </div>

      <div class="text-right">
        <button class="btn btn-primary" type="submit" [disabled]="">Save</button>
        <button class="btn btn-default" type="button" (click)="emitCancel()">Cancel</button>
      </div>
      <ng-container *ngIf="IsError">
        <br/>
        <div class="alert alert-danger">Error: + {{errorMessage}}!</div>
      </ng-container>
    </form>
    <hr/>
  </div>
</div>
