<br>
<div class="row bg-info">
 <hr>
  <div class="col-md-4">
    <label class="form-control-label">Change UserName</label>
  </div>
   <div class="col-md-6">
    <form id="changeForm" novalidate [formGroup]="changeUserNameForm" (ngSubmit)="submitForm(changeUserNameForm.value, changeUserNameForm.valid)"
      align="center">
      <div class="form-group" [ngClass]="{'has-error':!changeUserNameForm.controls['userName'].valid && submitAttempt}">
        <input  name="userName" class="form-control" type="text" [formControl]="changeUserNameForm.controls['userName']"
          placeholder="Enter new User Name">
        <div class="has-error" *ngIf="changeUserNameForm.controls['userName'].hasError('required') && submitAttempt">
          <span class="help-block">Required</span>
        </div>
      </div>
      <div class="form-group" [ngClass]="{'has-error':!changeUserNameForm.controls['confirmUserName'].valid && submitAttempt}">
        <input class="form-control"  validateEqual="userName" name="confirmUserName" [formControl]="changeUserNameForm.controls['confirmUserName']"
          placeholder="Confirm User Name ">
        <div class="has-error" *ngIf="changeUserNameForm.controls['confirmUserName'].hasError('required') && submitAttempt">
          <span class="help-block">Required</span>
        </div>

        <div class="has-error" *ngIf="!changeUserNameForm.controls['confirmUserName'].hasError('required') && submitAttempt && !(changeUserNameForm.controls['confirmUserName'].value == changeUserNameForm.controls['userName'].value)">
          <span class="help-block">User Name mismatch</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 text-right">
          <button class="btn btn-primary" [disabled]="">Save</button>
        <button type="button" class="btn btn-default" (click)="toggleUserNameEdit($event)">Cancel</button>
        </div>
      </div>
    </form>
    <hr>
</div>