
@import '../../styles/bootstrap/stylesheets/bootstrap/_variables';

a {
  cursor: pointer;
}
.tel {
  white-space: nowrap;
}

@media (max-width: $screen-sm-max) {

footer.fixedToBottom {
    position: static;
  }
}


@media (max-width: $screen-xs-max) {

  footer.fixedToBottom {
    position: static;
  }
}