<section class="confirmation-modal">
  <div bsModal #confirmationModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <div class="confirmation-header">
            <h4 class="modal-title pull-left"></h4>
            <button type="button" class="close text-right" aria-label="Close" (click)="hideViewMyBillModal()">
              <span class="close-btn" aria-hidden="true">&times;</span></button></div><br>
        </div>

        <div class="modal-body">
          <p>This is plans and services Modal</p>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="hideViewMyBillModal()" data-dismiss="modal">OK</button>
        </div>

      </div>
    </div>
  </div>
</section>
