.status {
  background-color: gray;
  color:#ffffff;
  padding:10px;
  width:100px;
}

.details {
  padding-left: 10px;
}

.date {
  width:190px;
}

button {
  background-color:transparent;
  border: transparent;
  width: 15px;
  position: relative;
}

.lbl {
  width:100px;
}

.expanded {
  background-color: lightgray;
}
