<form>
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <input type="number" class="form-control" placeholder="Enter Phone Number">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <textarea placeholder="Enter Message here" class="message" rows="5" name="comment" required>
</textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-right">
      <button class="btn btn-default" [disabled]="">Send</button>
    </div>
  </div>
</form>