<div class="usage-summary " *ngIf="barChartData.length < 1">
  <p class="text-center"><i class='fa fa-circle-o-notch fa-spin'></i> Loading...</p>
</div>
<div class="usage-history container-fluid usage-history" *ngIf="isDataAvailable">
  <h1>Usage History</h1>
  <br/>
  <div class="col position-relative">
    <div class="bar-chart">
      <h3>Select a Month for Detail</h3>
      <div *ngFor='let index of barChartData'>
        <canvas
        baseChart
        height="50px"
        [datasets]="index"
        [labels]="monthNames"
        [options]="barChartOptions"
        [colors]="barChartColors"
        legend="true"
        chartType="bar"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"
        ></canvas>
      </div>
    </div>

    <!--
    <div class="line-chart">
      <br/><br/><br/>
      <h3>Year Over Year</h3>
      <div *ngFor='let index of lineChartData'>
        <canvas
          baseChart
          legend="true"
          chartType="line"
          height="50px"
          [datasets]="index"
          [labels]="monthNames"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"
        ></canvas>
      </div>
    </div>
    -->

  </div>
</div>
