<section class="section-container">
  <h2>Payment History</h2>
  <p>View your monthly bills and payments.</p>

  <div class="options-container">
    <div class="btn-group " role="group">
      <button type="button" class="btn btn-default" [routerLinkActive]="['btn-primary']" routerLink="bills">Bills</button>
      <button type="button" class="btn  btn-default" [routerLinkActive]="['btn-primary']" routerLink="payments">Payments</button>
      <button type="button" class="btn  btn-default" [routerLinkActive]="['btn-primary']" routerLink="ledger">Ledger</button>
    </div>
  </div>

  <router-outlet></router-outlet>

</section>
