<section class="section-container">
  <h2>Payment History</h2>
  <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. </p>

  <div class="options-container">
    <div class="btn-group " role="group">
      <button type="button" class="btn btn-default" [routerLinkActive]="['btn-primary']" routerLink="bills">Bills</button>
      <button type="button" class="btn  btn-default" [routerLinkActive]="['btn-primary']" routerLink="payments">Payments</button>
      <button type="button" class="btn  btn-default" [routerLinkActive]="['btn-primary']" routerLink="ledger">Ledger</button>
    </div>
  </div>

  <router-outlet></router-outlet>

</section>
