@import '../../../basecolors';


form {
  padding:15px 0px 0px 0px;
}
.navbar-inverse {
  margin-bottom: 0;
}
.custom-nav {
  background: url(/assets/global/header-nav.png) repeat-x;
  border-width:0;
  border-bottom: thin solid #ccc;
  border-radius:0;
}

.col-xs-12 .control-label {
  padding-left: 0;
  padding-right: 0;

}


h5 {
  color: #8b8b8b;
  width: 250px;
  line-height:19px
}

.note {
  color: $payment-base;
}
