.login-register-modal{
  
  .ui-show-service-number {
    
    position:relative;
    
    .fa-remove {
      position:absolute;
      top:13px;
      right:25px;
    }
    
    img {
      border: 1px solid rgba(0,0,0,.5);
      margin-bottom: 10px;
    }
  }

  .modal-content{
    text-align: center;
    //width:550px; height: 850px;
    //overflow-y: scroll;
  }
  .modal-header {
    padding-top:10px;
    border-bottom: 0px white;
    .modal-title{
      padding:2px 0px 5px 75px ;
      font: bold;
      padding: 10px 0;
      }
    button.close {
      margin-top:20px;
      text-align: left;
    }
  }
  .control-label {
    text-align: left;
    display: block;
  }
  .help-block {
    // font-size:10px;
    text-align: left;
  }
  .alert-warning {
    font-size: 17px !important;
  }
  .hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: #2eb134;
    text-align: center;
    height: 1.5em;
    opacity: .5;
    &:before {
      content: '';
      // use the linear-gradient for the fading effect
      // use a solid background color for a solid bar
      background: linear-gradient(to right, transparent, #2eb134, transparent);
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 1px;
    }
    &:after {
      content: attr(data-content);
      position: relative;
      display: inline-block;
      color: #2eb134;

      padding: 0 .5em;
      line-height: 1.5em;
      // this is really the only tricky part, you need to specify the background color of the container element...
      color: #2eb134;
      background-color: #fcfcfa;
    }
  }
}
