<section class="login-register-modal">
  <div     [config]="{ backdrop: 'static', keyboard: false }"
           bsModal #loginRegisterModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-md ">
      <div class="modal-content ">
        <div class="modal-header">
          <button type="button" class="close" aria-label="Close" (click)="reset()" style="padding:15px 100px 10px 0px;"> <span class="close-btn" aria-hidden="true"><i class="fa fa-remove"></i></span></button>
          <!--<button type="button" class="close fa fa-times fa-2x" style="padding:15px 100px 10px 0px"-->
          <!--data-dismiss="modal" (click)="reset()"></button>-->
          <h2 class="modal-title"><b>Register <span class="hidden-xs">for MyGexa</span></b></h2>
        </div>
        <div class="modal-body container-fluid">
          <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
              <form id="registration" novalidate [formGroup]="registerForm"
                          (ngSubmit)="save(registerForm.value, registerForm.valid)">
                <div class="form-group" [ngClass]="{'has-error':!registerForm.controls['Service_Account_Id'].valid
                  && formSubmitted}">
                  <label class="control-label">Service Account Number</label>
                  <input name="Service_Account_Id" type="text" class="form-control "
                                 [formControl]="registerForm.controls['Service_Account_Id']"
                                 placeholder="Enter your Service Account Number">
                  <div class="has-error" *ngIf="registerForm.controls['Service_Account_Id'].hasError('required')
                    && formSubmitted"> <div class="help-block">Service number is required.</div> </div>
                </div>


                 <div class="form-group" [ngClass]="{'has-error':!registerForm.controls['Zip_Code'].valid
                  && formSubmitted}">
                   <label class="control-label">Zip Code</label>
                    <input name="Zip_Code" type="text" class="form-control "
                                 placeholder=" Enter your Zipcode" [formControl]="registerForm.controls['Zip_Code']">
                  <div class="has-error" *ngIf="registerForm.controls['Zip_Code'].hasError('required') && formSubmitted ||  registerForm.controls['Zip_Code'].hasError('validateInteger') && registerForm.controls['Zip_Code'].touched || registerForm.controls['Zip_Code'].hasError('minlength')
                    && registerForm.controls['Zip_Code'].touched || registerForm.controls['Zip_Code'].hasError('maxlength')
                    && registerForm.controls['Zip_Code'].touched">
                    <div class="help-block">
                        <span *ngIf="registerForm.controls['Zip_Code'].hasError('required')
                    && formSubmitted"> Zip code is required. </span><span  *ngIf="registerForm.controls['Zip_Code'].hasError('validateInteger') && registerForm.controls['Zip_Code'].touched">Zip code should be a number. </span>
                      <span *ngIf="registerForm.controls['Zip_Code'].hasError('minlength')
                    && registerForm.controls['Zip_Code'].touched">Zip must be at least 5 characters long. </span><span *ngIf="registerForm.controls['Zip_Code'].hasError('maxlength')
                    && registerForm.controls['Zip_Code'].touched">Zip cannot exceed 5
                    characters. </span>
                    </div>
                   </div>
                </div>

                <div class="form-group" [ngClass]="{'has-error':!registerForm.controls['User_name'].valid
                  && formSubmitted}">
                  <label class="control-label">User Name</label>
                    <input name="User_name" type="text" class="form-control "
                                 placeholder="Create A Username"
                                 [formControl]="registerForm.controls['User_name']">
                  <!--<div class="help-block" >Username must be at least 8 characters.</div>-->
                  <div class="has-error" *ngIf="registerForm.controls['User_name'].hasError('required') && formSubmitted  || registerForm.controls['User_name'].hasError('minlength')
                    && registerForm.controls['User_name'].touched || registerForm.controls['User_name'].hasError('maxlength')
                    && registerForm.controls['User_name'].touched">
                    <div class="help-block">
                        <span *ngIf="registerForm.controls['User_name'].hasError('required')
                    && formSubmitted"> Username is required. </span>
                      <span *ngIf="registerForm.controls['User_name'].hasError('minlength')
                    && registerForm.controls['User_name'].touched">Username must be at least 8 characters long. </span>
                    </div>
                  </div>
                </div>

                <div class="form-group" [ngClass]="{'has-error':!registerForm.controls['Password'].valid
                  && formSubmitted}">
                  <label class="control-label">Password</label>
                    <input name="Password" type="password" class="form-control "
                                 placeholder="Create A Password"
                                 [formControl]="registerForm.controls['Password']">

                  <!--<div class="help-block" ><span *ngIf="registerForm.controls['Password'].hasError('required')-->
                    <!--&& formSubmitted"> Password is required. </span>Passwords must be at least 6 characters, one non letter or digit character, one uppercase ('A'-'Z').</div>-->
                  <!--<div class="has-error" *ngIf="registerForm.controls['Password'].hasError('required') && registerForm.controls['Password'].hasError('validatePassword')-->
                    <!--&& formSubmitted"> <span class="help-block">Password is required.</span> </div>-->
                  <div class="has-error" *ngIf="registerForm.controls['Password'].hasError('required') && formSubmitted ||  registerForm.controls['Password'].hasError('validatePassword') && registerForm.controls['Password'].touched || registerForm.controls['Password'].hasError('minlength')
                    && registerForm.controls['Password'].touched || registerForm.controls['Password'].hasError('maxlength')
                    && registerForm.controls['Password'].touched">
                  <div class="help-block">
                        <span *ngIf="registerForm.controls['Password'].hasError('required')
                    && formSubmitted"> Password is required. </span><span  *ngIf="registerForm.controls['Password'].hasError('validatePassword') && registerForm.controls['Password'].touched">Password must have at least one uppercase letter, one lowercase letter, one number. </span>
                    <span *ngIf="registerForm.controls['Password'].hasError('minlength')
                    && registerForm.controls['Password'].touched">Password be at least 6 characters long. </span><span *ngIf="registerForm.controls['Password'].hasError('maxlength')
                    && registerForm.controls['Password'].touched">Password cannot exceed 10 characters. </span>
                  </div>
                </div>

                </div>

                 <div class="form-group" [ngClass]="{'has-error':!registerForm.controls['ConfirmPassword'].valid
                  && formSubmitted}">
                   <label class="control-label">Confirm Password</label>
                    <input name="ConfirmPassword" class="form-control "
                                 placeholder="Confirm Password" type="password"
                                 [formControl]="registerForm.controls['ConfirmPassword']">
                  <div class="has-error" *ngIf="registerForm.controls['ConfirmPassword'].hasError('required')
                    && formSubmitted"> <div class="help-block">Confirm Password is required.</div> </div>
                  <div class="has-error" *ngIf="!registerForm.controls['ConfirmPassword'].hasError('required')
                     && formSubmitted
                     && !(registerForm.controls['ConfirmPassword'].value == registerForm.controls['Password'].value)"> <div class="help-block">Passwords mismatch</div> </div>
                </div>
                <div class="form-group" [ngClass]="{'has-error':!registerForm.controls['Email_Address'].valid
                  && formSubmitted}">
                  <label class="control-label">Email</label>
                    <input name="Email_Address" type="text"
                                 class="form-control " placeholder="Enter Email"
                                 [formControl]="registerForm.controls['Email_Address']">
                  <div class="has-error"
                             *ngIf="registerForm.controls['Email_Address'].hasError('required') && formSubmitted"> <div class="help-block">Email is required</div> </div>
                  <div class="has-error" *ngIf="!registerForm.controls['Email_Address'].hasError('required')
                    && registerForm.controls['Email_Address'].hasError('validateEmail') && formSubmitted"> <div class="help-block">Enter a valid email. Email format should be <i>john@doe.com</i>.</div> </div>
                </div>

                 <div class="form-group" [ngClass]="{'has-error':!registerForm.controls['Security_Question_Id'].valid
                  && formSubmitted}">
                   <label class="control-label">Security Question</label>
                    <select name="Security_Question_Id" class="form-control" style="padding-left:40px "
                                  [formControl]="registerForm.controls['Security_Question_Id']">
                      <option value="">Please select a security question</option>
                      <option *ngFor="let secQues of secQuesArray" [value]="secQues.Id">{{ secQues.Question }} </option>
                    </select>
                  <div class="has-error" *ngIf="registerForm.controls['Security_Question_Id'].hasError('required')
                     && formSubmitted "> <div class="help-block">Security question is required.</div> </div>

                </div>

                 <div class="form-group" [ngClass]="{'has-error':!registerForm.controls['Security_Question_Answer'].valid
                  && formSubmitted}">
                   <label class="control-label">Security Answer</label>
                    <input name="Security_Question_Answer" type="text" class="form-control "
                                 [formControl]="registerForm.controls['Security_Question_Answer']"
                                 placeholder="Enter your response.">
                  <div class="has-error" *ngIf="registerForm.controls['Security_Question_Answer'].hasError('required')
                    && formSubmitted"> <div class="help-block">Response is required.</div> </div>
                </div>

                 <div class="form-group"  *ngIf="errorMsg">
                  <div class="alert alert-danger" ><b>Error message: {{errorMsg}}</b></div>
                </div>
                <div class="text-right">
                  <button type="submit"
                                class="btn-block btn btn-primary">Register </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
