<br/>
<div class="container">
  <div class="row">

    <div class="col-sm-4">
      <div id="understandingMyBill" class="chart">

        <div class="viewBillGaugeComponent">
          <canvas
            #gaugeText
            class="gaugeText"
            width="1000"
            height="1000"></canvas>
          <canvas
            #gauge
            baseChart
            class="gaugeChart"
            chartType="doughnut"
            [colors]="[{ backgroundColor: ['rgba(46,177,52,1.0)', 'rgba(254,162,32,1.0)', 'rgba(6,81,128,1.0)'] }]"
            [data]="doughnutChartDataSet | async"
            [options]="doughnutChartOptions | async"
            [legend]="false"
            (chartClick)="chartClicked($event)"
          ></canvas>
        </div>
      </div>
    </div>

    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-6">
          <h2>Understand Your Bill</h2>
        </div>
        <div *ngIf="bill_object && bill_item_details" class="col-sm-3 text-right">
          <p>
            Invoice #{{ invoice_num }}
          </p>
          <p>
            {{ invoice_date | date }}
          </p>
        </div>
        <div class="col-sm-3">
          <button class="btn btn-success btn-block" (click)="downloadInvoice($event)">
            <i class="fa fa-file-o"></i> Download
          </button>
        </div>
      </div>
      <br/>

      <div *ngIf="bill_object && bill_item_details">

        <div>
          <div *ngIf="bill_item_details_gexa_charges.length > 0; then listCharges else noChargesToList"></div>
          <ng-template #listCharges>
            <div class="row gexa-row"
                 [ngClass]="chargeOpened(bill_item_details_gexa_charges) ? 'row gexa-row selected' : 'row gexa-row'">
              <div class="col-sm-8">
                Gexa Charges
              </div>
              <div class="col-xs-2">
                ${{ gexaCharges }}
              </div>
              <div class="col-xs-2">
                <i (click)="chargeToggle(bill_item_details_gexa_charges); toggle('GexaCharges');" class="fa gexa-detail pull-right"
                   [ngClass]="{'fa-plus': GexaChargesState === 'collapsed', 'fa-minus': GexaChargesState === 'expanded' }"></i>
              </div>
            </div>
            <div class="toggle-container" [@openCloseGexaCharges]="GexaChargesState">
              <ng-container *ngIf="chargeOpened(bill_item_details_gexa_charges)">
                <div class="row details" *ngFor="let item of bill_item_details_gexa_charges">
                  <div class="col-xs-8">
                    <span>{{ item.Descripton }}</span><span class="bill-uasge" *ngIf="item.Quantity">{{ item.Quantity }}@{{item.Multiplier}} </span>
                  </div>
                  <div class="col-xs-4">
                    ${{ item.Amount | FloatToMoneyPipe }}
                  </div>
                </div>
                <div class="row details" *ngFor="let item of bill_item_details_other_charges">
                  <div class="col-xs-8">
                    {{ item.Descripton }}
                  </div>
                  <div class="col-xs-4">
                    ${{ item.Amount | FloatToMoneyPipe }}
                  </div>
                </div>
              </ng-container>
            </div>
          </ng-template>
          <ng-template #noChargesToList>
            <div class="toggle-container" [@openCloseGexaCharges]="GexaChargesState">
              <div class="col-xs-12"><b> Gexa Charges</b>
                <small>(No charges to list.)</small>
              </div>
            </div>
          </ng-template>
        </div>

        <div>
          <div *ngIf="bill_item_details_TDU_charges.length > 0; then listTDUCharges  else noTDUChargesToList"></div>
          <ng-template #listTDUCharges>
            <div class="row oncor-row"
                 [ngClass]="chargeOpened(bill_item_details_TDU_charges) ? 'row oncor-row selected' : 'row oncor-row'">
              <div class="col-sm-8">
                {{tduName}} Charges
              </div>
              <div class="col-xs-2">
                ${{ tduCharges }}
              </div>
              <div class="col-xs-2">
                <i class="fa oncor-detail pull-right" (click)="chargeToggle(bill_item_details_TDU_charges); toggle('TDUCharges');"
                   [ngClass]="{'fa-plus':TDUChargesState === 'collapsed', 'fa-minus': TDUChargesState === 'expanded' }"></i>
              </div>
            </div>
            <div class="toggle-container" [@openCloseTDUCharges]="TDUChargesState">

              <ng-container *ngIf="chargeOpened(bill_item_details_TDU_charges)">
                <div class="row details" *ngFor="let item of bill_item_details_TDU_charges">
                  <div class="col-xs-8">
                    {{ item.Descripton }}
                  </div>
                  <div class="col-xs-4">
                    ${{ item.Amount | FloatToMoneyPipe }}
                  </div>
                </div>
              </ng-container>
            </div>
          </ng-template>
          <ng-template #noTDUChargesToList>
            <div class="toggle-container" [@openCloseTDUCharges]="TDUChargesState">
              <div class="col-xs-12"><b> {{tduName}} Charges</b>
                  <small>(No TDU charges to list.)</small>
              </div>
            </div>
          </ng-template>
        </div>

        <div>
          <div *ngIf="bill_item_details_tax.length > 0; then listTaxCharges else noTaxChargesToList"></div>
          <ng-template #listTaxCharges>
            <div class="row taxes-row"
                 [ngClass]="chargeOpened(bill_item_details_tax) ? 'row taxes-row selected' : 'row taxes-row'">
              <div class="col-sm-8">
                Taxes
              </div>
              <div class="col-xs-2">
                {{ taxCharges }}
              </div>
              <div class="col-xs-2">
                <i class="fa tax-detail pull-right" (click)="chargeToggle(bill_item_details_tax); toggle('TaxCharges');"
                   [ngClass]="{'fa-plus': TaxChargesState === 'collapsed', 'fa-minus': TaxChargesState === 'expanded' }"></i>
              </div>
            </div>
            <div class="toggle-container" [@openCloseTaxCharges]="TaxChargesState">

              <ng-container *ngIf="chargeOpened(bill_item_details_tax)">
                <div class="row details" *ngFor="let item of bill_item_details_tax">
                  <div class="col-xs-8">
                    {{ item.Descripton }}
                  </div>
                  <div class="col-xs-4">
                    ${{ item.Amount | FloatToMoneyPipe }}
                  </div>
                </div>
              </ng-container>
            </div>
          </ng-template>

          <ng-template #noTaxChargesToList>
            <div class="toggle-container" [@openCloseTaxCharges]="TaxChargesState">
              <div class="col-xs-12"> <b> Tax charges </b>
                <small> (No tax charges to list.)</small></div>
              </div>
          </ng-template>

        </div>

      </div>

    </div>

  </div>
</div>
