
.view-bill-container {

  td {
    line-height: 4rem;
  }
  .bill-amount {
    font-weight: bold;
  }
  .bill-name {
    color: #555555;
  }
  .bill-uasge {
    float: right;
    margin-right: 2rem;
  }

}


.details, .view-bill-container h4 {
  color:#000000;
  
}
