
.view-bill-container {

  td {
    line-height: 4rem;
  }
  .bill-amount {
    font-weight: bold;
  }
  .bill-name {
    color: #555555;
  }
  .bill-uasge {
    float: right;
    margin-right: 2rem;
  }

}


.details, .view-bill-container h4 {
  color:#000000;
  
}

.table-striped > tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(even) > th {
   background-color:#f9f9f9 !important;
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
  background-color: rgba(216,238,206,0.9);
}