<div class="row">
  <div class="col-xs-5 status-details visible-xs">
    <div class="circle">
      <div class="checkmark"></div>
      <p>Submitted
        <p>
    </div>
    <div class="circle">
      <div class="checkmark"></div>
      <p>Processing
        <p>
    </div>
    <div class="circle">
      <div class="checkmark"></div>
      <p>Switching Utility
        <p>
    </div>
    <div class="circle">
      <div class="checkmark"></div>
      <p>Local Utility Processed
        <p>
    </div>
    <div class="circle">
      <div class="checkmark"></div>
      <p>Complete
        <p>
    </div>
  </div>
  <div class="col-xs-6 col-md-12 col-sm-12 service-info">
    <h3>Service Information</h3>
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12 service-address">
        <h5>Service Address</h5>
        <p>20455 TX-249 #200,</p>
        <p>Houston</p>
        <p>TX - 77-70 </p>
      </div>
      <div class="col-md-2 col-sm-2 hidden-xs">
        <i class="fa fa-arrow-right right-arrow" aria-hidden="true"></i>
      </div>

      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="visible-xs"><br/><br></div>
        <h5>Transfer Service Address</h5>
        <p>10262 TX-249 #200,</p>
        <p>Houston</p>
        <p>TX - 77-70 </p>
      </div>
    </div>
  </div>
</div>
<br/><br/>
<div class="row">
  <div class="col-md-4 col-xs-10 plan-info">
    <h3>Plan Information</h3><br/>
        <div class="plan-info-container">
      <h4><span>Gexa Classic 12</span><i class="fa fa-info-circle pull-right"  aria-hidden="true"></i></h4>
      <p><sup>$</sup><span class="unit-cost">0.082</span>pkw/hr</p>
      <p>TERM:12 months</p>
      <p>Start:03/31/2017</p>
      <p>End:03/30/2018</p>
      <i class="fa fa-check-circle pull-right" aria-hidden="true"></i>
    </div>
  </div>  
  <div class="col-md-1 col-sm-1 col-xs-1"></div>  
  <div class="col-md-6 col-xs-10 plan-info-enquire jumbotron">
    <p>tempora incidunt sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem numquam eius.</p>
   <h2> Call 1800-638-902</h2>
  </div>
</div>