<div class="row">
  <div class="col-xs-5 status-details visible-xs">
    <div class="circle">
      <div class="checkmark"></div>
      <p>Submitted<p>
    </div>
    <div class="circle">
      <div class="checkmark"></div>
      <p>Processing<p>
    </div>
    <div class="circle">
      <div class="checkmark"></div>
      <p>Switching Utility<p>
    </div>
    <div class="circle">
      <div class="checkmark"></div>
      <p>Local Utility Processed<p>
    </div>
    <div class="circle">
      <div class="checkmark"></div>
      <p>Complete<p>
    </div>
  </div>
  <div></div>
</div>