
<div class="row security-question">
  <div class="col-md-4">
    <label class="control-label">Security Question</label>
  </div>
  <div class="col-md-6">
    <div class="form-control">{{securityQuestion}}</div>
    <button type="button" class="btn btn-primary btn-link" (click)="editing = !editing"><i class="fa fa-{{ editing ? 'remove' : 'pencil'}}"></i></button>
  </div>
</div>
<br/>
<div [hidden]="!editing">
    <div class="row bg-info">
      <div class="col-xs-12">
        <hr/>
      </div>
      <div class="col-md-4">
        <label class="form-control-label">Security Question</label>
      </div>
      <div class="col-md-6">
        <form
          id="changeForm"
          (ngSubmit) = "updateSecQuesResponse(securityQuestionForm.controls['question1'].value, securityQuestionForm.valid)"
          [formGroup]="securityQuestionForm"
        >
          <div class="form-group" [ngClass]="{'has-error':!securityQuestionForm.controls['question1'].valid && submitAttempt}" data-private>
            <p>Answer Questions to Continue</p>
            <label class="control-label">{{securityQuestion}}</label>
            <input
              type="text"
              name="question1"
              class="form-control"
              [formControl]="securityQuestionForm.controls['question1']" placeholder=""
            />
            <div class="has-error" *ngIf="securityQuestionForm.controls['question1'].hasError('required') && submitAttempt">
              <span class="help-block">Required</span>
            </div>
            <div class="has-error" *ngIf="errorMessage != null && errorOccured && submitAttempt">
              <span class="help-block">{{errorMessage}}</span>
            </div>
          </div>
          <div class="text-right">
            <button class="btn btn-primary" [disabled]="" type="submit">Continue</button>
            <button class="btn btn-default" type="button" (click)= resetForm()>Cancel</button>
          </div>
        </form>
        <hr/>
      </div>
    </div>
    <br/>

</div>
