 <br/>
   <div class="row security-question">
    <div class="col-md-4 col-xs-12">
      <label class="control-label">Security Question 1</label>
    </div>
    <div class="col-md-4 col-xs-12">
        <div class="form-control">{{securityQuestion}}</div>
    </div>
    <div class="col-xs-1">
         <a class="btn btn-primary" href="#" (click)="toggleEdit($event)">{{ editing ? 'Close' : 'Edit'}}</a>
    </div>
  </div>
 

<div [hidden]="!editing" class="row questionPanel">
  <div class="col-md-6 col-md-offset-3">
    <h3>Answer questions to continue</h3>
    <form id="changeForm" novalidate [formGroup]="securityQuestionForm">
      <div class="form-group" [ngClass]="{'has-error':!securityQuestionForm.controls['question1'].valid && submitAttempt}">
        <p>Security Question 1</p>
        <label class="control-label">{{securityQuestion}}</label>
        <input type="text" name="question1" class="form-control" [formControl]="securityQuestionForm.controls['question1']" placeholder="">
        <div class="has-error" *ngIf="securityQuestionForm.controls['question1'].hasError('required') && submitAttempt">
          <span class="help-block">Required</span>
        </div>
      </div>
      <!--<div class="form-group" [ngClass]="{'has-error':!securityQuestionForm.controls['question2'].valid && submitAttempt}">-->
        <!--<p>Security Question 2</p>-->
        <!--<label class="control-label">whats your favourite movie title ?</label>-->
        <!--<input type="text" name="question2" class="form-control" [formControl]="securityQuestionForm.controls['question2']" placeholder="">-->
        <!--<div class="has-error" *ngIf="securityQuestionForm.controls['question2'].hasError('required') && submitAttempt">-->
          <!--<span class="help-block">Required</span>-->
        <!--</div>-->
      <!--</div>-->
      <div class="row">
        <div class="col-xs-6">
          <a href="#" (click)="toggleEdit($event)">Cancel</a>
        </div>
        <div class="col-xs-6 text-right">
          <button class="btn btn-default" [disabled]="">continue</button>
        </div>
      </div><br>
    </form>
  </div>
</div>
<br/>
