
@import '../../../../styles/bootstrap/stylesheets/bootstrap/_variables';


.account-side-panel {

  h1 {
    color: rgba(6,81,128,1.0);
  }

  .active {
        border-color: rgba(6,81,128,1.0) ;
  }

}

.account-menu {
  background-color: red;
}

@media (max-width: $screen-xs-max) {
  .my-account {
    border: none;
    padding: 0;
  }
}

.jumbotron {
  margin-top:5%;
}
