<div class="container">
  <div class="row">
    <div class="col-sm-3 hidden-xs account-side-panel">
      <mygexa-left-nav-panel [sideNavData] = "{
        'panelTitle':'My Account',
        'items':[
          { 'title':'Profile &amp; Preferences', 'navUrl':'profile' },
          { 'title':'Message Center', 'navUrl':'message-center' },
          { 'title':'My Rewards &amp; Referrals', 'navUrl':'refer-a-friend' }
        ]
      }" ></mygexa-left-nav-panel>
    </div>
    <div class="col-sm-9 col-xs-12">
      <mygexa-status-bar></mygexa-status-bar>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<br/>
<br/>
<ng-container *ngIf="startsWith(Router.url, '/account/profile')">
  <div class="container-fluid bg-info">
    <div class="container">
      <mygexa-paperless-settings></mygexa-paperless-settings>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="startsWith(Router.url, '/account/message-center')">
  <div class="container-fluid bg-info">
    <div class="container">
      <div class="jumbotron clearfix">
        <div class="col-md-4">
          <img src="/assets/global/bundle-feature-img-1.png" class="img-responsive"/>
        </div>
        <div class="col-md-8">
          <h2> Digital TV Service</h2>
          <p>Enjoy entertainment for the whole family, including premium, HD channels, DVR service and On-Demand options with TV deals to suit your preferences. Plus, now you can stream live TV and stay entertained on-the-go with state-of-the-art TV apps .</p>
          <div class="text-center"><button class="btn btn-primary">Find TV Deals!</button></div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="startsWith(Router.url, '/account/refer-a-friend/referral-options')">
  <div class="container-fluid bg-info">
    <div class="container">
      <div class="jumbotron clearfix">
        <div class="col-md-8">
          <h2>High-Speed Internet Service</h2>
          <p>Find reliable High-Speed Internet service options in your area that let you to surf and stream for less. Select the convenience of in-home WiFi and online storage, while enjoying free Internet Security to keep your information protected. </p>
                    <div class="text-center"><button class="btn btn-primary">Find Internet Deals!</button></div>

          </div>
        <div class="col-md-4">
                    <img src="/assets/global/bundle-feature-img-3.png" class="img-responsive"/>

        </div>
      </div>
    </div>
  </div>
</ng-container>
