
@import '../../../../styles/bootstrap/stylesheets/bootstrap/_variables';

.sidenav {
  background-color:#000000;
  height: 100vh;
  padding: 30px;

  li{
    list-style-type: none;
    margin-bottom:10px;

    a, h4{
      color:#ffffff;
    }
  }
}

.my-account {
  border: 1px solid black;
  padding: 4rem;
}
@media (max-width: $screen-xs-max) {
  .my-account {
    border: none;
    padding: 0;
  }
}
