<div class="container-fluid">
  <section class="status-bar hidden-xs">
  <div class="row ">
    
      <div class="col-md-2">
        <p>status</p>
      </div>
      <div class="col-md-10">
        Lorem Ipsum
      </div>

  </div>
  </section>
  <div class="row">
    <div class="col-md-3  hidden-xs">
      <ul class="sidenav">
        <li><h4>My Account</h4></li>
        <li [routerLinkActive]="['active']"><a  routerLink="profile">Profile</a></li>
        <li [routerLinkActive]="['active']"><a routerLink="plan-information">Plan Information</a></li>
        <li [routerLinkActive]="['active']"><a routerLink="refer-a-friend">Refer a friend</a></li>
        <li [routerLinkActive]="['active']"><a routerLink="order-status">Order Status</a></li>
        <li [routerLinkActive]="['active']"><a routerLink="transfer-service">Transfer Service</a></li>
      </ul>
    </div>
    <div class="col-md-9 my-account">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>