<div class="container-fluid view-my-bill">

  <h2>My Bill</h2>

  <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. </p>

  <br/>

  <div class="row">
    <div class="col-lg-8">

      <div class="view-my-bill-container hidden-xs hidden-sm">

        <table class="view-my-bill-make-a-payment" border="0" width="100%">
          <colgroup>
            <col width="75%"/>
            <col width="20%"/>
            <col width="5%"/>
          </colgroup>
          <tbody>
          <tr>
            <td>Current Charges</td>
            <td colspan="2">${{current_charges() | NumberToMoneyPipe }}</td>
          </tr>
          <tr *ngIf="balance_forward">
            <td>Balance Forward</td>
            <td colspan="2">${{ balance_forward | NumberToMoneyPipe }}</td>
          </tr>
          <tr>
            <td colspan="2">
              <div class="bill-breaker"></div>
            </td>
          </tr>
          <tr>
            <td><h2 class="text-muted">Total</h2></td>
            <td colspan="2"><h2>${{ current_charges() | NumberToMoneyPipe }}</h2></td>
          </tr>
          </tbody>
        </table>

        <div class="view-my-bill-make-a-payment-container">
          <a class="btn-wireframe" [routerLink]="['../make-payment']">Make a Payment</a>
        </div>

      </div>

      <h4>Bill details as of {{ date_today | date }}</h4>

      <div *ngFor="let bill of bills" class="view-my-bill-container view-my-bill-bill">

        <h4>April 10 2017<span class="pull-right">Invoice Number # {{ bill.invoice_number }}</span></h4>

        <div class="bill-breaker"></div>

        <div *ngFor="let charge of bill.charges">
          <div *ngIf="charge.items.length > 0; then listCharges else noChargesToList"></div>
          <ng-template #listCharges>
            <h2>
              <button class="view-my-bill-charge-toggle" (click)="chargeToggle(charge)">
                <i class="fa fa-fw" [ngClass]="{ 'fa-chevron-down': !chargeOpened(charge), 'fa-chevron-up': chargeOpened(charge) }"></i>
              </button>
              {{ charge.title }}
            </h2>
            <table *ngIf="chargeOpened(charge)" border="0" width="100%">
              <colgroup>
                <col width="75%"/>
                <col width="20%"/>
                <col width="5%"/>
              </colgroup>
              <tbody>
              <tr *ngFor="let item of charge.items">
                <td class="bill-name"><span>{{ item.name }}</span><span class="bill-uasge" *ngIf="item.usage">{{ item.usage }}</span></td>
                <td class="bill-amount">${{ item.amount | NumberToMoneyPipe }}</td>
                <td></td>
              </tr>
              </tbody>
            </table>
            <table border="0" width="100%">
              <colgroup>
                <col width="75%"/>
                <col width="20%"/>
                <col width="5%"/>
              </colgroup>
              <tbody>
              <tr>
                <td><b>Sub Total</b></td>
                <td><b>${{ subtotal(charge) | NumberToMoneyPipe }}</b></td>
                <td></td>
              </tr>
              </tbody>
            </table>
            <br/>
          </ng-template>
          <ng-template #noChargesToList>
            <h2>{{ charge.title }} <small>(No charges to list.)</small></h2>
          </ng-template>
        </div>

        <div class="bill-breaker"></div>

        <table border="0" width="100%">
          <colgroup>
            <col width="75%"/>
            <col width="20%"/>
            <col width="5%"/>
          </colgroup>
          <tbody>
          <tr>
            <td><h2 class="text-muted">Total</h2></td>
            <td><h2>${{ total(bill) | NumberToMoneyPipe }}</h2></td>
            <td></td>
          </tr>
          </tbody>
        </table>

        <div class="row">
          <div class="col-md-7">
            <br/>
            <button class="btn btn-default"><i class="fa fa-fw fa-file-pdf-o"></i> View Full Statement</button>
          </div>
          <div class="col-md-5 text-right">
            <br/>
            <a class="btn btn-block btn-wireframe" [routerLink]="['../make-payment']">Make a Payment</a>
          </div>
        </div>

        <p class="thank-you">Thank you for your payment of $140.56 on March 10, 2017</p>

      </div>

    </div>
    <div class="col-lg-4">
      <div class="view-my-bill-billing-payment-preferences">
        <div class="view-my-bill-billing-pad">
          <p>Billing &amp; Payment Preferences</p>
          <br/>
          <mygexa-view-my-bill-preference [preference]="'auto-pay'"></mygexa-view-my-bill-preference>
          <mygexa-view-my-bill-preference [preference]="'budget-billing'"></mygexa-view-my-bill-preference>
          <mygexa-view-my-bill-preference [preference]="'ebill-paperless'"></mygexa-view-my-bill-preference>
        </div>
      </div>
      <div class="view-my-bill-billing-meter-information">
        <div class="view-my-bill-billing-header"><i class="fa fa-fw fa-tachometer"></i> Meter&nbsp;Information</div>
        <div class="view-my-bill-billing-pad">
          <p>Your next schedule meter reading is {{ 'April 14 2017' }}.</p>
          <br/>
          <p>Quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.</p>
          <br/>
          <div class="text-right">
            <button class="btn btn-lg btn-default">Meter re-read / test</button>
          </div>
        </div>
      </div>
      <div class="view-my-bill-billing-power-outage">
        <div class="view-my-bill-billing-pad">
          <h2>Power Outage</h2>
          <p>If you have a power outage, please call:</p>
          <h1 class="text-center">1-800-356-8456</h1>
        </div>
      </div>
    </div>
  </div>

</div>
