<section>
  <div class="row">
    <div class="col-lg-8">
      <h1>My Current Bill</h1>
      <p *ngIf="service_account_id">Account No: {{service_account_id}} </p>
      <div class="col-md-8 col-md-offset-2"> <br/>
        <div [hidden]="!req_bill">
          <table  border="0" width="100%">
            <colgroup>
            <col width="80%"/>
            <col width="10%"/>
            </colgroup>
            <tbody>
              <tr class="bg-success">
                <td>Current Charges</td>
                <td colspan="2">${{ req_bill?.Current_Charges }}</td>
              </tr>
              <tr>
                <td colspan="2">&nbsp;</td>
              </tr>
              <tr *ngIf="req_bill?.Balance_Forward" class="bg-success">
                <td>Balance Forward</td>
                <td >${{ req_bill?.Balance_Forward }}</td>
              </tr>
              <tr class="total" >
                <td>Total</td>
                <td ><h4>${{ req_bill?.Current_Charges + req_bill?.Balance_Forward }}</h4></td>
              </tr>
            </tbody>
          </table>
          <br>
          <a class="btn btn-success pull-right" routerLink="/payments/make-payment">Make a Payment</a> </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="alert alert-info" *ngIf="payments">Thank you for your payment of ${{LatestBillAmount}} on {{LatestBillPaymentDate | date:'MM/dd/yyyy'}} </div>
      <div class="view-my-bill-billing-payment-preferences">
        <div class="view-my-bill-billing-pad">
          <h3>Your Settings</h3>
          <mygexa-view-my-bill-preference></mygexa-view-my-bill-preference>
          <!-- <mygexa-view-my-bill-preference [preference]="'budget-billing'"></mygexa-view-my-bill-preference>
          <mygexa-view-my-bill-preference [preference]="'ebill-paperless'"></mygexa-view-my-bill-preference> -->
        </div>
      </div>
    </div>
  </div>
</section>
