<div class="container-fluid">
  <mygexa-status-bar></mygexa-status-bar>
  <div class="row">
    <!-- carousel -->
    <div class="col-md-8">
      <mygexa-home-carousel></mygexa-home-carousel>
    </div>
    <!--My Bill Section -->
    <div class="col-md-4">
      <mygexa-my-bill></mygexa-my-bill>
    </div>
  </div>

  <div class="row">
    <!--Usage Summary -->
    <div class="col-md-4">
      <mygexa-usage-summary></mygexa-usage-summary>
    </div>
     <!--Signup for Auto Pay -->
    <div class="col-md-4">
     <mygexa-auto-pay-signup></mygexa-auto-pay-signup>
    </div>
    <!--Refer a friend Program -->
    <div class="col-md-4">
      <mygexa-refer-friend-program></mygexa-refer-friend-program>
    </div>
  </div>

</div>
