<section [hidden]="enrolled" class="refer-friend-description">
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <h3>Refer a friend</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
      <div class="referral-code">

        <div class="col-sm-12" style="background-color:#eeeeee;">
          <div class="checkbox">
            <label style="font-size: 1.5em;">
              <input type="checkbox" value="" (click)=toggleButton()>
              <span class="cr"><i class="cr-icon fa fa-check"></i></span>
              <p style="font-size: 0.9em;">To continue your enrollment in My Rewards and Referrals, please read and agree to our Terms and Conditions.</p>
            </label>
          </div>
        </div>

        <div>
          <button class='btn btn-secondary pull-right text-uppercase' [disabled]='!flipButton' (click)="onEnroll()">Enroll Now</button>
        </div>

      </div>
    </div>
  </div>
</section>

<section [hidden]="!enrolled" class="rewards-and-referrals">
  <div class="row">
    <div class="col-md-12">
      <h3>
        <b>My Rewards & Referrals</b>
      </h3>
      <div class="text-center">
        <div class="btn-group">
          <button type="button" [routerLinkActive]="['active']" class="btn btn-primary" routerLink="referral-options">Refer a Friend</button>
          <button type="button" [routerLinkActive]="['active']" class="btn btn-primary" routerLink="my-rewards">My Rewards</button>
        </div>
      </div>
      <div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>


