<div *ngIf="!isLoading; then referrals else showLoadingScreen"></div>
<ng-template #referrals>
  <section [hidden]="enrolled" class="refer-friend-description account-profile">
    <div class="row">
      <div class="col-md-8">
        <h2>Refer a friend</h2>
        <h4>Earn bill credits every month</h4>
        <small class="muted">When you enroll in our Share &amp; Save Customer Referral Program, you'll earn a <strong>$5 credit on your bill each month for up to a year for each new customer</strong> you bring onboard with us.  And your friends save too...with a one-time $25 credit they'll see on their bill 60 days after becoming a new Gexa Energy customer.</small>
      </div>
      <div class="col-md-4">
        <h2>&nbsp;</h2>
        <h4>&nbsp;</h4>
        <img src="/assets/global/gexa-home-reffer.png" alt="auto pay image" class="img-responsive">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="checkbox">
          <ng-container *ngIf="(serviceAccountsCount > 1)">
            <div class="col-xs-10 col-xs-offset-1">
              <mygexa-service-account-selector [setActiveServiceAccount]="true"></mygexa-service-account-selector>
            </div>
          </ng-container>
          <label>
            <input type="checkbox" value="" (click)=toggleButton()>
            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
            <p class="hang-indent" >To continue your enrollment in <b>My Rewards and Referrals</b>: first select the <b>Service Account</b> where you would like to receive any <b>Earned Referral Credits</b>, then read and agree to our <a href="#stay">Terms and Conditions.</a></p>
          </label>
        </div>
        <button class='btn btn-primary' [disabled]='!flipButton' (click)="onEnroll()">Enroll Now</button>
      </div>
    </div>
  </section>
  <section [hidden]="!enrolled" class="rewards-and-referrals account-profile">
    <div class="row">
      <div class="col-md-12">
        <h2>My Rewards & Referrals</h2>
        <div class="text-center">
          <div class="btn-group">
            <button type="button" [routerLinkActive]="['active']" class="btn btn-default" routerLink="referral-options">Refer a Friend</button>
            <button type="button" [routerLinkActive]="['active']" class="btn btn-default" routerLink="my-rewards">My Rewards</button>
            <button *ngIf="(serviceAccountsCount > 1)" type="button" [routerLinkActive]="['active']" class="btn btn-default" routerLink="my-reward-preferences">Reward Preferences</button>
          </div>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </section>
</ng-template>
<ng-template #showLoadingScreen>
  <div class="text-center">
    <h1><i class="fa fa-spin fa-circle-o-notch"></i></h1>
    <h2>
      <small class="text-muted">Loading your Rewards and referrals...</small>
    </h2>
  </div>
</ng-template>
