.refer-friend-description{
    p{
        text-align: justify;
    }
   #referal-code{
       margin:40px 0;
    .refer-friend{
        margin: 10px 0px;    
        input[type="text"] {
            width:70%;
        }
        button[type="submit"] {
            margin-left: -4px;
            height: 26px;
            background: black;
            color: white;
            border-color: black;
            -webkit-appearance: none;
            width: 30%
        }
    }
   }
}