<div class="auto-pay-signup card-container card-container-height">
  <h4>Signup for Auto Pay</h4>
  <div class="row position-relative">
    <div class="col-md-7">
      <i class="fa fa-picture-o fa-5x visible-xs" aria-hidden="true"></i>
      <div class="card-content">
        <p>sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis
          et quasi architecto beatae vitae</p>
      </div>
    </div>
    <i class="fa fa-picture-o fa-5x hidden-xs" aria-hidden="true"></i>
    <div class="col-md-5 card-button">
      <div class="text-right">
        <button class="btn btn-wireframe">Signup Now</button>
      </div>
    </div>
  </div>
</div>