<div class="container">
  <div class="row">
    <div class="col-md-3 hidden-xs  hidden-sm">
      <!--<button-->
        <!--class="btn btn-primary btn-block btn-round"-->
      <!--&gt;<i class="fa fa-fw fa-3x fa-file-excel-o"></i><br/>Insight History <span class="boxed">Download</span>-->
      <!--</button>-->
    </div>
    <div class="col-sm-12 col-md-8 col-md-offset-1" style="margin-bottom: 10px;">
      <ng-container *ngIf="isDataAvailable && tableData && tableData.length > 0">
        <h1>Energy Usage Table</h1>
        <table class="table table-responsive table-condensed">
          <tr>
            <th class='month'>Month</th>
            <th class='year'>Year</th>
            <th class='usage'>kWh</th>
          </tr>
          <tr *ngFor='let index of currentPage'>
            <td class='month'>{{ index.date | date:'MMMM' }}</td>
            <td class='year'>{{ index.date | date:'y' }}</td>
            <td class='usage'>{{ index.usage }}</td>
          </tr>
        </table>
        <pagination
          (pageChanged)="pageChanged($event)"
          [boundaryLinks]="true"
          [totalItems]="totalItems"
          class="pagination-sm"
          previousText="&lsaquo;"
          nextText="&rsaquo;"
          firstText="&laquo;"
          lastText="&raquo;"
        ></pagination>
      </ng-container>
    </div>
  </div>
</div>