<!-- This displays for the medium/larger devices -->
<div class="jumbotron hidden-xs">
  <div class="container">
    <h2><a routerLink="/payments/payment-options" class="pull-right"><i class="fa fa-fw fa-times"></i></a>&nbsp;</h2>
    <br/>
    <div class="row auto-bill-payment-options">
      <div class="col-xs-6 col-md-4">
        <a routerLink="/payments/payment-options/auto-bill-payment" class="auto-bill-payment-option">
          <table border="0">
            <tbody>
              <tr><td><i class="fa fa-4x fa-credit-card"></i></td></tr>
              <tr><td class="auto-bill-payment-option-action">Pay with Credit or Debit Card</td></tr>
            </tbody>
          </table>
        </a>
      </div>
      <div class="col-xs-6 col-md-4">
        <a routerLink="/payments/payment-options/auto-bill-payment" class="auto-bill-payment-option">
          <table border="0">
            <tbody>
              <tr><td><i class="fa fa-4x fa-cc-paypal"></i></td></tr>
              <tr><td class="auto-bill-payment-option-action">Pay with PayPal</td></tr>
            </tbody>
          </table>
        </a>
      </div>
      <div class="col-xs-6 col-md-4">
        <a routerLink="/payments/payment-options/auto-bill-payment" class="auto-bill-payment-option">
          <table border="0">
            <tbody>
              <tr><td><i class="fa fa-4x fa-check-circle-o"></i></td></tr>
              <tr><td class="auto-bill-payment-option-action">Pay with eCheck</td></tr>
            </tbody>
          </table>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- This displays for the smaller devices -->
<div class="visible-xs">
  <a routerLink="/payments/payment-options"><i class="fa fa-4x fa-arrow-left"></i></a>
  <h1>Setup Auto Payment</h1>
  <br/>
  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
  <br/>
  <h3>Choose payment method below</h3>
  <br/>
  <div class="row auto-bill-payment-options">
    <div class="col-xs-6">
      <a routerLink="/payments/payment-options/auto-bill-payment" class="auto-bill-payment-option">
        <table border="0">
          <tbody>
          <tr><td><i class="fa fa-4x fa-credit-card"></i></td></tr>
          <tr><td class="auto-bill-payment-option-action">Pay with Credit or Debit Card</td></tr>
          </tbody>
        </table>
      </a>
    </div>
    <div class="col-xs-6">
      <a routerLink="/payments/payment-options/auto-bill-payment" class="auto-bill-payment-option">
        <table border="0">
          <tbody>
          <tr><td><i class="fa fa-4x fa-cc-paypal"></i></td></tr>
          <tr><td class="auto-bill-payment-option-action">Pay with PayPal</td></tr>
          </tbody>
        </table>
      </a>
    </div>
    <div class="col-xs-6">
      <a routerLink="/payments/payment-options/auto-bill-payment" class="auto-bill-payment-option">
        <table border="0">
          <tbody>
          <tr><td><i class="fa fa-4x fa-check-circle-o"></i></td></tr>
          <tr><td class="auto-bill-payment-option-action">Pay with eCheck</td></tr>
          </tbody>
        </table>
      </a>
    </div>
  </div>
  <br/>
</div>
