<div class="container-fluid">
<h2>Moving Center</h2>
<form [formGroup]="movingCenterForm" (ngSubmit)="onSubmit(movingCenterForm)" novalidate>
<section [hidden]="nextClicked">
  <p>Let's start with finding out where you are moving to, so we know which options are available to you</p>
  <div class="row">
    <div class="col-md-6">
      <h3>You are Moving From</h3>
      <mygexa-service-account-selector (changedBillingAccount)="serviceChanged($event)"></mygexa-service-account-selector>

    </div>
    <div class="col-md-6">
      <div class="form-group">
        <h3>Shut Off Date</h3>
        <ng2-datepicker [options]="options" formControlName="Current_Service_End_Date" [(ngModel)]="Current_Service_End_Date"></ng2-datepicker>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6">
      <h3>You are Moving To</h3>
      <input type="text" class="form-control" placeholder="Enter New Address" />
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <h3>Turn On Date</h3>
        <ng2-datepicker [options]="options" formControlName="New_Service_Start_Date" [(ngModel)]="New_Service_Start_Date"></ng2-datepicker>
      </div>
    </div>
  </div><br/>
  <div class="alert alert-info fade in alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
    <strong>We're Sorry!</strong> We cannot register your move online, please call 1-888 888 8888 for assistance.
  </div>


  <br/>

  <div class="text-right">
    <button class="btn btn-lg btn-default" (click)="nextButtonClicked()">Next</button>
  </div>
</section>

<section [hidden]="previousClicked">
  <p>A few more items and we can finalize your order</p>
  <h1>Your Service Plan</h1>
  <p> Would you like to keep your existing service plan</p>
  <div class="form-group radio">
    <label class="radio-inline">
      <input type="radio" formControlName="service_plan" value="Current Plan">Keep Current Plan
    </label>
    <label class="radio-inline">
      <input type="radio" formControlName="service_plan" value="New Plan">Select New Plan
    </label>
  </div>
  
   
  <div class="form-group radio">
     <h3>Your Final Bill</h3>
    <label class="radio-inline">
      <input type="radio" formControlName="service_address" value="Current Address">Send to Current Address
    </label>
    <label class="radio-inline">
      <input type="radio" formControlName="service_address" value="New Address">Send to New Address
    </label>
  </div>

  <input type="checkbox" formControlName="agree_to_terms" value="check" id="agree" /> I Agree to the Terms and Conditions,
  click <a>here</a>

  <div class="text-right">
    <button class="btn btn-lg btn-default" (click)="previousButtonClicked()">Previous</button>
  </div>
</section>
</form>
</div>