<h4 class="new-header">NEW PAYMENT ACCOUNT</h4>
<div class="row">
  <div class="col-md-12">
    <button
      class="btn btn-link new-button"
      [disabled]="addingCreditCard"
      (click)="addingCreditCardToggle(true)"
    ><i class="fa fa-fw fa-plus-circle"></i>ADD NEW CREDIT CARD</button>
    <ng-container *ngIf="addingCreditCard">
      <mygexa-payment-method-add-cc
        (changed)="addingCreditCardFormChanged($event)"
      ></mygexa-payment-method-add-cc>
      <br/>
      <div class="text-right">
        <button
          type="button"
          class="btn btn-primary"
          [disabled]="!addingCreditCardFormValid"
          (click)="addingCreditCardSubmit()"
        >Add Now</button>
        <button
          type="button"
          class="btn btn-link"
          (click)="addingCreditCardToggle(false)"
        >Cancel</button>
      </div>
      <hr/>
    </ng-container>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <button
      class="btn btn-link new-button"
      [disabled]="addingEcheck"
      (click)="addingEcheckToggle(true)"><i class="fa fa-fw fa-plus-circle"></i>ADD NEW E-CHECK</button>
    <ng-container *ngIf="addingEcheck">
      <mygexa-payment-method-add-echeck
        (changed)="addingEcheckFormChanged($event)"
      ></mygexa-payment-method-add-echeck>
      <br/>
      <div class="text-right">
        <button
          type="button"
          class="btn btn-primary"
          [disabled]="!addingEcheckFormValid"
          (click)="addingEcheckSubmit()"
        >Add Now</button>
        <button
          type="button"
          class="btn btn-link"
          (click)="addingEcheckToggle(false)"
        >Cancel</button>
      </div>
    </ng-container>
  </div>
</div>
<div>
  <small class="text-danger" *ngIf="errorFromForte"><i class="fa fa-fw fa-asterisk"></i> {{ errorFromForte }}</small>
</div>
