<div class="usage-summary thumbnail-container-height" *ngIf="barChartData.length < 1">
  <div class="thumbnail">
  <br/>
  <p class="text-center"><i class='fa fa-circle-o-notch fa-spin'></i> Loading...</p>
  </div>
</div>
<div class="usage-summary thumbnail-container-height" *ngIf="barChartData.length > 0">
  <div class="thumbnail">
    <div class="clearfix">
      <div *ngFor='let index of barChartData' class="bar-chart col-md-offset-1 col-md-10">
        <canvas class="barCanvas"
          baseChart
          [datasets]="index.datasets"
          [labels]="index.labels"
          [options]="barChartOptions"
          [colors]="barChartColors"
          legend="true"
          chartType="bar"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"
        ></canvas>
      </div>
    </div>
      <div class="caption clearfix">
         <h4>Usage Summary</h4>
          <p>Learn valuable insights to take control of your energy usage, and control your bottom line.</p>
          <p>
            <button class="btn btn-success col-md-offset-2 col-md-8" routerLink="/controls-and-insights/usage-history">View More Now</button>
         </p>
      </div>
   </div>
</div>
