<div class="row emailPanel">
    <div class="col-md-6 col-md-offset-3 col-xs-offset-2">
      <h3>Change Email Address</h3>
      <form id="changeForm" novalidate [formGroup]="changeEmailForm" (ngSubmit)="submitForm(changeEmailForm.value, changeEmailForm.valid)"
        align="center">
        <div class="form-group" [ngClass]="{'has-error':!changeEmailForm.controls['email'].valid && submitAttempt}">
          <input name="email" class="form-control" type="text" [formControl]="changeEmailForm.controls['email']" placeholder="Enter new email Address">
          <div class="has-error" *ngIf="changeEmailForm.controls['email'].hasError('required') && submitAttempt">
            <span class="help-block">Required</span>
          </div>
          <div class="has-error" *ngIf="!changeEmailForm.controls['email'].hasError('required') && changeEmailForm.controls['email'].hasError('validateEmail') && submitAttempt">
            <span class="help-block">Enter a valid email</span>
          </div>
        </div>
        <div class="form-group" [ngClass]="{'has-error':!changeEmailForm.controls['confirmEmail'].valid && submitAttempt}">

          <input class="form-control" validateEqual="email" name="confirmEmail" [formControl]="changeEmailForm.controls['confirmEmail']"
            placeholder="Confirm email Address">
          <div class="has-error" *ngIf="changeEmailForm.controls['confirmEmail'].hasError('required') && submitAttempt">
            <span class="help-block">Required</span>
          </div>
          <div class="has-error" *ngIf="!changeEmailForm.controls['confirmEmail'].hasError('required') && changeEmailForm.controls['confirmEmail'].hasError('validateEmail') && submitAttempt">
            <span class="help-block">Enter a valid email</span>
          </div>
          <div class="has-error" *ngIf="!changeEmailForm.controls['confirmEmail'].hasError('required') && !changeEmailForm.controls['confirmEmail'].hasError('validateEmail') && submitAttempt && !(changeEmailForm.controls['confirmEmail'].value == changeEmailForm.controls['email'].value)">
            <span class="help-block">Email mismatch</span>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6 text-left">
            <a>Cancel</a>
          </div>
          <div class="col-xs-6 text-right">
            <button class="btn btn-default" [disabled]="">Save</button>
          </div>
        </div>

      </form>
    </div>
  </div> 