<section class="confirmation-modal">
  <div  [config]="{ backdrop: 'static', keyboard: false }"
           bsModal #phonePopModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
           aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content ">
        <div class="modal-header">
          <h4 class="modal-title">Important Account Updates</h4>
          <button type="button" class="close" (click)="hidePhoneConfirmationModal()"><span class="close-btn"
                                                                                           aria-hidden="true"><i
            class="fa fa-remove" style="color: white"></i></span></button>
        </div>
        <div class="modal-body container-fluid">
          <p class="text-center">Are you sure you do not want to receive account updates and alerts through text
            messages?</p>
        </div>
        <div class="modal-footer">
          <!--<div class="btn-toolbar text-center">-->
          <button type="button" class="btn"  (click)="hidePhoneConfirmationModal()" style="color: black; border-color: #cccccc; background-color: white; text-transform: none;">No, Return to Form</button>
          <button type="button" class="btn" (click)="saveChanges()" style="color: white; background-color: #00b0ff; text-transform: none;">Yes, Save Changes</button>
          <!--</div>-->
        </div>
      </div>
    </div>

  </div>
</section>

