.confirmation-modal{

  .modal-content{
    text-align: center;
    //width:550px; height: 850px;
    //overflow-y: scroll;
  }
  .modal-header {
    background-color: orange !important;
    padding-top:10px;
    border-bottom: 0px white;
    .modal-title{
      padding:2px 0px 5px 75px ;
      font: bold;
      padding: 10px 0;
          color:#ffffff;

      }
    button.close {
      margin-top:10px;
      text-align: left;
    }
  }
  .control-label {
    text-align: left;
    display: block;
  }
  .help-block {
    // font-size:10px;
    text-align: left;
  }
}
