<ng-template *ngIf="Paymethods === null; then WaitForPaymethods else LoadedPaymethods"></ng-template>
<ng-template #WaitForPaymethods>
  <small class="text-muted"><i class="fa fa-fw fa-circle-o-notch fa-spin"></i> Loading your saved payment methods.</small>
</ng-template>
<ng-template #LoadedPaymethods>
  <ng-template *ngIf="Paymethods.length < 1; then NoPaymethodsToList else ListPaymethods"></ng-template>
  <ng-template #NoPaymethodsToList>
    <!-- Add new Payment Account Section Starts -->
    <div *ngIf="PaymentMessage" [ngClass]="PaymentMessage.classes" [innerHTML]="PaymentMessage.innerHTML"></div>
    <div *ngIf="!(PaymentMessage && PaymentMessage.isCompleted)" [hidden]="PaymentMessage!==null">
      <mygexa-add-payment-accounts (onAddPaymentAccountSubmittedEvent)="handleAddPaymentAccountSubmittedEvent($event)"></mygexa-add-payment-accounts>
    </div>
  </ng-template>
  <ng-template #ListPaymethods>
    <ng-template *ngIf="!!disableIfOnlyOne && Paymethods.length === 1; then DisabledWithOnlyOnePaymethod else ShowingAllPaymethods"></ng-template>
    <ng-template #DisabledWithOnlyOnePaymethod>
      <h4 class="text-muted"><i class="fa fa-fw fa-info-circle"></i> {{ !!disableIfOnlyOneText ? disableIfOnlyOneText : 'You have only one saved payment method.' }}</h4>
    </ng-template>
    <ng-template #ShowingAllPaymethods>
      <h4>{{ !!headerText ? headerText : 'Select Payment Account' }}</h4>
      <div *ngFor="let paymentMethod of Paymethods; let i = index">
        <table class="card-table" cellpadding="0" cellspacing="0" width="100%" [ngClass]="{ 'card-table-odd': i % 2 !== 0 }">
          <tbody>
          <tr>
           <td class="card-abp" width="10%">
              <ng-template *ngIf="initialPaymethod && initialPaymethodDisable === true; then AllowOnlyOtherPaymethodSelection else AllowPaymethodSelection"></ng-template>
              <ng-template #AllowOnlyOtherPaymethodSelection>
                <ng-template *ngIf="initialPaymethod === paymentMethod; then DoNotAllowSelection else DoAllowSelection"></ng-template>
                <ng-template #DoNotAllowSelection>
                  <div class="text-center text-muted">
                    <i class="fa fa-fw fa-minus"></i>
                  </div>
                </ng-template>
                <ng-template #DoAllowSelection>
                  <button class="btn btn-block btn-blank" (click)="PaymethodSelected = paymentMethod">
                    <i class="fa fa-fw" [ngClass]="PaymethodSelected === paymentMethod ? 'fa-check-circle-o' : 'fa-circle-o' "></i>
                  </button>
                </ng-template>
              </ng-template>
              <ng-template #AllowPaymethodSelection>
                <button class="btn btn-block btn-blank" (click)="PaymethodSelected = paymentMethod">
                  <i class="fa fa-fw" [ngClass]="PaymethodSelected === paymentMethod ? 'fa-check-circle-o' : 'fa-circle-o' "></i>
                </button>
              </ng-template>
            </td>
            <td width="90%">
              <div class="row">
                <div class="card-brand col-xs-6 col-md-4">
                  <i class="fa fa-fw" [ngClass]="paymentMethod.getFontAwesomeTag()"></i>{{ paymentMethod.getBrand() }}
                </div>
                <div class="card-ending col-xs-6 col-md-4">
                  ENDING IN <b>{{ paymentMethod.getLast() }}</b>
                </div>
                <div class="card-expires col-xs-6 col-xs-offset-6 col-md-4 col-md-offset-0">
                  {{ paymentMethod.CreditCard ? 'EXP ' + paymentMethod.getExpiration() : '' }}
                </div>
              </div>
            </td>

          </tr>
          </tbody>
        </table>
      </div>
      <br/>
      <div class="row">
        <div class="col-xs-8">
          <button
            class="btn btn-link"
            (click)="cancelSelect()"
            *ngIf="cancelProvide !== false"
          >{{ cancelText || 'Cancel' }}</button>
        </div>
        <div class="col-xs-4">
          <button
            class="btn btn-block btn-primary"
            [disabled]="!PaymethodSelected"
            (click)="submitPaymethod()"
          >{{ submitText || 'Submit' }}</button>
        </div>
      </div>
    </ng-template>
    </ng-template>
</ng-template>
