

.confirmation-modal{
  .modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 320px;
  }
  .modal-content{
    text-align: center;
  }
  .modal-header {
    padding-top:20px;
    border-bottom: 0px white;
    .modal-title {
      padding:2px 0px 5px 75px ;
      font: bold;
      background-color: green;
      color:white;
      .close-btn {
        padding: 10px 10px 10px 10px;
        color: black;
      }
    }
  }
  //.control-label {
  //  text-align: left;
  //  display: block;
  //}
}

@media (max-width: 479px) {
  
  .confirmation-modal{
    
    .modal-title {
      padding:2px 0px 5px 5px ;
    }
  }

}