.moving-address-form{
    h3 {
        margin-bottom:1em;
    }
   
}
 

.service-plan{
    .fa-chevron-right {
        margin: 0 2em;
    }
    .current-plan-card {
    border:2px solid #000;
    margin-top: -3em;
    border-radius: 1em;
    background: #ccc;
    .card-content {
        padding:1em;
        text-align: center;
    }
    }
}

