/* You can add global styles to this file, and also import other style files */

@import 'styles/bootstrap/stylesheets/bootstrap/_variables';

.btn-wireframe {
  background: white;
  cursor: pointer !important;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border: 2px solid black;
  border-bottom-width: 4px;
  border-right-width: 4px;
  border-radius: 6px;
}

hr.breaker {
  border-top: 2px solid black;
}

section.section-container {
  border: 2px solid black;
  padding: 4rem 8rem;
}

/**
 * Breakpoints for my-gexa below:
 */

/* Portrait phones and smaller */
@mixin phones {
  @media (max-width: #{$screen-xs-min}) {
    @content;
  }
}

/* Landscape phones and portrait tablets */
@mixin phone-landscape {
  @media (max-width: #{$screen-xs-max}) {
      @content;
  }
}

/* Portrait tablets and small desktops */
@mixin tablets-only {
  @media (min-width: #{$screen-tablet}) and (max-width: #{$screen-sm-max}) {
    @content;
  }
}


/* Landscape tablets and medium desktops */
@mixin desktops-only{
  @media (min-width: #{$screen-desktop}) and (max-width: #{$screen-md-max}) {
    @content;
  }
}

/* Large desktops and laptops */
@mixin large-screen {
  @media (min-width: #{$screen-lg-min}) {
   @content;
  }
}

// /* Large desktops and laptops */
// @media (min-width: 1200px) {

// }

// /* Landscape tablets and medium desktops */
// @media (min-width: 992px) and (max-width: 1199px) {

// }

// /* Portrait tablets and small desktops */
// @media (min-width: 768px) and (max-width: 991px) {

// }

// /* Landscape phones and portrait tablets */
// @media (max-width: 767px) {

// }

// /* Portrait phones and smaller */
// @media (max-width: 480px) {

// }
