/* You can add global styles to this file, and also import other style files */

@import '../styles/bootstrap/stylesheets/bootstrap/_variables';
@import './breakpoints';
@import './basecolors';

a, a:link, a:visited, a:active {
  text-decoration: none;
}

.btn {
  border-radius: 0;
  text-transform: uppercase;
}

.btn:disabled {
  cursor: pointer !important;
}

.carousel-indicators {
  position: absolute;
  bottom: -10px;
}

.no-padding {
  padding: 0;
}

.fa-wh {
  color: #fff;
}

.btn-blank {
  background: transparent !important;
  border-color: transparent !important;
  color: inherit !important;
  outline: none !important;
}

[hidden] {
  display: none !important;
}

.btn-blank:active {
  box-shadow: none !important;
  outline: none !important;
}

hr.breaker {
  border-top: 2px solid black;
}




footer#footer {
  background-color: #222;
  font-size: 12px;

  .footer-dark {
    background-color: #222;
    border-top: 1px solid #090909;
    overflow: hidden;

    div.container {
      line-height: 32px;

      div.row {
        padding: 0 1rem;

        a,
        a.active {
          color: #fff;
          margin: 0 3px;
        }
      }

      @media (max-width: $screen-xs-max) {
        .text-sm-center,
        .text-sm-center * {
          text-align: center !important;
          padding-left: 0;
          padding-right: 0;
        }
        
        footer.fixedToBottom {
          position: static;
          margin-top: 5px;
          
        }
      }
      
        @media (max-width: $screen-sm-max) {
        .text-sm-center,
        .text-sm-center * {
          text-align: center !important;
          padding-left: 0;
          padding-right: 0;
        }
        
        footer.fixedToBottom {
          position: static;
          margin-top: 5px;
        }
      }
    }
  }
  h4 {
    font-weight: bold;
  }
  .navbar {
    margin-bottom: 0;
  }
}
footer.fixedToBottom {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.fa-green {
  color: $payment-base;
}

.account-menu, .account-menu.open {
  a.active {
    background-color: $account-base !important;
    color: #fff !important;
  }
}

.account-profile {
  h1, h2 {
    color: $account-base;
  }
}
.account-side-panel {
  h1 {
    color: $account-base;
  }
  li:hover {
    background-color: lighten($account-base, 70%);

    a, a:link, a:visited {
      color: $account-base;
    }
  }
  li.active a {
    color: $account-base;
  }
  li.active:before {
    color: $account-base;
  }
}

.my-account {
  .btn-link {
    color: $payment-base;
    position: absolute;
    right: 10px;
    top: 0;
    text-indent: -300px;
    overflow: hidden;

    &:after {
      font-family: "FontAwesome";
      content: "\F040";
      display: inline-block;
      top: 6px;
      text-indent: 0;
      position: absolute;
      right: 12px;
      color: $payment-base;
    }
  }
}

.plans-menu, .plans-menu.open {
  .active {
    background-color: $plans-base !important;
    color: #fff;
  }
}

.plans-profile, .callout-container.plans {
  h1, h2 {
    color:$plans-base;
  }
}

.plans-side-panel {
  h1 {
    color:$plans-base;
  }
  li:hover {
    background-color: lighten($plans-base, 41%);

    a, a:link, a:visited {
      color: $plans-base;
      white-space: pre-line;
    }
  }
  li.active a {
    color: $plans-base;
    white-space: pre-line;

  }
  li.active:before {
    color: $plans-base;
    border-bottom-color: $plans-base;
  }
}

.payment-menu, .payment-menu.open {
  .active {
    background-color: $payment-base !important;
    color: #fff;
  }
}

.payment-side-panel {
  h1 {
    color: $payment-base;
  }
  li:hover {
    background-color: lighten($payment-base, 55%);

    a, a:link, a:visited {
      color: $payment-base;
    }
  }
  li.active a {
    color: $payment-base;
  }
  li.active:before {
    color: $payment-base;
    border-bottom-color: $payment-base;;
  }
}

.payment-profile, .callout-container.payment {
  h1, h2, h3, h4 {
    color:$payment-base;
  }
}

.control-menu, .control-menu.open {
  .active {
    background-color: $control-base !important;
    color: #fff;
  }
}

.control-side-panel {
  h1 {
    color: $control-base;
  }
  li:hover {
    background-color: lighten($control-base, 55%);

    a, a:link, a:visited {
      color: $control-base;
    }
  }
  li.active a {
    color: $control-base;
  }
  li.active:before {
    color: $control-base;
    border-bottom-color: $control-base;;
  }
}

.control-profile, .callout-container.control {
  h1, h2, h3, h4 {
    color:$control-base;
  }
}

.btn-round {
  height: 250px;
  width: 250px;
  border-radius: 100%;

  .fa {
    margin-bottom: 10px;
  }
  .boxed {
    display: block;
    border: 1px solid #fff;
    padding: 10px;
    width: 70%;
    margin: 10px auto;
  }
}
.has-success {
  .form-control {
    border: 1px solid $payment-base;
    color: $payment-base;

    &:focus {
      border-color: $payment-base;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px $payment-base;
    }
  }
}


.custom-nav {
  .nav > li.open > a {
    text-decoration: none;
    background-color: #fff;
  }
  .navbar-nav>li.dropdown-full {
    position: static;
  }
  .navbar-nav>li.dropdown-full>.dropdown-menu {
    width:1170px;
    left: 0;
    right: 0;
    padding: 15px;
    margin: 0 auto;
  }
  .no-margin {
    padding: 10px 40px 40px 40px;
    margin: -15px 0 -15px -15px;
    color: #fff;
    min-height: 245px;

    a, a:link, a:visited, a:active {
      color: #fff;
    }
  }
  .list-center li {
    text-align: center;
    padding: 5px 7px;
    display: block;
  }
  .list-rule {
    a, a:link, a:visited, a:active {
      padding: 10px 15px;
      border-bottom: 1px solid #000;
      display: inline-block;
    }
    strong {
      color: $account-base;
    }
  }
}

.callout-container {
  padding-top: 40px;
  padding-bottom:40px;
  margin-top: 50px;
  background-color: rgba(239,236,201,1.0)
}

.thumbnail-container-height > .thumbnail {
  min-height: 300px;
  position: relative;

  .caption {
    width: 100%;
    bottom: 0;
    position: absolute;
    background: #fff;
  }
}

.form-group .fa.fa-asterisk {
  font-size: 8px;
}

@media (max-width: $screen-sm-max) { }
@media (max-width: $screen-xs-max) {
  .text-xs-left {
    text-align: left !important;
  }
}

.card-container {
  border: 2px solid black;
  padding: 2rem 4rem;
  margin-bottom:4rem;
  display: block;
  width:100%;
  position:relative;
  &.card-container-height{
    height:20em;

    @include phone-landscape {
      height:auto;
    }
  }
  .card-content {
    height:12.5em;

    @include phone-landscape {
      height:auto;
    }
  }
  .card-button{
    position:absolute;
    bottom:0;
    right:0;

    @include phone-landscape {
      position: inherit;
    }
  }
}

.position-relative{
  position: relative;
}

.moving-address-date-picker {
  .datepicker-container{
    top: 1em;
  }
}

 .popover-title{
         background-color: $payment-base !important;
          color:#ffffff;

    }
.popover {
  padding:0px;
}


.bg-info form .form-group {
  margin-left: 0;
  margin-right: 0;
}

.alert {
    border-left: 10px solid;
}

.tooltipClass {
  background-color: black !important;
  color:white !important;
  width: 170px !important;
  font-size:12px !important;
  padding: 5px 5px 5px 5px !important;
}
.bs-tooltip-top {
  min-width: 155px;
}
.mg-bt-15 {
  margin-bottom: 15px;
}