<div class="row passwordPanel">
  <div class="col-md-6">
    <h3>Change Password</h3>
    <form id="changeForm" novalidate [formGroup]="changePasswordForm" (ngSubmit)="submitForm(changePasswordForm.value, changePasswordForm.valid)"
      align="center">
      <div class="form-group" [ngClass]="{'has-error':!changePasswordForm.controls['currentPassword'].valid && submitAttempt}">
        <input type="password" name="currentPassword" class="form-control" [formControl]="changePasswordForm.controls['currentPassword']"
          placeholder="Typer your current password">
        <div class="has-error" *ngIf="changePasswordForm.controls['currentPassword'].hasError('required') && submitAttempt">
          <span class="help-block">Required</span>
        </div>
      </div>
      <div class="form-group" [ngClass]="{'has-error':!changePasswordForm.controls['password'].valid && submitAttempt}">
        <input type="password"  name="password" class="form-control" [formControl]="changePasswordForm.controls['password']"
          placeholder="Typer your new password">
        <div class="has-error" *ngIf="changePasswordForm.controls['password'].hasError('required') && submitAttempt">
          <span class="help-block">Required</span>
        </div>
      </div>
      <div class="form-group" [ngClass]="{'has-error':!changePasswordForm.controls['confirmPassword'].valid && submitAttempt}">
        <input type="password" class="form-control" validateEqual="password" name="confirmPassword"
          [formControl]="changePasswordForm.controls['confirmPassword']" placeholder="Retype your new password">
        <div class="has-error" *ngIf="changePasswordForm.controls['confirmPassword'].hasError('required') && submitAttempt">
          <span class="help-block">Required</span>
        </div>

        <div class="has-error" *ngIf="!changePasswordForm.controls['confirmPassword'].hasError('required') && submitAttempt && !(changePasswordForm.controls['confirmPassword'].value == changePasswordForm.controls['password'].value)">
          <span class="help-block">Password mismatch</span>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 text-left">
          <a>Cancel</a>
        </div>
        <div class="col-xs-6 text-right">
          <button class="btn btn-default" [disabled]="">Save</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-6 password-hint hidden-xs">
    <h4>Password Hint</h4>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium </p>
    <p>At vero eos et accusamus et iusto odio dignissimos ducimus </p>
    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>