<section class="account-profile">
  <div class="row">
    <div class="col-md-12">
      <h2>
        Personal Information
        <!--<i class="fa fa-user-circle fa-spin"></i>-->
      </h2>
    </div>
  </div>
  <div class="account-info">
    <h3>Charlie Brown</h3>
    <p>Account No: 1370351-3 </p>
  </div>

  <div class="row">
    <div class="col-md-6 col-xs-12">
      <h5>Service Address</h5>
      <h4>20455 - TX-249 #200,</h4>
      <h4>Houston</h4>
      <h4>TX - 77-70 </h4>
    </div>
    <div class="col-md-6 col-xs-12">
      <h5>Email Address</h5>
      <div class="profile-inline">
        <h4>cbrown@gmail.com </h4>
        <a href="">edit</a></div>
    </div>
  </div>

</section>
<mygexa-security-information></mygexa-security-information>
<mygexa-paperless-settings></mygexa-paperless-settings>
