/* will refactor this into sass vars for menu color rules */
@import '../../../../basecolors';

.payment-options {

  .payment-option {
    text-align: center;
    display: block;
    text-decoration: none;
    margin-bottom: 2rem;
    padding: 30px;
    display: block;
    border: 1px solid transparent;
    opacity: .8;

    .fa {
      color: $plans-base;
    }

    &.payment-option-active {
      border: 1px solid $payment-base;
      opacity: 1.0;
    }
    
     &.payment-option-active:after {
    display: block;
    position: absolute;
    content: "";
    height: 0;
    bottom: -135px;
    left: 16px;
    border: 130px solid transparent;
    border-top: 25px solid #2eb134;
    }

    h4 {
      margin-top: 0;
    }
    .payment-option-name {
      margin-top: 20px;

    }
  }
}