<section class="section-container">

  <div [ngClass]="{'hidden-xs': router.url !== '/payments/payment-options'}">
    <h2>Payment Options</h2>
    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. </p>

    <br/>
    <h4>Select Payment Option</h4>
    <div class="row payment-options">
      <div class="col-md-4">
        <a class="payment-option"
           routerLinkActive="payment-option-active"
           [routerLink]="router.url === '/payments/payment-options/auto-bill-payment' ? '/payments/payment-options' : '/payments/payment-options/auto-bill-payment'"
        >
          <table border="0">
            <tbody>
            <tr><td class="payment-option-caption">{{ ActiveBillingAccount?.Enrolled_In_Auto_Bill_Pay ? 'You\'re enrolled in Autopay' : 'Never forget to pay your bill again, setup Autopay' }}</td></tr>
            <tr><td class="payment-option-icon"><i class="fa fa-4x fa-clock-o"></i></td></tr>
            <tr><td class="payment-option-name">{{ ActiveBillingAccount?.Enrolled_In_Auto_Bill_Pay ? 'View' : 'Setup' }} Autopay</td></tr>
            </tbody>
          </table>
        </a>
      </div>
      <div class="col-md-4">
        <a class="payment-option"
           routerLinkActive="payment-option-active"
           [routerLink]="router.url === '/payments/payment-options/budget-billing' ? '/payments/payment-options' : '/payments/payment-options/budget-billing'"
        >
          <table border="0">
            <tbody>
            <tr><td class="payment-option-caption">Pay the same amount every month</td></tr>
            <tr><td class="payment-option-icon"><i class="fa fa-4x fa-usd"></i></td></tr>
            <tr><td class="payment-option-name">Budget Billing</td></tr>
            </tbody>
          </table>
        </a>
      </div>
      <div class="col-md-4">
        <a class="payment-option"
           routerLinkActive="payment-option-active"
           [routerLink]="router.url === '/payments/payment-options/payment-extension' ? '/payments/payment-options' : '/payments/payment-options/payment-extension'"
        >
          <table border="0">
            <tbody>
            <tr><td class="payment-option-caption">Can pay right now?<br/>We got you covered.</td></tr>
            <tr><td class="payment-option-icon"><i class="fa fa-4x fa-handshake-o"></i></td></tr>
            <tr><td class="payment-option-name">Payment Extension</td></tr>
            </tbody>
          </table>
        </a>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>

</section>
