
<section class="refer-friend-options">
  <form id="refer-option">
  <div class="container">
    <div class="row" style="padding: 0px 0px 40px 0px">
      <!--<h1><span class = "label label-default">Option 1</span></h1>-->
      <div class="col-xs-2" >
        <label>Option 1</label>
      </div>
      <div class="col-xs-6">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
        eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
      </div>
    </div>
    <div style="padding-left: 450px"><h2> OR </h2></div>
    <div class="row" style="padding:40px 0px 0px 0px">
      <!--<h1><span class = "label label-default">Option 1</span></h1>-->
      <div class="col-xs-2">
        <label>Option 1</label>
      </div>
      <div class="col-xs-6">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
        eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
      </div>
    </div>
    <div class="row" style="padding:10px 0px 0px 0px; color:#A9A9A9">
      <div class="col-xs-2">
      </div>
      <div class="col-xs-6">
        <b>Copy the below link & share with your friends and family</b>
      </div>
    </div>
    <div class="row" style="padding:10px 0px 0px 0px; color:#A9A9A9">
      <div class="col-xs-2">
      </div>
      <div class="col-xs-6">
        <label class="linkLabel">https://zkjdgfuk/RefereeEnrollment.aspx?Referralid=123456 &nbsp; &nbsp; <i class="fa fa-link" aria-hidden="true"></i> </label>
      </div>
    </div>
  </div>
  </form>
</section>
