.refer-friend-options{
  #refer-option{
    margin: 40px 10px 20px 10px;
  }
  p{
    text-align: left;
  }
  label{
    display: inline-block;
    text-align: center;
    background-color: Black;
    color: white;
    height:55px;
    width:105px;
    padding:15px
  }
  .linkLabel{
    display: inline-block;
    text-align: center;
    background-color: #cccccc;
    color: black;
    height:55px;
    width:505px;
    padding:15px
  }


}
