<div class="budget-billing-signup thumbnail-container-height">
  <div class="thumbnail">
    <img src = "/assets/global/gexa-home-autopay.png" alt = "auto pay image">
    <div class="caption clearfix">
      <h4>Signup for Paperless Billing</h4>
      <p>Why Stress out about deadlines when
        you can<br/> just set it and forget it.</p>
      <p>
        <button class="btn btn-warning col-md-offset-2 col-md-8"  routerLink="/account/profile">Signup Now</button>
      </p>
    </div>
  </div>
</div>
