<div class="card-container refer-program card-container-height">
  <h4>Refer a friend program</h4>
  <div class="row">
    <div class="col-md-8">
      <p>Neque porro quisquam est, accusantium doloremque qui dolorem ipsum quia dolor sit amet, consectetur,accusantium doloremque  adipisci velit</p>
    </div>
    <div class="col-md-2">
      <i class="fa fa-picture-o fa-5x" aria-hidden="true"></i>
    </div>
  </div>
  <br/>
  <div class="text-right">
    <button class="btn btn-wireframe">Find out more</button>
  </div>
</div>