<div class="refer-a-friend thumbnail-container-height">
  <div class="thumbnail">
      <img src = "/assets/global/gexa-home-reffer.png" alt = "auto pay image">
      <div class ="caption clearfix">
         <h4>Refer a Friend</h4>
         <p>Save money on your bill by referring your friends to Gexa Energy. Plus, they save too.</p>
         <p>
            <button class="btn btn-info col-md-offset-2 col-md-8" (click)="handleClick()" [disabled]="IsDisconnectedServiceAddress"
                    routerLink="/account/refer-a-friend/referral-options">Get the Details</button>
         </p>
      </div>
   </div>
</div>
